Server/lib/flows/Switch_Luz.json
[{"id":"a94faaa5.ef79d8","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":768.2220458984375,"y":814.0554809570312,"wires":[]},{"id":"581e14f1.5cb794","type":"ui_switch","z":"a76391e.e9c7d7","name":"Luz","label":"Teste Luz","group":"429684d4.0d8494","order":0,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"ape/teste/luz1/change","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":606.52783203125,"y":816.1668395996094,"wires":[["a94faaa5.ef79d8"]]},{"id":"f0a4ed93.2918f","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable","func":"if(msg.payload === \"disconnect\")\n{\n    msg.enabled = false;\n\n} else {\n     msg.enabled = true;\n}\n\n\n\nreturn msg\n","outputs":1,"noerr":0,"x":428.36492919921875,"y":816.6829223632812,"wires":[["581e14f1.5cb794"]]},{"id":"673b790a.5dd038","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic/group","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":615.587158203125,"y":782.7939453125,"wires":[]},{"id":"c74ce004.8b21a","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste","qos":"1","broker":"25167bbc.e1295c","x":208.333251953125,"y":791.6666412353516,"wires":[["f0a4ed93.2918f"]]},{"id":"2d3b3559.1139e2","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/luz1","qos":"1","broker":"25167bbc.e1295c","x":218.6665802001953,"y":846.6665649414062,"wires":[["f0a4ed93.2918f"]]},{"id":"4e1c3f91.4d6fa","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid\nape/teste\n\nlocationid/deviceid/mqttAtuadorId\nape/teste/luz1","x":210.0498809814453,"y":754.4500122070312,"wires":[]},{"id":"25167bbc.e1295c","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"429684d4.0d8494","type":"ui_group","z":"","name":"Teste","tab":"a6128e88.77045","order":3,"disp":true,"width":"4","collapse":false},{"id":"a6128e88.77045","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]