Server/BKP/NODERED/flows.json
[
    {
        "id": "c9c1b3c7a5616223",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "976c70110df5a0ff",
        "type": "tab",
        "label": "DHT_NOVO",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad177fcd51e7a7f3",
        "type": "tab",
        "label": "Previsao Tempo Novo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a43f8e8e0dc6e41",
        "type": "tab",
        "label": "Grafico",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be470d6210457a9f",
        "type": "tab",
        "label": "Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5caaf21f49c52d08",
        "type": "tab",
        "label": "Input SQL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b9ed4cef3ebba293",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac552325a4ea12f7",
        "type": "group",
        "z": "c9c1b3c7a5616223",
        "name": "Enviar msg mqtt ao iotpaulo2",
        "style": {
            "label": true,
            "fill": "#ffff7f"
        },
        "nodes": [
            "d71753c5f5e721b1",
            "df538c03fb805b70"
        ],
        "x": 174,
        "y": 39,
        "w": 352,
        "h": 82
    },
    {
        "id": "0266efbcfc4ed39b",
        "type": "group",
        "z": "ad177fcd51e7a7f3",
        "name": "API Open Weather",
        "style": {
            "label": true
        },
        "nodes": [
            "e133fe74113878e1",
            "9a5c9197b4beec6e",
            "9523d0ea3bc78a8d",
            "e828f693382b49b1",
            "0b49a4d64359257a",
            "972dd044dcc682b7",
            "68e7f9afedef9882",
            "4aa7c38d813aea0b",
            "57c31a72b144c5fd",
            "f456689c6d0b5e73",
            "abb48dbd6c6aa014"
        ],
        "x": 14,
        "y": -1,
        "w": 1032,
        "h": 362
    },
    {
        "id": "c24a385efa0d3252",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "name": "Grafico Por Comodo",
        "style": {
            "label": true
        },
        "nodes": [
            "aab069e276d658b5",
            "efc7a06a8911634a",
            "af533934bd41b9e5",
            "d19666d4565889d5",
            "c0f49537973afcd8",
            "203ad9262ef267d3",
            "fd1157bc2238a2bb",
            "64e8458e3c6d589b",
            "01f555def40ec78c",
            "7b6a3028f399058d",
            "145cc7776c6e960f",
            "c687e40a2246ed85",
            "7a215a710e64386f",
            "652bea4c3e227266",
            "e925df9f9c985bd8",
            "5301ebce256a8960",
            "e14e9ed9d7521100",
            "300ddb43ad93d711",
            "e91ad2f67e4d49b6",
            "8339988428ab1a9c",
            "9e29d553f7e7d1e5",
            "b43f99df55c39403",
            "cb22082460c30efe"
        ],
        "x": 64,
        "y": 219,
        "w": 1362,
        "h": 662
    },
    {
        "id": "9d16db9412d3cbfa",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "name": "Grafico Grafico Multiplo Comodo",
        "style": {
            "label": true
        },
        "nodes": [
            "b7b29dda7336152e",
            "cfe7b767a0e789c0",
            "eff2051ee3d5e2c1",
            "528f92f96f02ab2a",
            "54506384c609b78a",
            "2e41ac1063267434",
            "6f2cc8ce72fc3bd4",
            "fecd18830cab9fbf",
            "1d197ade866175e7",
            "7f494d49b63bfd42",
            "4f3133ecaaa597b2"
        ],
        "x": 94,
        "y": 999,
        "w": 1212,
        "h": 402
    },
    {
        "id": "ca8e4369715765e7",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "name": "Grafico Multiplo Comodo Umd/Temp",
        "style": {
            "label": true
        },
        "nodes": [
            "15259f1a220dfb26",
            "62fdb35e3c822361",
            "26fbce81c17ddd6a",
            "d0d832e78d024094",
            "bb823196c507ca70",
            "d6b89155ea711b81",
            "737dc1142170dbc2",
            "c2d756297920ba28",
            "0f45459ffa2911ba",
            "a25c78736e2e99b5",
            "bf805937043479ee",
            "d29991341311cc9a",
            "178b20552dcc7253"
        ],
        "x": 94,
        "y": 1419,
        "w": 1232,
        "h": 402
    },
    {
        "id": "b361193613f037c3",
        "type": "group",
        "z": "976c70110df5a0ff",
        "name": "Excluir local com mais de 24hs off line da variavel c_time_new",
        "style": {
            "label": true
        },
        "nodes": [
            "510d79b01895e3c0",
            "11fd003af734d01d",
            "9f537e606d197d9f",
            "48c8181c177cf6ef"
        ],
        "x": 94,
        "y": 39,
        "w": 832,
        "h": 82
    },
    {
        "id": "04342e764b448045",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "name": "Grafico Grande",
        "style": {
            "label": true
        },
        "nodes": [
            "7165b23606f1c16e",
            "8b7128b966a28f44",
            "e8b4687bd3b529f4",
            "0e2c60393979c401",
            "555e6cb4e184fe4b",
            "c6e97bfb52b152fb",
            "3ad32ba6217f1612",
            "1de4ce04d51b4999",
            "35b49e224e128950",
            "3350f7a3f50b475c",
            "669a8ec6dc98942d",
            "4cdf1da6da6eec51",
            "7cf5bb98e7291be8",
            "1c4df43fe7a3e415",
            "63fbe0ceb5a51ec2",
            "157cc1e7462adc39"
        ],
        "x": 94,
        "y": 2239,
        "w": 1232,
        "h": 382
    },
    {
        "id": "4da7e4065099050b",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "name": "Grafico Status",
        "style": {
            "label": true
        },
        "nodes": [
            "ed6b860bb662706b",
            "1d36a5a3aa3b6eb2",
            "7f0442daddee70a6",
            "97ebbf1eb3a0a645",
            "1208d3b4ba05e90c",
            "7bbbaf94aae86036",
            "5b3f69db094ebc4c",
            "7d879cb054f5840b",
            "a07a21a34c8dd8d5",
            "154df7a1a6c7342a",
            "5ed4028727b27bad",
            "f52edc5c66d2d50e",
            "0ff1f64e88c8ab2e",
            "cd03b4d1d0e8456b",
            "62bf7d13016a8af4"
        ],
        "x": 114,
        "y": 2779,
        "w": 1232,
        "h": 402
    },
    {
        "id": "45d5ac7129d63bf5",
        "type": "group",
        "z": "5caaf21f49c52d08",
        "name": "Input dados no SQL",
        "style": {
            "label": true
        },
        "nodes": [
            "641f6247936cf109",
            "b05a9fc159a06c3c",
            "266afc2175ebc8ce",
            "857638ab344b977e",
            "31a2108b4529fdaf"
        ],
        "x": 48,
        "y": 93,
        "w": 958,
        "h": 434
    },
    {
        "id": "b05a9fc159a06c3c",
        "type": "group",
        "z": "5caaf21f49c52d08",
        "g": "45d5ac7129d63bf5",
        "name": "Input para SQL do que vem do Termometro",
        "style": {
            "label": true
        },
        "nodes": [
            "39f8172ad42e6939",
            "1efa5b4d03faf9a5",
            "60e64525e93da268"
        ],
        "x": 74,
        "y": 219,
        "w": 672,
        "h": 82
    },
    {
        "id": "7b6a3028f399058d",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "descomentar qdo alinha mqtt com location",
        "style": {
            "label": true,
            "fill": "#ffffbf"
        },
        "nodes": [
            "92328e21c01ddeba",
            "53e19690bcc038bc"
        ],
        "x": 94,
        "y": 359,
        "w": 312,
        "h": 142
    },
    {
        "id": "6f2cc8ce72fc3bd4",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "descomentar qdo alinha mqtt com location",
        "style": {
            "label": true,
            "fill": "#ffffbf"
        },
        "nodes": [
            "45a285cb17384e98",
            "0013e73dfdc17992"
        ],
        "x": 134,
        "y": 1079,
        "w": 312,
        "h": 142
    },
    {
        "id": "c2d756297920ba28",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "descomentar qdo alinha mqtt com location",
        "style": {
            "label": true,
            "fill": "#ffffbf"
        },
        "nodes": [
            "d3c3cddf6781b693",
            "683c99777a4fa716"
        ],
        "x": 134,
        "y": 1499,
        "w": 312,
        "h": 142
    },
    {
        "id": "1de4ce04d51b4999",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "descomentar qdo alinha mqtt com location",
        "style": {
            "label": true,
            "fill": "#ffffbf"
        },
        "nodes": [
            "ec18fdffa81ef127",
            "62e28841fb1036fc"
        ],
        "x": 134,
        "y": 2319,
        "w": 312,
        "h": 142
    },
    {
        "id": "a07a21a34c8dd8d5",
        "type": "group",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "descomentar qdo alinha mqtt com location",
        "style": {
            "label": true,
            "fill": "#ffffbf"
        },
        "nodes": [
            "469cd189a7fb7c8a",
            "b715fd5e2be725cd"
        ],
        "x": 154,
        "y": 2859,
        "w": 312,
        "h": 142
    },
    {
        "id": "266afc2175ebc8ce",
        "type": "group",
        "z": "5caaf21f49c52d08",
        "g": "45d5ac7129d63bf5",
        "name": "Input para o SQL de tudo que bem como DHT",
        "style": {
            "label": true
        },
        "nodes": [
            "031fd04e378c123f",
            "98746e32f8a2baa7"
        ],
        "x": 294,
        "y": 119,
        "w": 452,
        "h": 82
    },
    {
        "id": "857638ab344b977e",
        "type": "group",
        "z": "5caaf21f49c52d08",
        "g": "45d5ac7129d63bf5",
        "name": "Input do que vem do API de Previsáo",
        "style": {
            "label": true
        },
        "nodes": [
            "f23612c85306e7f1",
            "efdc7ed4387cd7d9"
        ],
        "x": 274,
        "y": 319,
        "w": 472,
        "h": 82
    },
    {
        "id": "31a2108b4529fdaf",
        "type": "group",
        "z": "5caaf21f49c52d08",
        "g": "45d5ac7129d63bf5",
        "name": "Input para SQL das infos de Offset",
        "style": {
            "label": true
        },
        "nodes": [
            "e35e8a6abfa55c03",
            "2138a8e808afe732"
        ],
        "x": 274,
        "y": 419,
        "w": 472,
        "h": 82
    },
    {
        "id": "25167bbc.e1295c",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eb2f0c06d129b47a",
        "type": "mqtt-broker",
        "name": "iotpaulo2",
        "broker": "iotpaulo2.ddns.net",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "32b4f5d57b97ee5e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "85f19b17a7dd39ef",
        "type": "ui_tab",
        "name": "Status",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "7974b665975466d3",
        "type": "ui_tab",
        "name": "Celular",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "d465e2d3e67fc208",
        "type": "ui_tab",
        "name": "Grafico",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5f61f5e7481d3864",
        "type": "ui_group",
        "name": "G1",
        "tab": "85f19b17a7dd39ef",
        "order": 1,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "d3133e84b2df0f0a",
        "type": "ui_group",
        "name": "G2",
        "tab": "85f19b17a7dd39ef",
        "order": 2,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "c5ede3b960b4a656",
        "type": "ui_group",
        "name": "G3",
        "tab": "85f19b17a7dd39ef",
        "order": 3,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "606728ffca968749",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "7974b665975466d3",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f08db2f85f4c80f1",
        "type": "ui_group",
        "name": "Grafico Por Comodo",
        "tab": "d465e2d3e67fc208",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f303a3fc5e3847e2",
        "type": "MySQLdatabase",
        "name": "iotpaulo",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iotpaulo",
        "tz": "",
        "charset": ""
    },
    {
        "id": "1da3829898f3f838",
        "type": "MySQLdatabase",
        "d": true,
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "nodered",
        "tz": ""
    },
    {
        "id": "afe3436de4bd4e09",
        "type": "mqtt-broker",
        "name": "local_mqtt_v5",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "625f7c53a7746135",
        "type": "ui_tab",
        "name": "Novo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "006f23a205ea4fc5",
        "type": "ui_spacer",
        "z": "1a43f8e8e0dc6e41",
        "name": "spacer",
        "group": "f08db2f85f4c80f1",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "3718a67c6b88b822",
        "type": "ui_group",
        "name": "Grafico Multiplo Comodo",
        "tab": "d465e2d3e67fc208",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6e9cedae7236c6f",
        "type": "ui_group",
        "name": "Multiplo Comodo Umd/Temp",
        "tab": "d465e2d3e67fc208",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ade83989af7bf1d7",
        "type": "ui_spacer",
        "z": "1a43f8e8e0dc6e41",
        "name": "spacer",
        "group": "b6e9cedae7236c6f",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "9e3f382fa9602a28",
        "type": "ui_tab",
        "name": "Grafico Status",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a41874d54b1af80",
        "type": "ui_tab",
        "name": "Grafico Grande",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1643394473b50515",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "4a41874d54b1af80",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5090d03e93552931",
        "type": "ui_group",
        "name": "Todos",
        "tab": "625f7c53a7746135",
        "order": 1,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a72e85949632c8ba",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "9e3f382fa9602a28",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ccd7cdf4357225ad",
        "type": "ui_spacer",
        "z": "1a43f8e8e0dc6e41",
        "name": "spacer",
        "group": "1643394473b50515",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "3d7d8f835ea7c2af",
        "type": "ui_spacer",
        "z": "1a43f8e8e0dc6e41",
        "name": "spacer",
        "group": "1643394473b50515",
        "order": 8,
        "width": 16,
        "height": 1
    },
    {
        "id": "073d48481a30a4d5",
        "type": "ui_spacer",
        "z": "1a43f8e8e0dc6e41",
        "name": "spacer",
        "group": "1643394473b50515",
        "order": 9,
        "width": 16,
        "height": 1
    },
    {
        "id": "e5fa9be68306851a",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "79d502afdea7a9eb",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4d2551cc44dccf02",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "e5fa9be68306851a",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "79d502afdea7a9eb",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "045db226959d230a",
        "type": "ui-group",
        "name": "Group 1",
        "page": "4d2551cc44dccf02",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "d71753c5f5e721b1",
        "type": "mqtt in",
        "z": "c9c1b3c7a5616223",
        "g": "ac552325a4ea12f7",
        "name": "",
        "topic": "ape/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25167bbc.e1295c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "df538c03fb805b70",
                "377b91a603159830"
            ]
        ]
    },
    {
        "id": "df538c03fb805b70",
        "type": "mqtt out",
        "z": "c9c1b3c7a5616223",
        "d": true,
        "g": "ac552325a4ea12f7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eb2f0c06d129b47a",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "377b91a603159830",
        "type": "debug",
        "z": "c9c1b3c7a5616223",
        "name": "mqtt_all",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "038912367f75d4df",
        "type": "mqtt in",
        "z": "c9c1b3c7a5616223",
        "name": "",
        "topic": "ape/nodeproto/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25167bbc.e1295c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "565518d5aad87a93"
            ]
        ]
    },
    {
        "id": "565518d5aad87a93",
        "type": "debug",
        "z": "c9c1b3c7a5616223",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "b076fcd91cb92685",
        "type": "ui_template",
        "z": "976c70110df5a0ff",
        "group": "5090d03e93552931",
        "name": "Novo HTML-estatico",
        "order": 3,
        "width": "5",
        "height": "1",
        "format": "<style>\n  /* Alvo: O container interno do Dashboard */\n  .nr-dashboard-template {\n    padding: 0 !important;\n    margin: 0 !important;\n    background: transparent !important;\n  }\n\n  /* Remove a sombra e a borda que o Node-RED coloca no Widget */\n  ui-component {\n    background: transparent !important;\n    box-shadow: none !important;\n    border: none !important;\n  }\n\n  /* Garante que o fundo do grupo não apareça se o widget preencher tudo */\n  .md-card {\n    background: transparent !important;\n    box-shadow: none !important;\n  }\n</style>\n\n<div style=\"display: flex; justify-content: center; font-family: 'Helvetica Neue', Arial, sans-serif;\">\n  <div\n    style=\"background-color: #262626; width: 260px; padding: 20px; border-radius: 24px; color: white; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,0.5);\">\n\n    <div\n      style=\"font-size: 14px; font-weight: bold; color: #4dabf7; margin-bottom: 20px; text-transform: uppercase; letter-spacing: 2px;\">\n      Ambientes - Estatico\n    </div>\n\n    <div style=\"margin-bottom: 20px;\">\n      <div\n        style=\"font-size: 12px; color: #4dabf7; text-align: left; margin-bottom: 10px; border-bottom: 1px solid #333; padding-bottom: 5px;\">\n        Quarto</div>\n      <div style=\"display: flex; justify-content: space-around; align-items: center;\">\n        <div style=\"text-align: center;\">\n          <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Temp</div>\n          <div style=\"font-size: 22px; font-weight: bold;\">{{msg.payload.quarto.temp}}°C</div>\n        </div>\n        <div style=\"text-align: center;\">\n          <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Umidade</div>\n          <div style=\"font-size: 22px; font-weight: bold; color: #4dabf7;\">{{msg.payload.quarto.hum}}%</div>\n        </div>\n      </div>\n    </div>\n\n    <div style=\"margin-bottom: 20px;\">\n      <div\n        style=\"font-size: 12px; color: #4dabf7; text-align: left; margin-bottom: 10px; border-bottom: 1px solid #333; padding-bottom: 5px;\">\n        Sala</div>\n      <div style=\"display: flex; justify-content: space-around; align-items: center;\">\n        <div style=\"text-align: center;\">\n          <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Temp</div>\n          <div style=\"font-size: 22px; font-weight: bold;\">{{msg.payload.sala.temp}}°C</div>\n        </div>\n        <div style=\"text-align: center;\">\n          <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Umidade</div>\n          <div style=\"font-size: 22px; font-weight: bold; color: #4dabf7;\">{{msg.payload.sala.hum}}%</div>\n        </div>\n      </div>\n    </div>\n\n    <div style=\"margin-bottom: 20px;\">\n      <div\n        style=\"font-size: 12px; color: #4dabf7; text-align: left; margin-bottom: 10px; border-bottom: 1px solid #333; padding-bottom: 5px;\">\n        Varanda </div>\n      <div style=\"display: flex; justify-content: space-around; align-items: center;\">\n        <div style=\"text-align: center;\">\n          <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Temp</div>\n          <div style=\"font-size: 22px; font-weight: bold;\">{{msg.payload.varanda.temp}}°C</div>\n        </div>\n        <div style=\"text-align: center;\">\n          <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Umidade</div>\n          <div style=\"font-size: 22px; font-weight: bold; color: #4dabf7;\">{{msg.payload.varanda.hum}}%</div>\n        </div>\n      </div>\n    </div>\n\n\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e6c5e571bf3dd034",
        "type": "mqtt in",
        "z": "976c70110df5a0ff",
        "name": "",
        "topic": "ape/+/dht",
        "qos": "1",
        "datatype": "auto",
        "broker": "afe3436de4bd4e09",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 169,
        "y": 621,
        "wires": [
            [
                "61e5852d042235a6",
                "01c96c2dd01c35df"
            ]
        ]
    },
    {
        "id": "61e5852d042235a6",
        "type": "json",
        "z": "976c70110df5a0ff",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 620,
        "wires": [
            [
                "42815f9671290513",
                "a24979b4c65ed69b",
                "ebe3c2615d9db631"
            ]
        ]
    },
    {
        "id": "2dc90d77d0e2d0c2",
        "type": "ui_template",
        "z": "976c70110df5a0ff",
        "group": "5090d03e93552931",
        "name": "Novo HTML-dinamico",
        "order": 1,
        "width": "5",
        "height": "1",
        "format": "<style>\n  /* Remove as travas de altura e scroll */\n  .nr-dashboard-template,\n  ui-component,\n  md-card {\n    height: auto !important;\n    overflow: visible !important;\n  }\n\n  md-card {\n    background: transparent !important;\n    box-shadow: none !important;\n    border: none !important;\n  }\n</style>\n\n<div ng-init=\"init()\">\n  <div style=\"display: flex; justify-content: center; font-family: 'Helvetica Neue', Arial, sans-serif;\">\n    <div id=\"meu-container-dinamico\"\n      style=\"background-color: #262626; width: 260px; padding: 20px; border-radius: 24px; color: white; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,0.5);\">\n\n      <div\n        style=\"font-size: 14px; font-weight: bold; color: #4dabf7; margin-bottom: 20px; text-transform: uppercase; letter-spacing: 2px;\">\n        Ambientes\n      </div>\n\n      <div ng-repeat=\"(chave, dados) in msg.payload\" style=\"margin-bottom: 20px;\">\n        <div\n          style=\"font-size: 12px; color: #4dabf7; text-align: left; margin-bottom: 10px; border-bottom: 1px solid #333; padding-bottom: 5px; text-transform: capitalize;\">\n          {{dados.nome}}\n        </div>\n\n        <div style=\"display: flex; justify-content: space-around; align-items: center;\">\n          <div style=\"text-align: center;\">\n            <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Temp</div>\n            <div style=\"font-size: 22px; font-weight: bold;\">{{dados.temp}}°C</div>\n          </div>\n          <div style=\"text-align: center;\">\n            <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Umidade</div>\n            <div style=\"font-size: 22px; font-weight: bold; color: #4dabf7;\">{{dados.hum}}%</div>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<script>\n  (function($scope) {\n    // Toda vez que msg chegar, avisamos ao navegador para disparar um 'resize'\n    // Isso simula o comportamento de quando você redimensiona a janela do browser manualmente\n    $scope.$watch('msg', function() {\n        setTimeout(function() {\n            window.dispatchEvent(new Event('resize'));\n        }, 200); // Pequeno atraso para o HTML renderizar antes de medir\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "04ea3c9dc0524e68",
        "type": "link in",
        "z": "976c70110df5a0ff",
        "name": "input 5 min",
        "links": [
            "72b18145fb3bcc07"
        ],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "a24979b4c65ed69b",
                "ebe3c2615d9db631"
            ]
        ],
        "l": true,
        "info": "5 min\n"
    },
    {
        "id": "72b18145fb3bcc07",
        "type": "link out",
        "z": "976c70110df5a0ff",
        "name": "input 5 min",
        "mode": "link",
        "links": [
            "04ea3c9dc0524e68",
            "11fd003af734d01d",
            "1d197ade866175e7",
            "448f50b65fef8945",
            "669a8ec6dc98942d",
            "8339988428ab1a9c",
            "9e29d553f7e7d1e5",
            "bf805937043479ee",
            "f52edc5c66d2d50e"
        ],
        "x": 379,
        "y": 261,
        "wires": [],
        "l": true
    },
    {
        "id": "f8d097c36626419b",
        "type": "inject",
        "z": "976c70110df5a0ff",
        "name": "input 5 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "input",
        "payloadType": "str",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "72b18145fb3bcc07",
                "7d852f1964825f37"
            ]
        ]
    },
    {
        "id": "9f537e606d197d9f",
        "type": "function",
        "z": "976c70110df5a0ff",
        "g": "b361193613f037c3",
        "name": "limpa sensores_estado",
        "func": "//limpa a variavel sensores_estado baseado nos comodos existente no c_time_new\n\nvar dateNow = new Date().getTime();\n\nlet c_time_new = flow.get(\"c_time_new\") || {};\nlet local = \"teste\"\nlet sensores_estado = global.get(\"sensores_estado\")\nlet sensores_estado_limpo = {}\n\n\n\n    for (let loc in c_time_new) {\n        sensores_estado_limpo[loc] = JSON.parse(JSON.stringify(sensores_estado[loc]));\n    }\n\n\n\n\nglobal.set(\"sensores_estado\", sensores_estado_limpo)\n// c_time_new[local] = {\n\n    \n//     time: c_time_new[\"quartom\"].time\n// };\n\n\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 80,
        "wires": [
            [
                "48c8181c177cf6ef"
            ]
        ]
    },
    {
        "id": "11fd003af734d01d",
        "type": "link in",
        "z": "976c70110df5a0ff",
        "g": "b361193613f037c3",
        "name": "input 5 min",
        "links": [
            "72b18145fb3bcc07"
        ],
        "x": 180,
        "y": 80,
        "wires": [
            [
                "510d79b01895e3c0"
            ]
        ],
        "l": true,
        "info": "5 min\n"
    },
    {
        "id": "510d79b01895e3c0",
        "type": "function",
        "z": "976c70110df5a0ff",
        "g": "b361193613f037c3",
        "name": "limpar c_time_new",
        "func": "// limpa a variavel c_time_new, tirando as localidades com mais de 24hs sem dados\n\n\nvar dateNow = new Date().getTime();\n\nlet c_time_new = flow.get(\"c_time_new\") || {};\n\n\n    for (let loc in c_time_new) {\n        // Calcula a diferença para cada sensor individualmente em dias\n        let dif_date_new = (dateNow - c_time_new[loc].time) / 1000 / 60 /60 // deixa o dif_date em horas\n        //node.warn(\"local = \" + loc + \" dif_date_new = \" + dif_date_new + \" if >= 6.20\");\n        //node.warn(loc + \" - \" + dif_date_new);\n        if (dif_date_new >= 24) {\n            node.warn(\"loc mais de 24h \" + loc);\n            delete c_time_new[loc]\n\n        }\n    }\n\n\n       flow.set(\"c_time_new\", c_time_new);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "9f537e606d197d9f"
            ]
        ]
    },
    {
        "id": "48c8181c177cf6ef",
        "type": "debug",
        "z": "976c70110df5a0ff",
        "g": "b361193613f037c3",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "47b7226759fc15aa",
        "type": "ui_template",
        "z": "976c70110df5a0ff",
        "group": "606728ffca968749",
        "name": "Novo HTML-dinamico-cel",
        "order": 1,
        "width": "4",
        "height": "1",
        "format": "<style>\n  /* Remove as travas de altura e scroll */\n  .nr-dashboard-template,\n  ui-component,\n  md-card {\n    height: auto !important;\n    overflow: visible !important;\n  }\n\n  md-card {\n    background: transparent !important;\n    box-shadow: none !important;\n    border: none !important;\n  }\n</style>\n\n<div ng-init=\"init()\">\n  <div style=\"display: flex; justify-content: center; font-family: 'Helvetica Neue', Arial, sans-serif;\">\n    <div id=\"meu-container-dinamico\"\n      style=\"background-color: #262626; width: 260px; padding: 20px; border-radius: 24px; color: white; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,0.5);\">\n\n      <div\n        style=\"font-size: 14px; font-weight: bold; color: #4dabf7; margin-bottom: 20px; text-transform: uppercase; letter-spacing: 2px;\">\n        Ambientes\n      </div>\n\n      <div ng-repeat=\"(chave, dados) in msg.payload\" style=\"margin-bottom: 20px;\">\n        <div\n          style=\"font-size: 12px; color: #4dabf7; text-align: left; margin-bottom: 10px; border-bottom: 1px solid #333; padding-bottom: 5px; text-transform: capitalize;\">\n          {{dados.nome}}\n        </div>\n\n        <div style=\"display: flex; justify-content: space-around; align-items: center;\">\n          <div style=\"text-align: center;\">\n            <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Temp</div>\n            <div style=\"font-size: 22px; font-weight: bold;\">{{dados.temp}}°C</div>\n          </div>\n          <div style=\"text-align: center;\">\n            <div style=\"font-size: 10px; color: #aaa; text-transform: uppercase; margin-bottom: 5px;\">Umidade</div>\n            <div style=\"font-size: 22px; font-weight: bold; color: #4dabf7;\">{{dados.hum}}%</div>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<script>\n  (function($scope) {\n    // Toda vez que msg chegar, avisamos ao navegador para disparar um 'resize'\n    // Isso simula o comportamento de quando você redimensiona a janela do browser manualmente\n    $scope.$watch('msg', function() {\n        setTimeout(function() {\n            window.dispatchEvent(new Event('resize'));\n        }, 200); // Pequeno atraso para o HTML renderizar antes de medir\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "092928588a6f58c5",
        "type": "function",
        "z": "976c70110df5a0ff",
        "name": "incluir temometro na variavel global",
        "func": "let sensores = global.get(\"sensores_estado\") || {};\nlet loc = 'termometro'\n\n// 2. Define o novo objeto que você quer inserir\nlet novoObjeto = {\n    nome: \"termometro\",\n    temp: \"\",\n    hum: \"\"\n};\n\nsensores.termometro = novoObjeto;\n\n\n//sensores.termometro.nome = \"termometro\";\n//sensores[loc].temp = '';\n//sensores[loc].hum = '';\n\n\n\n    // Salva no global também no modo input para persistir a limpeza\nglobal.set(\"sensores_estado\", sensores);\nmsg.payload = sensores\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "94ba7d4e6570ed7a"
            ]
        ]
    },
    {
        "id": "09a8b298fb755e30",
        "type": "inject",
        "z": "976c70110df5a0ff",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "092928588a6f58c5"
            ]
        ]
    },
    {
        "id": "94ba7d4e6570ed7a",
        "type": "debug",
        "z": "976c70110df5a0ff",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "0c061153be0f544c",
        "type": "mqtt in",
        "z": "976c70110df5a0ff",
        "name": "",
        "topic": "ape/termometro/term",
        "qos": "1",
        "datatype": "auto",
        "broker": "afe3436de4bd4e09",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 700,
        "wires": [
            [
                "61e5852d042235a6"
            ]
        ]
    },
    {
        "id": "e330f60abc515b9f",
        "type": "mqtt in",
        "z": "976c70110df5a0ff",
        "name": "",
        "topic": "ape/+/previsao",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "afe3436de4bd4e09",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "1723814a46e1b5b1",
                "a24979b4c65ed69b",
                "ebe3c2615d9db631"
            ]
        ]
    },
    {
        "id": "1723814a46e1b5b1",
        "type": "debug",
        "z": "976c70110df5a0ff",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 780,
        "wires": []
    },
    {
        "id": "7d852f1964825f37",
        "type": "debug",
        "z": "976c70110df5a0ff",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "01c96c2dd01c35df",
        "type": "debug",
        "z": "976c70110df5a0ff",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 560,
        "wires": []
    },
    {
        "id": "a17d31d84e388b21",
        "type": "debug",
        "z": "976c70110df5a0ff",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 720,
        "wires": []
    },
    {
        "id": "597a21d5cc92bee9",
        "type": "link out",
        "z": "976c70110df5a0ff",
        "name": "teste",
        "mode": "link",
        "links": [
            "abb48dbd6c6aa014"
        ],
        "x": 355,
        "y": 500,
        "wires": []
    },
    {
        "id": "93dc0dcb6c676470",
        "type": "inject",
        "z": "976c70110df5a0ff",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "597a21d5cc92bee9"
            ]
        ]
    },
    {
        "id": "42815f9671290513",
        "type": "debug",
        "z": "976c70110df5a0ff",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "a24979b4c65ed69b",
        "type": "function",
        "z": "976c70110df5a0ff",
        "d": true,
        "name": "func editado limpo novo sem apagar status",
        "func": "let topico = \"\"; \nif (msg.topic){\n    topico = msg.topic.split(\"/\")[1]; \n} \n\nlet local = topico;\nvar dateNow = new Date().getTime();\nlet c_time_new = flow.get(\"c_time_new\") || {};\nlet sensores = global.get(\"sensores_estado\") || {};\n\n// Variável auxiliar para controle de saída\nlet excluirDoPayload = false;\n\nif (msg.payload === \"input\") {\n    for (let loc in c_time_new) {\n        let dif_date_new = (dateNow - c_time_new[loc].time) / 1000 / 60\n\n        if (dif_date_new >= 6.20) {\n            // CORREÇÃO: Garante que o objeto exista antes de alterar\n            if (!sensores[loc]) sensores[loc] = {};\n            \n            // Altera apenas o necessário, mantendo o 'status' se ele já existir\n            sensores[loc].nome = loc;\n            sensores[loc].temp = '';\n            sensores[loc].hum = '';\n        }\n    }\n    // Salva no global também no modo input para persistir a limpeza\n    node.warn(\"antes do global 1 \");\n    node.warn(sensores);\n    global.set(\"sensores_estado\", sensores);\n\n    } else if (msg.payload.sensor === \"api\"){     //salva a previsao na variavel global, mas não envia incluir no dashboard\n        // if (!sensores[local]) sensores[local] = {};\n        if(local){\n            if (!sensores[local]) sensores[local] = {};\n            sensores[local].nome = local;\n            sensores[local].temp = parseFloat(msg.payload.t).toFixed(1);\n            sensores[local].hum = parseFloat(msg.payload.u).toFixed(0);\n            node.warn(\"antes do global 2 \")\n            node.warn(sensores);\n            global.set(\"sensores_estado\", sensores);\n            c_time_new[local] = { time: dateNow };\n            flow.set(\"c_time_new\", c_time_new);\n            //delete sensores[local];\n            \n            // Define que este local deve ser removido da mensagem de saída\n            excluirDoPayload = true;\n        }\n\n} else {\n    if (msg.payload.u !== \"0.00\" || msg.payload.t !== \"0.00\") {\n        if (local) {\n            // CORREÇÃO: Garante que o objeto exista antes de alterar\n            if (!sensores[local]) sensores[local] = {};\n\n            // Atualiza apenas temp e hum, preservando o status que outra função criou\n            sensores[local].nome = local;\n            sensores[local].temp = parseFloat(msg.payload.t).toFixed(1);\n            sensores[local].hum = parseFloat(msg.payload.u).toFixed(0);\n            node.warn(\"antes do global 3 \");\n            node.warn(sensores);\n            global.set(\"sensores_estado\", sensores);\n\n            c_time_new[local] = { time: dateNow };\n            flow.set(\"c_time_new\", c_time_new);\n        }\n    }\n}\n\n// Criamos uma cópia para o payload para não afetar o objeto global por referência\nlet resposta = RED.util.cloneMessage(sensores);\n\n// Se a origem for API, removemos o local específico da resposta de saída\nif (excluirDoPayload && local) {\n    delete resposta[local];\n}\n\nmsg.payload = resposta;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            [
                "b076fcd91cb92685",
                "2dc90d77d0e2d0c2",
                "47b7226759fc15aa"
            ]
        ]
    },
    {
        "id": "ebe3c2615d9db631",
        "type": "function",
        "z": "976c70110df5a0ff",
        "name": "func editado limpo novo sem apagar status",
        "func": "let topico = \"\"; \nif (msg.topic){\n    topico = msg.topic.split(\"/\")[1]; \n} \n\nlet local = topico;\nvar dateNow = new Date().getTime();\nlet c_time_new = flow.get(\"c_time_new\") || {};\nlet sensores = global.get(\"sensores_estado\") || {};\n// Recupera a lista de locais que devem ser ocultados do payload\nlet ocultar = global.get(\"sensores_api_ocultar\") || {};\n\nif (msg.payload === \"input\") {\n    for (let loc in c_time_new) {\n        let dif_date_new = (dateNow - c_time_new[loc].time) / 1000 / 60\n\n        if (dif_date_new >= 6.20) {\n            // CORREÇÃO: Garante que o objeto exista antes de alterar\n            if (!sensores[loc]) sensores[loc] = {};\n            \n            // Altera apenas o necessário, mantendo o 'status' se ele já existir\n            sensores[loc].nome = loc;\n            sensores[loc].temp = '';\n            sensores[loc].hum = '';\n        }\n    }\n    // Salva no global também no modo input para persistir a limpeza\n    // node.warn(\"antes do global 1 \");\n    // node.warn(sensores);\n    global.set(\"sensores_estado\", sensores);\n\n    } else if (msg.payload.sensor === \"api\"){     //salva a previsao na variavel global, mas não envia incluir no dashboard\n        // if (!sensores[local]) sensores[local] = {};\n        if(local){\n            if (!sensores[local]) sensores[local] = {};\n            sensores[local].nome = local;\n            sensores[local].temp = parseFloat(msg.payload.t).toFixed(1);\n            sensores[local].hum = parseFloat(msg.payload.u).toFixed(0);\n            // node.warn(\"antes do global 2 \")\n            // node.warn(sensores);\n            global.set(\"sensores_estado\", sensores);\n            c_time_new[local] = { time: dateNow };\n            flow.set(\"c_time_new\", c_time_new);\n            //delete sensores[local];\n            \n            // Marca este local para ser ocultado globalmente nas saídas de payload\n            ocultar[local] = true;\n            global.set(\"sensores_api_ocultar\", ocultar);\n        }\n\n} else {\n    if (msg.payload.u !== \"0.00\" || msg.payload.t !== \"0.00\") {\n        if (local) {\n            // CORREÇÃO: Garante que o objeto exista antes de alterar\n            if (!sensores[local]) sensores[local] = {};\n\n            // Atualiza apenas temp e hum, preservando o status que outra função criou\n            sensores[local].nome = local;\n            sensores[local].temp = parseFloat(msg.payload.t).toFixed(1);\n            sensores[local].hum = parseFloat(msg.payload.u).toFixed(0);\n            // node.warn(\"antes do global 3 \");\n            // node.warn(sensores);\n            global.set(\"sensores_estado\", sensores);\n\n            c_time_new[local] = { time: dateNow };\n            flow.set(\"c_time_new\", c_time_new);\n            \n            // Se um sensor real enviar dados, talvez você queira remover da lista de ocultar?\n            // Se sim, descomente a linha abaixo:\n            // if(ocultar[local]) { delete ocultar[local]; global.set(\"sensores_api_ocultar\", ocultar); }\n        }\n    }\n}\n\n// --- LÓGICA DE FILTRAGEM DE SAÍDA ---\n\n// Clonamos para não deletar dados do contexto global acidentalmente\nlet exibirPayload = RED.util.cloneMessage(sensores);\n\n// Varre a lista de \"ocultar\" e remove esses locais do msg.payload final\nfor (let locOculto in ocultar) {\n    if (exibirPayload[locOculto]) {\n        delete exibirPayload[locOculto];\n    }\n}\n\nmsg.payload = exibirPayload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 580,
        "wires": [
            [
                "b076fcd91cb92685",
                "2dc90d77d0e2d0c2",
                "47b7226759fc15aa"
            ]
        ]
    },
    {
        "id": "e133fe74113878e1",
        "type": "openweathermap",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "name": "Alcobendas Current",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Alcobendas",
        "country": "España",
        "language": "pt",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "68e7f9afedef9882",
                "f456689c6d0b5e73"
            ]
        ],
        "info": "api key\r\n2e2cf48d93c4fe68a35d21ed2a12a6a7"
    },
    {
        "id": "9a5c9197b4beec6e",
        "type": "inject",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "name": "Refresh cada 10 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "e133fe74113878e1"
            ]
        ]
    },
    {
        "id": "9523d0ea3bc78a8d",
        "type": "openweathermap",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "name": "Alcobendas 5D",
        "wtype": "forecast",
        "lon": "",
        "lat": "",
        "city": "Alcobendas",
        "country": "España",
        "language": "pt",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "68e7f9afedef9882"
            ]
        ],
        "info": "api key\r\n2e2cf48d93c4fe68a35d21ed2a12a6a7"
    },
    {
        "id": "e828f693382b49b1",
        "type": "ui_template",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "group": "5090d03e93552931",
        "name": "HTML Temperatura",
        "order": 2,
        "width": "5",
        "height": "1",
        "format": "<div style=\"display: flex; justify-content: center; font-family: 'Helvetica Neue', Arial, sans-serif;\">\n    <div style=\"background-color: #262626; width: 260px; padding: 20px; border-radius: 24px; color: white; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,0.5);\">\n        \n        <div style=\"font-size: 14px; font-weight: bold; color: #4dabf7; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 2px;\">\n            {{msg.payload.name}}\n        </div>\n\n\n        <div style=\"display: flex; align-items: center; justify-content: center; gap: 2px;\">\n            <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.payload.data.meteocon}}.svg\" style=\"width: 65px; height: 65px; margin-left: -10px;\">\n\n            <span style=\"font-size: 60px; font-weight: bold; letter-spacing: -3px;\">{{msg.payload.data.temperature}}°</span>\n        \n            <div\n                style=\"display: flex; flex-direction: column; font-size: 13px; text-align: left; line-height: 1; margin-left: 8px; gap: 4px;\">\n                <div style=\"display: flex; align-items: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/thermometer-warmer.svg\" style=\"width: 35px; height: 35px;\">\n                    <span style=\"font-size: 26px; color: #ff6b6b; font-weight: bold;\">{{msg.payload.data.temperature_max}}°</span>\n                </div>\n                <div style=\"display: flex; align-items: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/thermometer-colder.svg\" style=\"width: 35px; height: 35px;\">\n                    <span style=\"font-size: 26px; color: #4dabf7; font-weight: bold;\">{{msg.payload.data.temperature_min}}°</span>\n                </div>\n            </div>\n        </div>\n\n        <div style=\"color: #aaa; font-size: 13px; margin: 5px 0 18px 0;\">{{msg.payload.data.detalhe}}</div>\n\n\n    <div\n        style=\"border-top: 1px solid #333; padding-top: 15px; color: #4dabf7; text-transform: uppercase; font-size: 10px; letter-spacing: 2px; font-weight: bold;\">Hoje - {{msg.forecast.today_date}}</div>\n    \n    <table style=\"width: 100%; border-collapse: collapse; margin-top: 5px;\">\n        <tr style=\"border-bottom: 1px solid #333;\">\n            <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Manhã</td>\n            <td style=\"text-align: center;\">\n                <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.today.manha.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n            </td>\n            <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">\n                {{msg.forecast.today.manha.clima}}</td>\n            <td style=\"text-align: right; font-size: 14px;\">\n                <b style=\"display:block; line-height:1;\">{{msg.forecast.today.manha.temp}}°</b>\n                <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.today.manha.sensacao}}°</small>\n            </td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #333;\">\n            <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Tarde</td>\n            <td style=\"text-align: center;\">\n                <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.today.tarde.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n            </td>\n            <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">\n                {{msg.forecast.today.tarde.clima}}</td>\n            <td style=\"text-align: right; font-size: 14px;\">\n                <b style=\"display:block; line-height:1;\">{{msg.forecast.today.tarde.temp}}°</b>\n                <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.today.tarde.sensacao}}°</small>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Noite</td>\n            <td style=\"text-align: center;\">\n                <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.today.noite.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n            </td>\n            <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">\n                {{msg.forecast.today.noite.clima}}</td>\n            <td style=\"text-align: right; font-size: 14px;\">\n                <b style=\"display:block; line-height:1;\">{{msg.forecast.today.noite.temp}}°</b>\n                <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.today.noite.sensacao}}°</small>\n            </td>\n        </tr>\n    </table>\n\n\n\n        <div style=\"border-top: 1px solid #333; padding-top: 15px; color: #4dabf7; text-transform: uppercase; font-size: 10px; letter-spacing: 2px; font-weight: bold;\">Amanhã - {{msg.forecast.nextday_date}}</div>\n\n        <table style=\"width: 100%; border-collapse: collapse; margin-top: 5px;\">\n            <tr style=\"border-bottom: 1px solid #333;\">\n                <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Manhã</td>\n                <td style=\"text-align: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.nextday.manha.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n                </td>\n                <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">{{msg.forecast.nextday.manha.clima}}</td>\n                <td style=\"text-align: right; font-size: 14px;\">\n                    <b style=\"display:block; line-height:1;\">{{msg.forecast.nextday.manha.temp}}°</b>\n                    <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.nextday.manha.sensacao}}°</small>\n                </td>\n            </tr>\n            <tr style=\"border-bottom: 1px solid #333;\">\n                <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Tarde</td>\n                <td style=\"text-align: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.nextday.tarde.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n                </td>\n                <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">{{msg.forecast.nextday.tarde.clima}}</td>\n                <td style=\"text-align: right; font-size: 14px;\">\n                    <b style=\"display:block; line-height:1;\">{{msg.forecast.nextday.tarde.temp}}°</b>\n                    <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.nextday.tarde.sensacao}}°</small>\n                </td>\n            </tr>\n            <tr>\n                <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Noite</td>\n                <td style=\"text-align: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.nextday.noite.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n                </td>\n                <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">{{msg.forecast.nextday.noite.clima}}</td>\n                <td style=\"text-align: right; font-size: 14px;\">\n                    <b style=\"display:block; line-height:1;\">{{msg.forecast.nextday.noite.temp}}°</b>\n                    <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.nextday.noite.sensacao}}°</small>\n                </td>\n            </tr>\n        </table>\n\n        <div style=\"margin-top: 15px; font-size: 9px; color: #777; text-transform: uppercase;\">\n            {{msg.payload.update}}\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0b49a4d64359257a",
        "type": "inject",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "name": "Refresh Diario",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 0 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "9523d0ea3bc78a8d"
            ]
        ]
    },
    {
        "id": "972dd044dcc682b7",
        "type": "ui_template",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "group": "606728ffca968749",
        "name": "HTML Temperatura cel",
        "order": 2,
        "width": "5",
        "height": "1",
        "format": "<div style=\"display: flex; justify-content: center; font-family: 'Helvetica Neue', Arial, sans-serif;\">\n    <div style=\"background-color: #262626; width: 260px; padding: 20px; border-radius: 24px; color: white; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,0.5);\">\n        \n        <div style=\"font-size: 14px; font-weight: bold; color: #4dabf7; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 2px;\">\n            {{msg.payload.name}}\n        </div>\n\n\n        <div style=\"display: flex; align-items: center; justify-content: center; gap: 2px;\">\n            <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.payload.data.meteocon}}.svg\" style=\"width: 65px; height: 65px; margin-left: -10px;\">\n\n            <span style=\"font-size: 60px; font-weight: bold; letter-spacing: -3px;\">{{msg.payload.data.temperature}}°</span>\n        \n            <div\n                style=\"display: flex; flex-direction: column; font-size: 13px; text-align: left; line-height: 1; margin-left: 8px; gap: 4px;\">\n                <div style=\"display: flex; align-items: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/thermometer-warmer.svg\" style=\"width: 35px; height: 35px;\">\n                    <span style=\"font-size: 26px; color: #ff6b6b; font-weight: bold;\">{{msg.payload.data.temperature_max}}°</span>\n                </div>\n                <div style=\"display: flex; align-items: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/thermometer-colder.svg\" style=\"width: 35px; height: 35px;\">\n                    <span style=\"font-size: 26px; color: #4dabf7; font-weight: bold;\">{{msg.payload.data.temperature_min}}°</span>\n                </div>\n            </div>\n        </div>\n\n        <div style=\"color: #aaa; font-size: 13px; margin: 5px 0 18px 0;\">{{msg.payload.data.detalhe}}</div>\n\n\n    <div\n        style=\"border-top: 1px solid #333; padding-top: 15px; color: #4dabf7; text-transform: uppercase; font-size: 10px; letter-spacing: 2px; font-weight: bold;\">Hoje - {{msg.forecast.today_date}}</div>\n    \n    <table style=\"width: 100%; border-collapse: collapse; margin-top: 5px;\">\n        <tr style=\"border-bottom: 1px solid #333;\">\n            <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Manhã</td>\n            <td style=\"text-align: center;\">\n                <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.today.manha.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n            </td>\n            <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">\n                {{msg.forecast.today.manha.clima}}</td>\n            <td style=\"text-align: right; font-size: 14px;\">\n                <b style=\"display:block; line-height:1;\">{{msg.forecast.today.manha.temp}}°</b>\n                <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.today.manha.sensacao}}°</small>\n            </td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #333;\">\n            <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Tarde</td>\n            <td style=\"text-align: center;\">\n                <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.today.tarde.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n            </td>\n            <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">\n                {{msg.forecast.today.tarde.clima}}</td>\n            <td style=\"text-align: right; font-size: 14px;\">\n                <b style=\"display:block; line-height:1;\">{{msg.forecast.today.tarde.temp}}°</b>\n                <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.today.tarde.sensacao}}°</small>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Noite</td>\n            <td style=\"text-align: center;\">\n                <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.today.noite.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n            </td>\n            <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">\n                {{msg.forecast.today.noite.clima}}</td>\n            <td style=\"text-align: right; font-size: 14px;\">\n                <b style=\"display:block; line-height:1;\">{{msg.forecast.today.noite.temp}}°</b>\n                <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.today.noite.sensacao}}°</small>\n            </td>\n        </tr>\n    </table>\n\n\n\n        <div style=\"border-top: 1px solid #333; padding-top: 15px; color: #4dabf7; text-transform: uppercase; font-size: 10px; letter-spacing: 2px; font-weight: bold;\">Amanhã - {{msg.forecast.nextday_date}}</div>\n\n        <table style=\"width: 100%; border-collapse: collapse; margin-top: 5px;\">\n            <tr style=\"border-bottom: 1px solid #333;\">\n                <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Manhã</td>\n                <td style=\"text-align: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.nextday.manha.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n                </td>\n                <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">{{msg.forecast.nextday.manha.clima}}</td>\n                <td style=\"text-align: right; font-size: 14px;\">\n                    <b style=\"display:block; line-height:1;\">{{msg.forecast.nextday.manha.temp}}°</b>\n                    <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.nextday.manha.sensacao}}°</small>\n                </td>\n            </tr>\n            <tr style=\"border-bottom: 1px solid #333;\">\n                <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Tarde</td>\n                <td style=\"text-align: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.nextday.tarde.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n                </td>\n                <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">{{msg.forecast.nextday.tarde.clima}}</td>\n                <td style=\"text-align: right; font-size: 14px;\">\n                    <b style=\"display:block; line-height:1;\">{{msg.forecast.nextday.tarde.temp}}°</b>\n                    <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.nextday.tarde.sensacao}}°</small>\n                </td>\n            </tr>\n            <tr>\n                <td style=\"padding: 8px 0; font-size: 14px; text-align: left; font-weight: 500;\">Noite</td>\n                <td style=\"text-align: center;\">\n                    <img src=\"https://basmilius.github.io/weather-icons/production/fill/all/{{msg.forecast.nextday.noite.icone_meteocon}}.svg\" style=\"width: 35px; height: 35px; vertical-align: middle;\">\n                </td>\n                <td style=\"font-size: 11px; color: #bbb; padding-left: 5px; text-align: left;\">{{msg.forecast.nextday.noite.clima}}</td>\n                <td style=\"text-align: right; font-size: 14px;\">\n                    <b style=\"display:block; line-height:1;\">{{msg.forecast.nextday.noite.temp}}°</b>\n                    <small style=\"font-size: 9px; color: #777;\">ST: {{msg.forecast.nextday.noite.sensacao}}°</small>\n                </td>\n            </tr>\n        </table>\n\n        <div style=\"margin-top: 15px; font-size: 9px; color: #777; text-transform: uppercase;\">\n            {{msg.payload.update}}\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "68e7f9afedef9882",
        "type": "function",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "name": "Weather to Grafico",
        "func": "//1. Mapeamento de códigos OpenWeather para Meteocons\n const iconMap = {\n     \"01d\": \"clear-day\", \"01n\": \"clear-night\",\n     \"02d\": \"partly-cloudy-day\", \"02n\": \"partly-cloudy-night\",\n     \"03d\": \"cloudy\", \"03n\": \"cloudy\",\n     \"04d\": \"overcast-day\", \"04n\": \"overcast-night\",\n     \"09d\": \"rain\", \"09n\": \"rain\",\n     \"10d\": \"partly-cloudy-day-rain\", \"10n\": \"partly-cloudy-night-rain\",\n     \"11d\": \"thunderstorms-day\", \"11n\": \"thunderstorms-night\",\n     \"13d\": \"snow\", \"13n\": \"snow\",\n     \"50d\": \"mist\", \"50n\": \"mist\"\n };\n\n\n\nif (msg.title == \"Current Weather Information\") {\n\n    \n        var now = new Date();\n        var update = now.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });\n\n        // 2. Tradução do ícone atual\n        var icone_meteocon = iconMap[msg.payload.icon] || \"not-available\";\n\n        var payload = {\n            \"name\": msg.payload.location,\n            \"state\": \"ES\",\n            \"update\": update,\n            \"data\": {\n                \"temperature\": Math.round(msg.payload.tempc),\n                \"humidity\": msg.payload.humidity,\n                \"detalhe\": msg.payload.detail, \n                \"temperature_min\": Math.round(msg.payload.temp_minc),\n                \"temperature_max\": Math.round(msg.payload.temp_maxc),\n                \"icon\": msg.payload.icon,          // Mantém o original por segurança\n                \"meteocon\": icone_meteocon           // Adiciona o nome para o ícone animado\n            }\n        };\n\n        flow.set (\"f_payload\", payload)\n        msg.forecast = flow.get(\"f_forecast\") || 0;\n        msg.payload = payload;\n\n    \n} else if (msg.title == \"5 day Forecast\") {\n    // 2. Localiza a lista de previsões\n    const lista = msg.payload.list || msg.payload;\n\n    if (!Array.isArray(lista)) {\n        node.error(\"Dados não recebidos corretamente. Verifique se o nó está em modo '5-day forecast'.\");\n        return null;\n    }\n\n    // --- SUBSTITUA A SEÇÃO 3 E 4 POR ESTA ---\n\n    // 3. Datas (Hoje e Amanhã) respeitando o fuso horário local\n    const agora = new Date();\n    const dataHoje = agora.toLocaleDateString('en-CA'); // Gera \"2026-01-18\"\n\n    const amanha = new Date();\n    amanha.setDate(amanha.getDate() + 1);\n    const dataAmanha = amanha.toLocaleDateString('en-CA'); // Gera \"2026-01-19\"\n\n    // Formata dd/mm para exibição na interface\n    const todayStr = agora.toLocaleDateString('pt-BR', {day: '2-digit', month: '2-digit'});\n    const nextdayStr = amanha.toLocaleDateString('pt-BR', {day: '2-digit', month: '2-digit'});\n\n    // 4. Definição dos períodos para buscar (Exatamente como vem no JSON)\n    const periodosDesejados = [\n        { dia: \"hoje\", rotulo: \"manha\", filtro: `${dataHoje} 09:00:00` },\n        { dia: \"hoje\", rotulo: \"tarde\", filtro: `${dataHoje} 15:00:00` },\n        { dia: \"hoje\", rotulo: \"noite\", filtro: `${dataHoje} 21:00:00` },\n        { dia: \"amanha\", rotulo: \"manha\", filtro: `${dataAmanha} 09:00:00` },\n        { dia: \"amanha\", rotulo: \"tarde\", filtro: `${dataAmanha} 15:00:00` },\n        { dia: \"amanha\", rotulo: \"noite\", filtro: `${dataAmanha} 21:00:00` }\n    ];\n\n    const previsaoFinal = {\n        today: {},\n        nextday: {},\n        today_date: todayStr,    // Variável dd/mm para hoje\n        nextday_date: nextdayStr // Variável dd/mm para amanhã\n    };\n \n    // 5. Varre a lista e organiza os dados\n    periodosDesejados.forEach(p => {\n        const dado = lista.find(item => item.dt_txt === p.filtro);\n        const destino = (p.dia === \"hoje\") ? previsaoFinal.today : previsaoFinal.nextday;\n\n        if (dado) {\n            const owIcon = dado.weather[0].icon;\n            destino[p.rotulo] = {\n                hora: dado.dt_txt,\n                temp: Math.round(dado.main.temp),\n                sensacao: Math.round(dado.main.feels_like),\n                clima: dado.weather[0].description,\n                icone_ow: owIcon,\n                icone_meteocon: iconMap[owIcon] || \"not-available\"\n            };\n        } else {\n            destino[p.rotulo] = { clima: \"Indisp\", icone_meteocon: \"not-available\" };\n        }\n    });\n\n    // 6. Monta o objeto final e salva no flow\n    msg.forecast = previsaoFinal;\n    flow.set(\"f_forecast\", msg.forecast);\n\n    // Retorno padrão conforme seu código original\n    msg.payload = flow.get(\"f_payload\") || 0;\n\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 280,
        "wires": [
            [
                "972dd044dcc682b7",
                "e828f693382b49b1"
            ]
        ]
    },
    {
        "id": "4aa7c38d813aea0b",
        "type": "function",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "name": "input iniciar ao resetar nodered",
        "func": "/// funçao esta na aba inicio para gerar ao iniciar o nodered\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\n\n// O código aqui executa uma vez quando o fluxo é implantado (Deploy)\nsetTimeout(() => {\n    // Criamos o objeto de mensagem com o valor 1\n    const msgInicial = {\n        payload: 1,\n        topic: \"inicializacao\"\n    };\n\n    // Enviamos para a saída do nó\n    node.send(msgInicial);\n}, 200); // 200ms de atraso para garantir que os outros nós estejam prontos\n\n",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 200,
        "wires": [
            [
                "9523d0ea3bc78a8d",
                "e133fe74113878e1"
            ]
        ]
    },
    {
        "id": "f456689c6d0b5e73",
        "type": "function",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "name": "Weather to MQTT",
        "func": "var sLocalidade = msg.payload.location\nvar sSensor = \"api\"\nvar sTemperatura = msg.payload.tempc\nvar sUmidade = msg.payload.humidity\n\n//msg.topic = `ape/${sLocalidade}/previsao`;\nmsg.topic = \"ape/\" + sLocalidade + \"/previsao\";\n\n\nmsg.payload = {\n    localidade: sLocalidade,\n    sensor: sSensor,\n    t: sTemperatura,\n    u: sUmidade\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 100,
        "wires": [
            [
                "57c31a72b144c5fd"
            ]
        ]
    },
    {
        "id": "57c31a72b144c5fd",
        "type": "mqtt out",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "afe3436de4bd4e09",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "abb48dbd6c6aa014",
        "type": "link in",
        "z": "ad177fcd51e7a7f3",
        "g": "0266efbcfc4ed39b",
        "name": "link in 8",
        "links": [
            "597a21d5cc92bee9"
        ],
        "x": 275,
        "y": 40,
        "wires": [
            [
                "e133fe74113878e1"
            ]
        ]
    },
    {
        "id": "efc7a06a8911634a",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "Periodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "f08db2f85f4c80f1",
        "order": 2,
        "width": "2",
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "hora",
                "value": "hour",
                "type": "str"
            },
            {
                "label": "dia",
                "value": "day",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "periodo",
        "topicType": "str",
        "className": "",
        "x": 500,
        "y": 380,
        "wires": [
            [
                "fd1157bc2238a2bb"
            ]
        ]
    },
    {
        "id": "aab069e276d658b5",
        "type": "ui_numeric",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "quantidade",
        "label": "",
        "tooltip": "",
        "group": "f08db2f85f4c80f1",
        "order": 1,
        "width": "2",
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "quantidade",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 510,
        "y": 320,
        "wires": [
            [
                "fd1157bc2238a2bb"
            ]
        ]
    },
    {
        "id": "d19666d4565889d5",
        "type": "ui_chart",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "grafico",
        "group": "f08db2f85f4c80f1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "{{msg.graf_label}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cb0707",
            "#3f62da",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "af533934bd41b9e5",
        "type": "mysql",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "mydb": "f303a3fc5e3847e2",
        "name": "Graf 1 Comodo",
        "x": 880,
        "y": 520,
        "wires": [
            [
                "203ad9262ef267d3"
            ]
        ]
    },
    {
        "id": "c0f49537973afcd8",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "comodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "f08db2f85f4c80f1",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "quarto",
                "value": "quarto",
                "type": "str"
            },
            {
                "label": "sala",
                "value": "sala",
                "type": "str"
            },
            {
                "label": "externo",
                "value": "externo",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "comodo",
        "topicType": "str",
        "className": "",
        "x": 500,
        "y": 440,
        "wires": [
            [
                "fd1157bc2238a2bb"
            ]
        ]
    },
    {
        "id": "92328e21c01ddeba",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "7b6a3028f399058d",
        "name": "atualizar combo box do comodo",
        "func": "//estrutura é msg: label\n//  msg.options = [\n//      { \"1 Hora\": \"hour\" },\n//      { \"12 Horas\": \"12 hour\" },\n//      { \"1 Dia\": \"day\" },\n//      { \"7 Dias\": \"7 day\" }\n//  ];\n\n// Recupera a sua variável (ajuste 'msg.payload' para onde a variável estiver, ex: global.get)\nlet sensores = global.get(\"sensores_estado\") || {};\nvar novasOpcoes = [];\n\n\n// 2. Percorre o objeto e monta a estrutura { \"Nome\": \"chave\" }\nfor (var chave in sensores) {\n    var obj = {};\n    var label = sensores[chave].nome\n\n    var valor = chave;   \n    obj[label] = chave;\n    novasOpcoes.push(obj);\n\n    };\n\n// 3. Define as opções com a estrutura que você solicitou\nmsg.options = novasOpcoes;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 400,
        "wires": [
            [
                "c0f49537973afcd8",
                "652bea4c3e227266"
            ]
        ]
    },
    {
        "id": "203ad9262ef267d3",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "Proc Query para Grafico",
        "func": "var dados = msg.payload;\nvar periodo = msg.periodo_selecionado; // Vem da função anterior\n\n// 1. Configuração da Escala Dinâmica\nvar formatoX = (periodo === \"hour\") ? \"HH:mm\" : \"DD/MM\";\n\n// Enviamos o controle de UI para mudar o formato do gráfico\nmsg.ui_control = {\n\txformat: formatoX\n};\n\n// 2. Formatação dos Dados\nvar serieTemp = [];\nvar serieUmid = [];\n\ndados.forEach(function (linha) {\n\tvar timestamp = new Date(linha.time).getTime();\n\tserieUmid.push({ x: timestamp, y: linha.umidade });\n\tserieTemp.push({ x: timestamp, y: linha.temperatura });\n});\n\n// 3. Payload para limpar e desenhar o gráfico\nmsg.payload = [{\n\t\"series\": [\"Temperatura\", \"Umidade\"],\n\t\"data\": [serieTemp, serieUmid]\n}];\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "d19666d4565889d5",
                "01f555def40ec78c"
            ]
        ]
    },
    {
        "id": "fd1157bc2238a2bb",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "Prep Query Grafico",
        "func": "if(msg.topic == \"quantidade\"){\n    context.set(\"c_quantidade\", msg.payload)\n}\n\nif(msg.topic == \"periodo\"){\n    context.set(\"c_periodo\", msg.payload)  \n}\n\nif(msg.topic == \"comodo\"){\n    context.set(\"c_comodo\", msg.payload)\n}\n\nvar quantidade = (context.get(\"c_quantidade\") || 1)\nvar periodo = (context.get(\"c_periodo\") || \"day\")\nvar location = (context.get(\"c_comodo\") || \"quarto\")\n\n//edita o label do grafico\nif (periodo == \"day\"){\n    var label_periodo = \"dia\"\n} else {\n    var label_periodo = \"hora\"\n}\nmsg.graf_label = quantidade + \" \" + label_periodo + \" \" + location\n\n\n//msg.topic = \"SELECT * FROM Clima where localidade in ('quarto') and time  >= DATE_SUB(NOW(),INTERVAL \" + quantidade + \" \" +  periodo +\") ORDER BY id;\"\nmsg.topic = \"SELECT * FROM Clima where localidade in ('\" + location + \"') and time  >= DATE_SUB(NOW(),INTERVAL \" + quantidade + \" \" + periodo + \") ORDER BY id;\"\n\n\n\nmsg.periodo_selecionado = periodo; // usado para a escala do grafico\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 520,
        "wires": [
            [
                "af533934bd41b9e5",
                "e91ad2f67e4d49b6"
            ]
        ]
    },
    {
        "id": "53e19690bcc038bc",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "d": true,
        "g": "7b6a3028f399058d",
        "name": "function 5",
        "func": "msg.options = [\n\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 460,
        "wires": [
            [
                "c0f49537973afcd8",
                "652bea4c3e227266"
            ]
        ]
    },
    {
        "id": "64e8458e3c6d589b",
        "type": "inject",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 620,
        "wires": [
            [
                "53e19690bcc038bc"
            ]
        ]
    },
    {
        "id": "01f555def40ec78c",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 420,
        "wires": []
    },
    {
        "id": "145cc7776c6e960f",
        "type": "ui_numeric",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "quantidade 2",
        "label": "",
        "tooltip": "",
        "group": "f08db2f85f4c80f1",
        "order": 6,
        "width": "2",
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "quantidade",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 510,
        "y": 640,
        "wires": [
            [
                "c687e40a2246ed85"
            ]
        ]
    },
    {
        "id": "c687e40a2246ed85",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "Prep Query Grafico",
        "func": "if(msg.topic == \"quantidade\"){\n    context.set(\"c_quantidade\", msg.payload)\n}\n\nif(msg.topic == \"periodo\"){\n    context.set(\"c_periodo\", msg.payload)  \n}\n\nif(msg.topic == \"comodo\"){\n    context.set(\"c_comodo\", msg.payload)\n}\n\nvar quantidade = (context.get(\"c_quantidade\") || 1)\nvar periodo = (context.get(\"c_periodo\") || \"day\")\nvar location = (context.get(\"c_comodo\") || \"quarto\")\n\n//edita o label do grafico\nif (periodo == \"day\") {\n    var label_periodo = \"dia\"\n} else {\n    var label_periodo = \"hora\"\n}\nmsg.graf_label = quantidade + \" \" + label_periodo + \" \" + location\n\n\n//msg.topic = \"SELECT * FROM Clima where localidade in ('quarto') and time  >= DATE_SUB(NOW(),INTERVAL \" + quantidade + \" \" +  periodo +\") ORDER BY id;\"\nmsg.topic = \"SELECT * FROM Clima where localidade in ('\" + location + \"') and time  >= DATE_SUB(NOW(),INTERVAL \" + quantidade + \" \" + periodo + \") ORDER BY id;\"\n\n\n\nmsg.periodo_selecionado = periodo; // usado para a escala do grafico\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 840,
        "wires": [
            [
                "e925df9f9c985bd8"
            ]
        ]
    },
    {
        "id": "7a215a710e64386f",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "Periodo 2",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "f08db2f85f4c80f1",
        "order": 7,
        "width": "2",
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "hora",
                "value": "hour",
                "type": "str"
            },
            {
                "label": "dia",
                "value": "day",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "periodo",
        "topicType": "str",
        "className": "",
        "x": 500,
        "y": 700,
        "wires": [
            [
                "c687e40a2246ed85"
            ]
        ]
    },
    {
        "id": "652bea4c3e227266",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "comodo 2",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "f08db2f85f4c80f1",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "quarto",
                "value": "quarto",
                "type": "str"
            },
            {
                "label": "sala",
                "value": "sala",
                "type": "str"
            },
            {
                "label": "externo",
                "value": "externo",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "comodo",
        "topicType": "str",
        "className": "",
        "x": 500,
        "y": 760,
        "wires": [
            [
                "c687e40a2246ed85"
            ]
        ]
    },
    {
        "id": "e925df9f9c985bd8",
        "type": "mysql",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "mydb": "f303a3fc5e3847e2",
        "name": "Graf 2 Comodo",
        "x": 860,
        "y": 840,
        "wires": [
            [
                "5301ebce256a8960"
            ]
        ]
    },
    {
        "id": "5301ebce256a8960",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "Proc Query para Grafico",
        "func": "var dados = msg.payload;\nvar periodo = msg.periodo_selecionado; // Vem da função anterior\n\n// 1. Configuração da Escala Dinâmica\nvar formatoX = (periodo === \"hour\") ? \"HH:mm\" : \"DD/MM\";\n\n// Enviamos o controle de UI para mudar o formato do gráfico\nmsg.ui_control = {\n\txformat: formatoX\n};\n\n// 2. Formatação dos Dados\nvar serieTemp = [];\nvar serieUmid = [];\n\ndados.forEach(function (linha) {\n\tvar timestamp = new Date(linha.time).getTime();\n\tserieUmid.push({ x: timestamp, y: linha.umidade });\n\tserieTemp.push({ x: timestamp, y: linha.temperatura });\n});\n\n// 3. Payload para limpar e desenhar o gráfico\nmsg.payload = [{\n\t\"series\": [\"Temperatura\", \"Umidade\"],\n\t\"data\": [serieTemp, serieUmid]\n}];\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 840,
        "wires": [
            [
                "e14e9ed9d7521100",
                "300ddb43ad93d711"
            ]
        ]
    },
    {
        "id": "e14e9ed9d7521100",
        "type": "ui_chart",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "grafico 2",
        "group": "f08db2f85f4c80f1",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "{{msg.graf_label}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cb0707",
            "#3f62da",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "300ddb43ad93d711",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 740,
        "wires": []
    },
    {
        "id": "b7b29dda7336152e",
        "type": "ui_numeric",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "quantidade",
        "label": "",
        "tooltip": "",
        "group": "3718a67c6b88b822",
        "order": 1,
        "width": "2",
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "quantidade",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "45a285cb17384e98",
                "4f3133ecaaa597b2"
            ]
        ]
    },
    {
        "id": "cfe7b767a0e789c0",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "Periodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "3718a67c6b88b822",
        "order": 2,
        "width": "2",
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "hora",
                "value": "hour",
                "type": "str"
            },
            {
                "label": "dia",
                "value": "day",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "periodo",
        "topicType": "str",
        "className": "",
        "x": 520,
        "y": 1100,
        "wires": [
            [
                "4f3133ecaaa597b2"
            ]
        ]
    },
    {
        "id": "eff2051ee3d5e2c1",
        "type": "mysql",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "mydb": "f303a3fc5e3847e2",
        "name": "Graf Multiplo",
        "x": 830,
        "y": 1260,
        "wires": [
            [
                "fecd18830cab9fbf",
                "7f494d49b63bfd42"
            ]
        ]
    },
    {
        "id": "528f92f96f02ab2a",
        "type": "ui_chart",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "grafico",
        "group": "3718a67c6b88b822",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "{{msg.graf_label}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cb0707",
            "#3f62da",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "54506384c609b78a",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "comodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "3718a67c6b88b822",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "multiple": true,
        "options": [],
        "payload": "",
        "topic": "comodo",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 1160,
        "wires": [
            [
                "4f3133ecaaa597b2"
            ]
        ]
    },
    {
        "id": "2e41ac1063267434",
        "type": "inject",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 1360,
        "wires": [
            [
                "0013e73dfdc17992"
            ]
        ]
    },
    {
        "id": "45a285cb17384e98",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "6f2cc8ce72fc3bd4",
        "name": "atualizar combo box do comodo",
        "func": "//estrutura é msg: label\n//  msg.options = [\n//      { \"1 Hora\": \"hour\" },\n//      { \"12 Horas\": \"12 hour\" },\n//      { \"1 Dia\": \"day\" },\n//      { \"7 Dias\": \"7 day\" }\n//  ];\n\n\n// Recupera a sua variável (ajuste 'msg.payload' para onde a variável estiver, ex: global.get)\nlet sensores = global.get(\"sensores_estado\") || {};\nvar novasOpcoes = [];\n\n\n// 2. Percorre o objeto e monta a estrutura { \"Nome\": \"chave\" }\nfor (var chave in sensores) {\n    var obj = {};\n    var label = sensores[chave].nome\n    var valor = chave;   \n    obj[label] = chave;\n    novasOpcoes.push(obj);\n\n    };\n\n// 3. Define as opções com a estrutura que você solicitou\nmsg.options = novasOpcoes;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1120,
        "wires": [
            [
                "54506384c609b78a"
            ]
        ]
    },
    {
        "id": "0013e73dfdc17992",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "d": true,
        "g": "6f2cc8ce72fc3bd4",
        "name": "function 3",
        "func": "msg.options = [\n\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1180,
        "wires": [
            [
                "54506384c609b78a"
            ]
        ]
    },
    {
        "id": "fecd18830cab9fbf",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1100,
        "wires": []
    },
    {
        "id": "15259f1a220dfb26",
        "type": "ui_numeric",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "quantidade",
        "label": "",
        "tooltip": "",
        "group": "b6e9cedae7236c6f",
        "order": 1,
        "width": "2",
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "quantidade",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 530,
        "y": 1460,
        "wires": [
            [
                "d29991341311cc9a",
                "d3c3cddf6781b693"
            ]
        ]
    },
    {
        "id": "62fdb35e3c822361",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "Periodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "b6e9cedae7236c6f",
        "order": 2,
        "width": "2",
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "hora",
                "value": "hour",
                "type": "str"
            },
            {
                "label": "dia",
                "value": "day",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "periodo",
        "topicType": "str",
        "className": "",
        "x": 520,
        "y": 1520,
        "wires": [
            [
                "d29991341311cc9a"
            ]
        ]
    },
    {
        "id": "26fbce81c17ddd6a",
        "type": "mysql",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "mydb": "f303a3fc5e3847e2",
        "name": "Graf Multip U/T",
        "x": 840,
        "y": 1680,
        "wires": [
            [
                "0f45459ffa2911ba",
                "737dc1142170dbc2",
                "178b20552dcc7253"
            ]
        ]
    },
    {
        "id": "d0d832e78d024094",
        "type": "ui_chart",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "grafico temperatura",
        "group": "b6e9cedae7236c6f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "{{msg.graf_label}} Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cb0707",
            "#3f62da",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1210,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "bb823196c507ca70",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "comodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "b6e9cedae7236c6f",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "multiple": true,
        "options": [],
        "payload": "",
        "topic": "comodo",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 1580,
        "wires": [
            [
                "d29991341311cc9a"
            ]
        ]
    },
    {
        "id": "d6b89155ea711b81",
        "type": "inject",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 1780,
        "wires": [
            [
                "683c99777a4fa716"
            ]
        ]
    },
    {
        "id": "737dc1142170dbc2",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1600,
        "wires": []
    },
    {
        "id": "d3c3cddf6781b693",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "c2d756297920ba28",
        "name": "atualizar combo box do comodo",
        "func": "//estrutura é msg: label\n//  msg.options = [\n//      { \"1 Hora\": \"hour\" },\n//      { \"12 Horas\": \"12 hour\" },\n//      { \"1 Dia\": \"day\" },\n//      { \"7 Dias\": \"7 day\" }\n//  ];\n\n\n\n\n// Recupera a sua variável (ajuste 'msg.payload' para onde a variável estiver, ex: global.get)\nlet sensores = global.get(\"sensores_estado\") || {};\nvar novasOpcoes = [];\n\n\n// 2. Percorre o objeto e monta a estrutura { \"Nome\": \"chave\" }\nfor (var chave in sensores) {\n    var obj = {};\n    var label = sensores[chave].nome\n    var valor = chave;   \n    obj[label] = chave;\n    novasOpcoes.push(obj);\n\n    };\n\n// 3. Define as opções com a estrutura que você solicitou\nmsg.options = novasOpcoes;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1540,
        "wires": [
            [
                "bb823196c507ca70"
            ]
        ]
    },
    {
        "id": "683c99777a4fa716",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "d": true,
        "g": "c2d756297920ba28",
        "name": "function 7",
        "func": "msg.options = [\n\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1600,
        "wires": [
            [
                "bb823196c507ca70"
            ]
        ]
    },
    {
        "id": "0f45459ffa2911ba",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1520,
        "wires": []
    },
    {
        "id": "a25c78736e2e99b5",
        "type": "ui_chart",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "grafico umidade",
        "group": "b6e9cedae7236c6f",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "{{msg.graf_label}} Umidade",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cb0707",
            "#3f62da",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "e91ad2f67e4d49b6",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "8339988428ab1a9c",
        "type": "link in",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "link in 2",
        "links": [
            "72b18145fb3bcc07"
        ],
        "x": 505,
        "y": 520,
        "wires": [
            [
                "fd1157bc2238a2bb"
            ]
        ]
    },
    {
        "id": "9e29d553f7e7d1e5",
        "type": "link in",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "link in 3",
        "links": [
            "72b18145fb3bcc07"
        ],
        "x": 485,
        "y": 840,
        "wires": [
            [
                "c687e40a2246ed85"
            ]
        ]
    },
    {
        "id": "1d197ade866175e7",
        "type": "link in",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "link in 4",
        "links": [
            "72b18145fb3bcc07"
        ],
        "x": 485,
        "y": 1260,
        "wires": [
            [
                "4f3133ecaaa597b2"
            ]
        ]
    },
    {
        "id": "bf805937043479ee",
        "type": "link in",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "link in 5",
        "links": [
            "72b18145fb3bcc07"
        ],
        "x": 485,
        "y": 1680,
        "wires": [
            [
                "d29991341311cc9a"
            ]
        ]
    },
    {
        "id": "7165b23606f1c16e",
        "type": "ui_numeric",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "quantidade",
        "label": "",
        "tooltip": "",
        "group": "1643394473b50515",
        "order": 1,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "quantidade",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 530,
        "y": 2280,
        "wires": [
            [
                "1c4df43fe7a3e415",
                "ec18fdffa81ef127"
            ]
        ]
    },
    {
        "id": "8b7128b966a28f44",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "Periodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "1643394473b50515",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "hora",
                "value": "hour",
                "type": "str"
            },
            {
                "label": "dia",
                "value": "day",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "periodo",
        "topicType": "str",
        "className": "",
        "x": 520,
        "y": 2340,
        "wires": [
            [
                "1c4df43fe7a3e415"
            ]
        ]
    },
    {
        "id": "e8b4687bd3b529f4",
        "type": "mysql",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "mydb": "f303a3fc5e3847e2",
        "name": "Graf Grande",
        "x": 890,
        "y": 2500,
        "wires": [
            [
                "35b49e224e128950",
                "3ad32ba6217f1612",
                "63fbe0ceb5a51ec2"
            ]
        ]
    },
    {
        "id": "0e2c60393979c401",
        "type": "ui_chart",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "grafico temperatura",
        "group": "1643394473b50515",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cb0707",
            "#3f62da",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1210,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "555e6cb4e184fe4b",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "comodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "1643394473b50515",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "quarto",
                "value": "quarto",
                "type": "str"
            },
            {
                "label": "sala",
                "value": "sala",
                "type": "str"
            },
            {
                "label": "externo",
                "value": "externo",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "comodo",
        "topicType": "str",
        "className": "",
        "x": 520,
        "y": 2400,
        "wires": [
            [
                "1c4df43fe7a3e415"
            ]
        ]
    },
    {
        "id": "c6e97bfb52b152fb",
        "type": "inject",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 2560,
        "wires": [
            [
                "62e28841fb1036fc"
            ]
        ]
    },
    {
        "id": "3ad32ba6217f1612",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 2420,
        "wires": []
    },
    {
        "id": "ec18fdffa81ef127",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "1de4ce04d51b4999",
        "name": "atualizar combo box do comodo",
        "func": "//estrutura é msg: label\n//  msg.options = [\n//      { \"1 Hora\": \"hour\" },\n//      { \"12 Horas\": \"12 hour\" },\n//      { \"1 Dia\": \"day\" },\n//      { \"7 Dias\": \"7 day\" }\n//  ];\n\n// Recupera a sua variável (ajuste 'msg.payload' para onde a variável estiver, ex: global.get)\nlet sensores = global.get(\"sensores_estado\") || {};\nvar novasOpcoes = [];\n\n\n// 2. Percorre o objeto e monta a estrutura { \"Nome\": \"chave\" }\nfor (var chave in sensores) {\n    var obj = {};\n    var label = sensores[chave].nome\n    var valor = chave;   \n    obj[label] = chave;\n    novasOpcoes.push(obj);\n\n    };\n\n// 3. Define as opções com a estrutura que você solicitou\nmsg.options = novasOpcoes;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 2360,
        "wires": [
            [
                "555e6cb4e184fe4b"
            ]
        ]
    },
    {
        "id": "62e28841fb1036fc",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "d": true,
        "g": "1de4ce04d51b4999",
        "name": "function 1",
        "func": "msg.options = [\n\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2420,
        "wires": [
            [
                "555e6cb4e184fe4b"
            ]
        ]
    },
    {
        "id": "35b49e224e128950",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 2340,
        "wires": []
    },
    {
        "id": "3350f7a3f50b475c",
        "type": "ui_chart",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "grafico umidade",
        "group": "1643394473b50515",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "{{msg.graf_label}} Umidade",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cb0707",
            "#3f62da",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 2580,
        "wires": [
            []
        ]
    },
    {
        "id": "669a8ec6dc98942d",
        "type": "link in",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "link in 6",
        "links": [
            "72b18145fb3bcc07"
        ],
        "x": 485,
        "y": 2500,
        "wires": [
            [
                "1c4df43fe7a3e415"
            ]
        ]
    },
    {
        "id": "cd03b4d1d0e8456b",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "d": true,
        "g": "4da7e4065099050b",
        "name": "function 10 new",
        "func": "var dados = msg.payload;\nvar periodo = msg.periodo_selecionado;\n\n// Configuração de escala\nvar formatoX = (periodo === \"hour\") ? \"HH:mm\" : \"DD/MM\";\nmsg.ui_control = { xformat: formatoX };\n\nvar seriesTemp = [];\nvar dadosTemp = [];\n//var seriesUmid = [];\n//var dadosUmid = [];\n\nvar tempMap = {};\n//var umidMap = {};\n\n// Organiza os dados por localidade\ndados.forEach(function (linha) {\n    var timestamp = new Date(linha.time).getTime();\n    var loc = linha.localidade;\n\n    if (!tempMap[loc]) tempMap[loc] = [];\n  //  if (!umidMap[loc]) umidMap[loc] = [];\n\n    tempMap[loc].push({ x: timestamp, y: linha.status });\n    //umidMap[loc].push({ x: timestamp, y: linha.umidade });\n});\n\n// Monta o payload de status\nfor (var loc in tempMap) {\n    seriesTemp.push(loc);\n    dadosTemp.push(tempMap[loc]);\n}\n\n// Monta o payload de Umidade\n// for (var loc in umidMap) {\n//     seriesUmid.push(loc);\n//     dadosUmid.push(umidMap[loc]);\n// }\n\n// Prepara as mensagens de saída\nvar msgTemp = RED.util.cloneMessage(msg);\nmsgTemp.payload = [{ series: seriesTemp, data: dadosTemp }];\n\n// var msgUmid = RED.util.cloneMessage(msg);\n// msgUmid.payload = [{ series: seriesUmid, data: dadosUmid }];\n\n// Retorna [Saída 1 (Temp), Saída 2 (Umid)]\nmsg.payload = [{ series: seriesTemp, data: dadosTemp }];\n\nreturn msg\nreturn [msgTemp];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 3100,
        "wires": [
            [
                "97ebbf1eb3a0a645"
            ],
            []
        ]
    },
    {
        "id": "ed6b860bb662706b",
        "type": "ui_numeric",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "quantidade",
        "label": "",
        "tooltip": "",
        "group": "a72e85949632c8ba",
        "order": 1,
        "width": "2",
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "quantidade",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 2820,
        "wires": [
            [
                "154df7a1a6c7342a"
            ]
        ]
    },
    {
        "id": "1d36a5a3aa3b6eb2",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "Periodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a72e85949632c8ba",
        "order": 2,
        "width": "2",
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "hora",
                "value": "hour",
                "type": "str"
            },
            {
                "label": "dia",
                "value": "day",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "periodo",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 2880,
        "wires": [
            [
                "154df7a1a6c7342a"
            ]
        ]
    },
    {
        "id": "7f0442daddee70a6",
        "type": "mysql",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "mydb": "f303a3fc5e3847e2",
        "name": "Graf Status",
        "x": 810,
        "y": 3040,
        "wires": [
            [
                "5ed4028727b27bad",
                "7d879cb054f5840b",
                "cd03b4d1d0e8456b",
                "62bf7d13016a8af4"
            ]
        ]
    },
    {
        "id": "97ebbf1eb3a0a645",
        "type": "ui_chart",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "grafico temperatura",
        "group": "a72e85949632c8ba",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "{{msg.graf_label}} Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cb0707",
            "#3f62da",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 3020,
        "wires": [
            []
        ]
    },
    {
        "id": "1208d3b4ba05e90c",
        "type": "ui_dropdown",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "comodo",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a72e85949632c8ba",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "quarto",
                "value": "quarto",
                "type": "str"
            },
            {
                "label": "sala",
                "value": "sala",
                "type": "str"
            },
            {
                "label": "externo",
                "value": "externo",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "comodo",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 2940,
        "wires": [
            [
                "154df7a1a6c7342a"
            ]
        ]
    },
    {
        "id": "7bbbaf94aae86036",
        "type": "inject",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 2820,
        "wires": [
            [
                "469cd189a7fb7c8a"
            ]
        ]
    },
    {
        "id": "5b3f69db094ebc4c",
        "type": "inject",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 3140,
        "wires": [
            [
                "b715fd5e2be725cd"
            ]
        ]
    },
    {
        "id": "7d879cb054f5840b",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 2960,
        "wires": []
    },
    {
        "id": "469cd189a7fb7c8a",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "a07a21a34c8dd8d5",
        "name": "atualizar combo box do comodo",
        "func": "//estrutura é msg: label\n//  msg.options = [\n//      { \"1 Hora\": \"hour\" },\n//      { \"12 Horas\": \"12 hour\" },\n//      { \"1 Dia\": \"day\" },\n//      { \"7 Dias\": \"7 day\" }\n//  ];\n\n// Recupera a sua variável (ajuste 'msg.payload' para onde a variável estiver, ex: global.get)\nlet sensores = global.get(\"sensores_estado\") || {};\nvar novasOpcoes = [];\n\n\n// 2. Percorre o objeto e monta a estrutura { \"Nome\": \"chave\" }\nfor (var chave in sensores) {\n    var obj = {};\n    var label = sensores[chave].nome\n    var valor = chave;   \n    obj[label] = chave;\n    novasOpcoes.push(obj);\n\n    };\n\n// 3. Define as opções com a estrutura que você solicitou\nmsg.options = novasOpcoes;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 2900,
        "wires": [
            [
                "1208d3b4ba05e90c"
            ]
        ]
    },
    {
        "id": "b715fd5e2be725cd",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "d": true,
        "g": "a07a21a34c8dd8d5",
        "name": "function 9",
        "func": "msg.options = [\n\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 2960,
        "wires": [
            [
                "1208d3b4ba05e90c"
            ]
        ]
    },
    {
        "id": "154df7a1a6c7342a",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "func novo",
        "func": "\n// inicio do func original\n\nif(msg.topic == \"quantidade\"){\n    context.set(\"c_quantidade\", msg.payload)\n}\n\nif(msg.topic == \"periodo\"){\n    context.set(\"c_periodo\", msg.payload)  \n}\n\nif(msg.topic == \"comodo\"){\n    context.set(\"c_comodo\", msg.payload.map(item => `'${item}'`).join(', '))\n}\n\nvar quantidade = (context.get(\"c_quantidade\") || 1)\nvar periodo = (context.get(\"c_periodo\") || \"day\")\nvar location = (context.get(\"c_comodo\") || \"quarto\")\n\n//edita o label do grafico\nif (periodo == \"day\"){\n    var label_periodo = \"dia\"\n} else {\n    var label_periodo = \"hora\"\n}\nmsg.graf_label = quantidade + \" \" + label_periodo + \" \" + location\n\n\n// msg.topic = \"SELECT * FROM Clima where localidade in (\" + location + \") and time  >= DATE_SUB(NOW(),INTERVAL \" + quantidade + \" \" + periodo + \") ORDER BY id;\"\n\nmsg.topic = \"SELECT * FROM Status where localidade in (\" + location + \") and time  >= DATE_SUB(NOW(),INTERVAL \" + quantidade + \" \" + periodo + \") ORDER BY id;\"\n\n\n\nmsg.periodo_selecionado = periodo; // usado para a escala do grafico\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 3040,
        "wires": [
            [
                "7f0442daddee70a6",
                "0ff1f64e88c8ab2e"
            ]
        ]
    },
    {
        "id": "5ed4028727b27bad",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 2880,
        "wires": []
    },
    {
        "id": "f52edc5c66d2d50e",
        "type": "link in",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "link in 1",
        "links": [
            "72b18145fb3bcc07"
        ],
        "x": 505,
        "y": 3040,
        "wires": [
            [
                "154df7a1a6c7342a"
            ]
        ]
    },
    {
        "id": "0ff1f64e88c8ab2e",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 2920,
        "wires": []
    },
    {
        "id": "62bf7d13016a8af4",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "4da7e4065099050b",
        "name": "function 10 new limpo",
        "func": "var dados = msg.payload;\nvar periodo = msg.periodo_selecionado;\n\n// Configuração de escala\nvar formatoX = (periodo === \"hour\") ? \"HH:mm\" : \"DD/MM\";\nmsg.ui_control = { xformat: formatoX };\n\nvar seriesStatus = [];\nvar dadosStatus = [];\n\nvar StatusMap = {};\n\n// Organiza os dados por localidade\ndados.forEach(function (linha) {\n    var timestamp = new Date(linha.time).getTime();\n    var loc = linha.localidade;\n\n    if (!StatusMap[loc]) StatusMap[loc] = [];\n\n    StatusMap[loc].push({ x: timestamp, y: linha.status });\n});\n\n// Monta o payload de status\nfor (var loc in StatusMap) {\n    seriesStatus.push(loc);\n    dadosStatus.push(StatusMap[loc]);\n}\n\n// Prepara as mensagens de saída\nvar msgStatus = RED.util.cloneMessage(msg);\nmsgStatus.payload = [{ series: seriesStatus, data: dadosStatus }];\n\n// Retorna [Saída 1 (Status)]\nmsg.payload = [{ series: seriesStatus, data: dadosStatus }];\n\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 3140,
        "wires": [
            [
                "97ebbf1eb3a0a645"
            ]
        ]
    },
    {
        "id": "4cdf1da6da6eec51",
        "type": "ui_date_picker",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "",
        "label": "date",
        "group": "1643394473b50515",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 510,
        "y": 2580,
        "wires": [
            [
                "7cf5bb98e7291be8"
            ]
        ]
    },
    {
        "id": "7cf5bb98e7291be8",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 2580,
        "wires": []
    },
    {
        "id": "1c4df43fe7a3e415",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "Prep Query Grafico 2",
        "func": "\n/**\n * Descrição: Este nó gerencia os filtros do Dashboard (quantidade, período e cômodos).\n * Ele armazena as escolhas no contexto para persistência, gera uma string de \n * visualização para o nó de texto e constrói a Query SQL para busca no MySQL.\n */\n\n\n// Recupera ou define valores padrão\nif(msg.topic == \"quantidade\"){\n    context.set(\"c_quantidade\", msg.payload);\n}\n\nif(msg.topic == \"periodo\"){\n    context.set(\"c_periodo\", msg.payload);\n}\n\nif(msg.topic == \"comodo\"){\n    // Formata o array para a query SQL: 'quarto', 'sala'\n    context.set(\"c_comodo\", msg.payload.map(item => `'${item}'`).join(', '));\n}\n\nvar quantidade = (context.get(\"c_quantidade\") || 1);\nvar periodo = (context.get(\"c_periodo\") || \"day\");\nvar location = (context.get(\"c_comodo\") || \"'quarto'\");\n\n// --- AQUI ESTÁ A MUDANÇA ---\n// Em vez de mudar o msg.graf_label (que afeta o componente do gráfico),\n// vamos criar uma propriedade nova para exibir em um nó de texto separado.\nvar label_periodo = (periodo == \"day\") ? \"dia(s)\" : \"hora(s)\";\nmsg.info_filtro = \"Local: \" + location.replace(/'/g, \"\") + \" | Janela: \" + quantidade + \" \" + label_periodo;\n\n// Deixamos o label do gráfico FIXO para não resetar as cores\nmsg.graf_label = \"Dados Históricos\"; \n// ---------------------------\n\n// Prepara a Query SQL\nmsg.topic = \"SELECT * FROM Clima where localidade in (\" + location + \") and time >= DATE_SUB(NOW(), INTERVAL \" + quantidade + \" \" + periodo + \") ORDER BY id;\";\n\nmsg.periodo_selecionado = periodo; \n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2500,
        "wires": [
            [
                "e8b4687bd3b529f4",
                "157cc1e7462adc39"
            ]
        ]
    },
    {
        "id": "63fbe0ceb5a51ec2",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "Proc Query para Grafico 2",
        "func": "/**\n * Descrição: Este nó processa os resultados vindos do MySQL para o formato do Chart.\n * Ele separa os dados em Temperatura e Umidade, configura o formato da data no eixo X\n * e organiza os cômodos em ordem alfabética para garantir cores fixas nas legendas.\n */\n\n\nvar dados = msg.payload;\nvar periodo = msg.periodo_selecionado;\n\n// Configuração de escala\nvar formatoX = (periodo === \"hour\") ? \"HH:mm\" : \"DD/MM\";\nmsg.ui_control = { xformat: formatoX };\n\nvar tempMap = {};\nvar umidMap = {};\n\n// 1. Organiza os dados brutos por localidade\ndados.forEach(function (linha) {\n    var timestamp = new Date(linha.time).getTime();\n    var loc = linha.localidade;\n\n    if (!tempMap[loc]) tempMap[loc] = [];\n    if (!umidMap[loc]) umidMap[loc] = [];\n\n    tempMap[loc].push({ x: timestamp, y: linha.temperatura });\n    umidMap[loc].push({ x: timestamp, y: linha.umidade });\n});\n\n// 2. PEGA OS NOMES DOS CÔMODOS E COLOCA EM ORDEM ALFABÉTICA\n// Isso garante que a ordem das cores seja sempre a mesma!\nvar localidadesOrdenadas = Object.keys(tempMap).sort();\n\nvar seriesTemp = [];\nvar dadosTemp = [];\nvar seriesUmid = [];\nvar dadosUmid = [];\n\n// 3. Monta o payload seguindo a ordem alfabética fixa\nlocalidadesOrdenadas.forEach(function(loc) {\n    // Temperatura\n    seriesTemp.push(loc);\n    dadosTemp.push(tempMap[loc]);\n    \n    // Umidade\n    seriesUmid.push(loc);\n    dadosUmid.push(umidMap[loc]);\n});\n\n// Prepara as mensagens de saída\nvar msgTemp = RED.util.cloneMessage(msg);\nmsgTemp.payload = [{ series: seriesTemp, data: dadosTemp }];\n\nvar msgUmid = RED.util.cloneMessage(msg);\nmsgUmid.payload = [{ series: seriesUmid, data: dadosUmid }];\n\nreturn [msgTemp, msgUmid];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 2560,
        "wires": [
            [
                "0e2c60393979c401"
            ],
            [
                "3350f7a3f50b475c"
            ]
        ]
    },
    {
        "id": "d29991341311cc9a",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "Prep Query Grafico 2",
        "func": "\n/**\n * Descrição: Este nó gerencia os filtros do Dashboard (quantidade, período e cômodos).\n * Ele armazena as escolhas no contexto para persistência, gera uma string de \n * visualização para o nó de texto e constrói a Query SQL para busca no MySQL.\n */\n\n\n// Recupera ou define valores padrão\nif(msg.topic == \"quantidade\"){\n    context.set(\"c_quantidade\", msg.payload);\n}\n\nif(msg.topic == \"periodo\"){\n    context.set(\"c_periodo\", msg.payload);\n}\n\nif(msg.topic == \"comodo\"){\n    // Formata o array para a query SQL: 'quarto', 'sala'\n    context.set(\"c_comodo\", msg.payload.map(item => `'${item}'`).join(', '));\n}\n\nvar quantidade = (context.get(\"c_quantidade\") || 1);\nvar periodo = (context.get(\"c_periodo\") || \"day\");\nvar location = (context.get(\"c_comodo\") || \"'quarto'\");\n\n// --- AQUI ESTÁ A MUDANÇA ---\n// Em vez de mudar o msg.graf_label (que afeta o componente do gráfico),\n// vamos criar uma propriedade nova para exibir em um nó de texto separado.\nvar label_periodo = (periodo == \"day\") ? \"dia(s)\" : \"hora(s)\";\nmsg.info_filtro = \"Local: \" + location.replace(/'/g, \"\") + \" | Janela: \" + quantidade + \" \" + label_periodo;\n\n// Deixamos o label do gráfico FIXO para não resetar as cores\nmsg.graf_label = \"Dados Históricos\"; \n// ---------------------------\n\n// Prepara a Query SQL\nmsg.topic = \"SELECT * FROM Clima where localidade in (\" + location + \") and time >= DATE_SUB(NOW(), INTERVAL \" + quantidade + \" \" + periodo + \") ORDER BY id;\";\n\nmsg.periodo_selecionado = periodo; \n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1740,
        "wires": [
            [
                "26fbce81c17ddd6a"
            ]
        ]
    },
    {
        "id": "178b20552dcc7253",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "ca8e4369715765e7",
        "name": "Proc Query para Grafico 2",
        "func": "/**\n * Descrição: Este nó processa os resultados vindos do MySQL para o formato do Chart.\n * Ele separa os dados em Temperatura e Umidade, configura o formato da data no eixo X\n * e organiza os cômodos em ordem alfabética para garantir cores fixas nas legendas.\n */\n\n\nvar dados = msg.payload;\nvar periodo = msg.periodo_selecionado;\n\n// Configuração de escala\nvar formatoX = (periodo === \"hour\") ? \"HH:mm\" : \"DD/MM\";\nmsg.ui_control = { xformat: formatoX };\n\nvar tempMap = {};\nvar umidMap = {};\n\n// 1. Organiza os dados brutos por localidade\ndados.forEach(function (linha) {\n    var timestamp = new Date(linha.time).getTime();\n    var loc = linha.localidade;\n\n    if (!tempMap[loc]) tempMap[loc] = [];\n    if (!umidMap[loc]) umidMap[loc] = [];\n\n    tempMap[loc].push({ x: timestamp, y: linha.temperatura });\n    umidMap[loc].push({ x: timestamp, y: linha.umidade });\n});\n\n// 2. PEGA OS NOMES DOS CÔMODOS E COLOCA EM ORDEM ALFABÉTICA\n// Isso garante que a ordem das cores seja sempre a mesma!\nvar localidadesOrdenadas = Object.keys(tempMap).sort();\n\nvar seriesTemp = [];\nvar dadosTemp = [];\nvar seriesUmid = [];\nvar dadosUmid = [];\n\n// 3. Monta o payload seguindo a ordem alfabética fixa\nlocalidadesOrdenadas.forEach(function(loc) {\n    // Temperatura\n    seriesTemp.push(loc);\n    dadosTemp.push(tempMap[loc]);\n    \n    // Umidade\n    seriesUmid.push(loc);\n    dadosUmid.push(umidMap[loc]);\n});\n\n// Prepara as mensagens de saída\nvar msgTemp = RED.util.cloneMessage(msg);\nmsgTemp.payload = [{ series: seriesTemp, data: dadosTemp }];\n\nvar msgUmid = RED.util.cloneMessage(msg);\nmsgUmid.payload = [{ series: seriesUmid, data: dadosUmid }];\n\nreturn [msgTemp, msgUmid];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1780,
        "wires": [
            [
                "d0d832e78d024094"
            ],
            [
                "a25c78736e2e99b5"
            ]
        ]
    },
    {
        "id": "7f494d49b63bfd42",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "Proc Query para Grafico 2",
        "func": "/**\n * Descrição: Este nó processa os dados para exibir Temperatura e Umidade no MESMO gráfico.\n * Organiza as legendas em ordem alfabética (Ex: Temp: Quarto, Umid: Quarto) para \n * evitar que as cores mudem ao alternar períodos.\n */\n\nvar dados = msg.payload;\nvar periodo = msg.periodo_selecionado;\n\n// 1. Configuração da Escala Dinâmica\nvar formatoX = (periodo === \"hour\") ? \"HH:mm\" : \"DD/MM\";\nmsg.ui_control = { xformat: formatoX };\n\n// 2. Organização dos dados por Cômodo\nvar tempSeries = {}; // Objeto temporário para organizar as linhas\n\ndados.forEach(function (linha) {\n    var timestamp = new Date(linha.time).getTime();\n    var loc = linha.localidade;\n\n    // Criar chaves únicas para cada métrica por cômodo\n    var labelTemp = \"Temp: \" + loc;\n    var labelUmid = \"Umid: \" + loc;\n\n    if (!tempSeries[labelTemp]) tempSeries[labelTemp] = [];\n    if (!tempSeries[labelUmid]) tempSeries[labelUmid] = [];\n\n    tempSeries[labelTemp].push({ x: timestamp, y: linha.temperatura });\n    tempSeries[labelUmid].push({ x: timestamp, y: linha.umidade });\n});\n\n// 3. ORDENAÇÃO ALFABÉTICA DAS LEGENDAS\n// Isso impede que \"Umid: sala\" mude de cor se o banco retornar os dados em ordem diferente.\nvar legendasOrdenadas = Object.keys(tempSeries).sort();\n\nvar series = [];\nvar dadosGrafico = [];\n\n// 4. Transformar o objeto temporário seguindo a ordem fixa\nlegendasOrdenadas.forEach(function(nomeSerie) {\n    series.push(nomeSerie);\n    dadosGrafico.push(tempSeries[nomeSerie]);\n});\n\n// 5. Payload final\nmsg.payload = [{\n    \"series\": series,\n    \"data\": dadosGrafico\n}];\n\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1260,
        "wires": [
            [
                "528f92f96f02ab2a"
            ]
        ]
    },
    {
        "id": "4f3133ecaaa597b2",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "9d16db9412d3cbfa",
        "name": "Prep Query Grafico 2",
        "func": "\n/**\n * Descrição: Este nó gerencia os filtros do Dashboard (quantidade, período e cômodos).\n * Ele armazena as escolhas no contexto para persistência, gera uma string de \n * visualização para o nó de texto e constrói a Query SQL para busca no MySQL.\n */\n\n\n// Recupera ou define valores padrão\nif(msg.topic == \"quantidade\"){\n    context.set(\"c_quantidade\", msg.payload);\n}\n\nif(msg.topic == \"periodo\"){\n    context.set(\"c_periodo\", msg.payload);\n}\n\nif(msg.topic == \"comodo\"){\n    // Formata o array para a query SQL: 'quarto', 'sala'\n    context.set(\"c_comodo\", msg.payload.map(item => `'${item}'`).join(', '));\n}\n\nvar quantidade = (context.get(\"c_quantidade\") || 1);\nvar periodo = (context.get(\"c_periodo\") || \"day\");\nvar location = (context.get(\"c_comodo\") || \"'quarto'\");\n\n// --- AQUI ESTÁ A MUDANÇA ---\n// Em vez de mudar o msg.graf_label (que afeta o componente do gráfico),\n// vamos criar uma propriedade nova para exibir em um nó de texto separado.\nvar label_periodo = (periodo == \"day\") ? \"dia(s)\" : \"hora(s)\";\nmsg.info_filtro = \"Local: \" + location.replace(/'/g, \"\") + \" | Janela: \" + quantidade + \" \" + label_periodo;\n\n// Deixamos o label do gráfico FIXO para não resetar as cores\nmsg.graf_label = \"Dados Históricos\"; \n// ---------------------------\n\n// Prepara a Query SQL\nmsg.topic = \"SELECT * FROM Clima where localidade in (\" + location + \") and time >= DATE_SUB(NOW(), INTERVAL \" + quantidade + \" \" + periodo + \") ORDER BY id;\";\n\nmsg.periodo_selecionado = periodo; \n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1260,
        "wires": [
            [
                "eff2051ee3d5e2c1"
            ]
        ]
    },
    {
        "id": "157cc1e7462adc39",
        "type": "debug",
        "z": "1a43f8e8e0dc6e41",
        "g": "04342e764b448045",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 2400,
        "wires": []
    },
    {
        "id": "b43f99df55c39403",
        "type": "inject",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "92328e21c01ddeba"
            ]
        ]
    },
    {
        "id": "cb22082460c30efe",
        "type": "function",
        "z": "1a43f8e8e0dc6e41",
        "g": "c24a385efa0d3252",
        "name": "input iniciar ao resetar nodered",
        "func": "/// funçao esta na aba inicio para gerar ao iniciar o nodered\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\n\n// O código aqui executa uma vez quando o fluxo é implantado (Deploy)\nsetTimeout(() => {\n    // Criamos o objeto de mensagem com o valor 1\n    const msgInicial = {\n        payload: 1,\n        topic: \"inicializacao\"\n    };\n\n    // Enviamos para a saída do nó\n    node.send(msgInicial);\n}, 200); // 200ms de atraso para garantir que os outros nós estejam prontos\n\n",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 260,
        "wires": [
            [
                "92328e21c01ddeba"
            ]
        ]
    },
    {
        "id": "e0227020e2b7bb58",
        "type": "json",
        "z": "be470d6210457a9f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "7094823613bef30d",
                "004842a79fac4772",
                "aa9308d5487eb666",
                "b7f263edfab4b946",
                "e1724d39051a5881",
                "5ea8beef1047ced2"
            ]
        ]
    },
    {
        "id": "82b34ba6af9b30ec",
        "type": "switch",
        "z": "be470d6210457a9f",
        "name": "",
        "property": "payload.device",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ape/quarto",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ape/fechado",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ape/varanda",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ape/nodeproto",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ape/sala",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ape/quartom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ape/aberto",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 8,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "bb37f2527840df8e"
            ],
            [
                "e796562697ab6454",
                "9c3003ba64568dd2"
            ],
            [
                "62ec279c85f47c97"
            ],
            [
                "7787e1d3cbec89ea"
            ],
            [
                "8cc6933901fec2e4",
                "9c3003ba64568dd2"
            ],
            [
                "618ecfdb6dd969ee"
            ],
            [
                "9e1096c7717d4410",
                "9c3003ba64568dd2"
            ],
            [
                "d9c7023687a505e3"
            ]
        ]
    },
    {
        "id": "338da75c745169cc",
        "type": "mqtt in",
        "z": "be470d6210457a9f",
        "name": "",
        "topic": "ape/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "25167bbc.e1295c",
        "inputs": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "dc92bc51c9a92ac3",
                "e0227020e2b7bb58"
            ]
        ]
    },
    {
        "id": "aa9308d5487eb666",
        "type": "function",
        "z": "be470d6210457a9f",
        "name": "Send Disconect",
        "func": "if (msg.payload.status === \"red\")\n{\n    msg.topic = msg.payload.device;\n    msg.enabled = false;\n    msg.payload = \"disconnect\"\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            [
                "b55e7d43f7c6898a"
            ]
        ]
    },
    {
        "id": "b55e7d43f7c6898a",
        "type": "mqtt out",
        "z": "be470d6210457a9f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "25167bbc.e1295c",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "dc92bc51c9a92ac3",
        "type": "debug",
        "z": "be470d6210457a9f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 480,
        "wires": []
    },
    {
        "id": "004842a79fac4772",
        "type": "function",
        "z": "be470d6210457a9f",
        "name": "Salva_variaveis",
        "func": "/* salva os status de ip e versao da msg para replicar na desconexão */\n\nmsg.payload.date = new Date() //substituindo o insert timestamp, \n\nvar count = context.get('f_count')||0;\nvar count1 = count\nvar device_id_num = \"NOK\"\n\n\nfor (var x = 0; x <= count; x++){\n    if(count === 0){\n        context.set(\"f_device[\"+x+\"]\" ,msg.payload.device)\n        count++\n        context.set(\"f_count\", count)\n        device_id_num = x\n        break; \n    }\n\n    if (context.get(\"f_device[\"+x+\"]\") === msg.payload.device){\n        device_id_num = x\n        break; \n    }\n}\n\nif(msg.payload.status === \"green\"){\n    if(device_id_num === \"NOK\"){\n        context.set(\"f_device[\"+count+\"]\",msg.payload.device)\n        count++\n        context.set(\"f_count\", count)\n        context.set(\"f_versao[\"+count+\"]\",msg.payload.ver)\n        context.set(\"f_ip[\"+count+\"]\",msg.payload.ip)\n    } else {\n        context.set(\"f_versao[\"+device_id_num+\"]\",msg.payload.ver)\n        context.set(\"f_ip[\"+device_id_num+\"]\",msg.payload.ip)\n    }\n} else {\n    msg.payload.ver = context.get(\"f_versao[\"+device_id_num+\"]\")\n    msg.payload.ip = context.get(\"f_ip[\"+device_id_num+\"]\")\n}\n\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "82b34ba6af9b30ec",
                "6029440084859d71"
            ]
        ]
    },
    {
        "id": "7094823613bef30d",
        "type": "debug",
        "z": "be470d6210457a9f",
        "name": "Status_json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "6029440084859d71",
        "type": "debug",
        "z": "be470d6210457a9f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "5696b6c8cd08c652",
        "type": "inject",
        "z": "be470d6210457a9f",
        "name": "clear",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "d9c7023687a505e3"
            ]
        ]
    },
    {
        "id": "98a7edfe02ad675a",
        "type": "debug",
        "z": "be470d6210457a9f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1530,
        "y": 320,
        "wires": []
    },
    {
        "id": "8326cb640cb90d5f",
        "type": "comment",
        "z": "be470d6210457a9f",
        "name": "G1",
        "info": "",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "d3e1f3fd4707082c",
        "type": "inject",
        "z": "be470d6210457a9f",
        "name": "red-quartom",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ape/status",
        "payload": "{\"device\":\"ape/quartom1\",\"status\":\"red\"}",
        "payloadType": "str",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "e0227020e2b7bb58"
            ]
        ]
    },
    {
        "id": "fbd86afbc716c57e",
        "type": "inject",
        "z": "be470d6210457a9f",
        "name": "red-quartom",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ape/status",
        "payload": "{\"ip\":\"192.168.15.46\",\"device\":\"ape/sala123\",\"up\":\"0d 00:00\",\"reset\":\"68\",\"ver\":\"3.5.7D5\",\"status\":\"green\"}",
        "payloadType": "str",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "e0227020e2b7bb58"
            ]
        ]
    },
    {
        "id": "1a85054fe48ab846",
        "type": "ui_button",
        "z": "be470d6210457a9f",
        "name": "Clear",
        "group": "c5ede3b960b4a656",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 930,
        "y": 480,
        "wires": [
            [
                "d9c7023687a505e3"
            ]
        ]
    },
    {
        "id": "e796562697ab6454",
        "type": "ui_template",
        "z": "be470d6210457a9f",
        "group": "d3133e84b2df0f0a",
        "name": "ape/fechado",
        "order": 1,
        "width": 4,
        "height": 4,
        "format": "<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n\n\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n    <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n  <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 280,
        "wires": [
            [
                "98a7edfe02ad675a"
            ]
        ]
    },
    {
        "id": "bb37f2527840df8e",
        "type": "ui_template",
        "z": "be470d6210457a9f",
        "group": "5f61f5e7481d3864",
        "name": "ape/quarto",
        "order": 1,
        "width": 4,
        "height": 4,
        "format": "<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n    <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "62ec279c85f47c97",
        "type": "ui_template",
        "z": "be470d6210457a9f",
        "group": "c5ede3b960b4a656",
        "name": "Ape/Varanda",
        "order": 1,
        "width": 4,
        "height": 4,
        "format": "<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7787e1d3cbec89ea",
        "type": "ui_template",
        "z": "be470d6210457a9f",
        "group": "5f61f5e7481d3864",
        "name": "ape/nodeproto",
        "order": 2,
        "width": 4,
        "height": 4,
        "format": "\n<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8cc6933901fec2e4",
        "type": "ui_template",
        "z": "be470d6210457a9f",
        "group": "d3133e84b2df0f0a",
        "name": "ape/sala",
        "order": 2,
        "width": 4,
        "height": 4,
        "format": "<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "618ecfdb6dd969ee",
        "type": "ui_template",
        "z": "be470d6210457a9f",
        "group": "c5ede3b960b4a656",
        "name": "ape/quartom",
        "order": 2,
        "width": 4,
        "height": 4,
        "format": "<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d9c7023687a505e3",
        "type": "ui_template",
        "z": "be470d6210457a9f",
        "group": "c5ede3b960b4a656",
        "name": "",
        "order": 3,
        "width": 4,
        "height": 4,
        "format": "<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device || \"new device\"}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9e1096c7717d4410",
        "type": "ui_template",
        "z": "be470d6210457a9f",
        "group": "5f61f5e7481d3864",
        "name": "ape/aberto",
        "order": 3,
        "width": 4,
        "height": 4,
        "format": "<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9c3003ba64568dd2",
        "type": "debug",
        "z": "be470d6210457a9f",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "b7f263edfab4b946",
        "type": "switch",
        "z": "be470d6210457a9f",
        "name": "",
        "property": "payload.device",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ape/nodeproto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "f1416f26e14d7f4d"
            ]
        ]
    },
    {
        "id": "f1416f26e14d7f4d",
        "type": "debug",
        "z": "be470d6210457a9f",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 580,
        "wires": []
    },
    {
        "id": "e0835d9f8e1d6d92",
        "type": "debug",
        "z": "be470d6210457a9f",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 700,
        "wires": []
    },
    {
        "id": "c38f9baa7d74f5d5",
        "type": "inject",
        "z": "be470d6210457a9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 550,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "448f50b65fef8945",
        "type": "link in",
        "z": "be470d6210457a9f",
        "name": "link in 7",
        "links": [
            "72b18145fb3bcc07"
        ],
        "x": 305,
        "y": 900,
        "wires": [
            [
                "e1724d39051a5881",
                "5ea8beef1047ced2"
            ]
        ]
    },
    {
        "id": "e1724d39051a5881",
        "type": "function",
        "z": "be470d6210457a9f",
        "d": true,
        "name": "Status Monitor",
        "func": "/**\n * Monitor de Status de Dispositivos com Offset Dinâmico e Verticalização de Gráfico.\n * * OBJETIVO:\n * 1. Converter status \"green\"/\"red\" em valores numéricos para Dashboard Chart.\n * 2. Aplicar offset (deslocamento) dinâmico baseado no Contexto Global para evitar sobreposição de linhas.\n * 3. Garantir transições verticais (degrau) eliminando linhas diagonais.\n * 4. Manter histórico de dispositivos offline via trigger periódico.\n * * LÓGICA DE OFFSET:\n * - Online: 1.1, 1.2, 1.3... (1 + [índice_alfabetico * 0.1])\n * - Offline: -0.1, -0.2, -0.3... ([índice_alfabetico * -0.1])\n * * SAÍDA DE DADOS (msg):\n * - msg.topic: Nome do cômodo/dispositivo (ex: \"sala\", \"aberto\").\n * - msg.payload: Valor numérico formatado com uma casa decimal (float).\n * - msg.timestamp: Epoch time (ms) para garantir precisão cronológica no SQL/Gráfico.\n */\n\n\n// 1. Recupera o objeto global completo\nlet globalData = global.get('sensores_estado') || {};\n\n// 2. Gera a lista de cômodos dinamicamente a partir das chaves do objeto\n// Isso garante que a ordem seja baseada no que existe no contexto agora\nconst ordemComodos = Object.keys(globalData).sort(); \n\n// 3. FILTRO: Trigger periódico (\"input\")\nif (msg.payload === \"input\") {\n    let updates = [];\n    \n    for (const room in globalData) {\n        // Só processa se o status for 0 (Offline)\n        if (globalData[room].status === 0) {\n            const index = ordemComodos.indexOf(room) + 1;\n            const valorDown = parseFloat((index * -0.1).toFixed(1));\n\n            updates.push({\n                topic: room,\n                payload: valorDown,\n                timestamp: Date.now()\n            });\n        }\n    }\n    return updates.length > 0 ? [updates] : null;\n} \n\n// 4. LOGICA: Mensagem MQTT do Device\nelse if (msg.payload && msg.payload.device) {\n    const room = msg.payload.device.split('/').pop(); \n    const isUp = (msg.payload.status === \"green\");\n    const currentStatusBin = isUp ? 1 : 0;\n    \n    // Garante que o objeto do cômodo exista no global\n    if (!globalData[room]) {\n        globalData[room] = { nome: room };\n        // Atualiza a lista dinâmica caso um novo cômodo tenha surgido agora\n        global.set('sensores_estado', globalData); \n    }\n    \n    // Recalcula a ordem para incluir o novo cômodo se necessário\n    const ordemAtualizada = Object.keys(globalData).sort();\n    const index = ordemAtualizada.indexOf(room) + 1;\n    \n    const lastStatusBin = globalData[room].status;\n    const valorAtual = isUp ? 1 + (index * 0.1) : (index * -0.1);\n    const valorFormatado = parseFloat(valorAtual.toFixed(1));\n\n    let msgs = [];\n\n    // Lógica do degrau (Verticalização)\n    if (lastStatusBin !== undefined && lastStatusBin !== currentStatusBin) {\n        const valorAnterior = (lastStatusBin === 1) ? 1 + (index * 0.1) : (index * -0.1);\n        msgs.push({\n            topic: room,\n            payload: parseFloat(valorAnterior.toFixed(1)),\n            timestamp: Date.now()\n        });\n    }\n\n    // Mensagem principal\n    msgs.push({\n        topic: room,\n        payload: valorFormatado,\n        timestamp: Date.now()\n    });\n\n    // 5. ATUALIZAÇÃO GLOBAL\n    globalData[room].status = currentStatusBin;\n    global.set('sensores_estado', globalData);\n\n    return [msgs];\n}\n\nreturn null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 780,
        "wires": [
            [
                "e0835d9f8e1d6d92",
                "16423c8ffb293017"
            ]
        ],
        "info": "Node usado para "
    },
    {
        "id": "16423c8ffb293017",
        "type": "function",
        "z": "be470d6210457a9f",
        "name": "Insert SQL",
        "func": "var sLocalidade = msg.topic\nvar sStatus = msg.payload\n\nlet sql = `INSERT INTO Status (localidade, status) VALUES (\"${sLocalidade}\", \"${sStatus}\")`;\nmsg.topic = sql\nreturn msg \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 780,
        "wires": [
            [
                "6123e66fe5e07fed"
            ]
        ]
    },
    {
        "id": "6123e66fe5e07fed",
        "type": "mysql",
        "z": "be470d6210457a9f",
        "mydb": "f303a3fc5e3847e2",
        "name": "Input Status",
        "x": 870,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "5ea8beef1047ced2",
        "type": "function",
        "z": "be470d6210457a9f",
        "name": "Status Monitor e Insert mysql",
        "func": "/**\n * Monitor de Status de Dispositivos com Offset Dinâmico e SQL Integrado.\n * * OBJETIVO:\n * 1. Converter status \"green\"/\"red\" em valores numéricos com offset para o gráfico.\n * 2. Garantir transições verticais (degrau) e repetição periódica para offline.\n * 3. Gerar automaticamente a query SQL de INSERT para cada mensagem de saída.\n * * LÓGICA DE OFFSET:\n * - Online: 1.1, 1.2... | Offline: -0.1, -0.2...\n * * SAÍDA:\n * - msg.topic: String SQL pronta para o nó MySQL/SQLite.\n * - msg.payload_grafico: Valor com offset (para uso opcional em paralelo).\n */\n\n// 1. Recupera o objeto global completo\nlet globalData = global.get('sensores_estado') || {};\n\n// 2. Gera a lista de cômodos dinamicamente (Ordem alfabética para offset fixo)\nconst ordemComodos = Object.keys(globalData).sort(); \n\n// Função auxiliar para gerar o objeto da mensagem com SQL\nfunction prepararMensagem(room, valor) {\n    let sql = `INSERT INTO Status (localidade, status) VALUES (\"${room}\", \"${valor}\")`;\n    return {\n        topic: sql,\n        payload: valor, // Mantemos o valor no payload para o gráfico\n        room: room,     // Referência extra\n        timestamp: Date.now()\n    };\n}\n\n// 3. FILTRO: Trigger periódico (\"input\")\nif (msg.payload === \"input\") {\n    let updates = [];\n    \n    for (const room in globalData) {\n        if (globalData[room].status === 0) {\n            const index = ordemComodos.indexOf(room) + 1;\n            const valorDown = parseFloat((index * -0.1).toFixed(1));\n            updates.push(prepararMensagem(room, valorDown));\n        }\n    }\n    return updates.length > 0 ? [updates] : null;\n} \n\n// 4. LOGICA: Mensagem MQTT do Device\nelse if (msg.payload && msg.payload.device) {\n    const room = msg.payload.device.split('/').pop(); \n    const isUp = (msg.payload.status === \"green\");\n    const currentStatusBin = isUp ? 1 : 0;\n    \n    if (!globalData[room]) {\n        globalData[room] = { nome: room };\n        global.set('sensores_estado', globalData); \n    }\n    \n    const ordemAtualizada = Object.keys(globalData).sort();\n    const index = ordemAtualizada.indexOf(room) + 1;\n    const lastStatusBin = globalData[room].status;\n    \n    // Cálculo de valores com Offset\n    const valorAtual = isUp ? 1 + (index * 0.1) : (index * -0.1);\n    const valorFormatado = parseFloat(valorAtual.toFixed(1));\n\n    let msgs = [];\n\n    // Lógica do degrau (Verticalização)\n    if (lastStatusBin !== undefined && lastStatusBin !== currentStatusBin) {\n        const valorAnterior = (lastStatusBin === 1) ? 1 + (index * 0.1) : (index * -0.1);\n        msgs.push(prepararMensagem(room, parseFloat(valorAnterior.toFixed(1))));\n    }\n\n    // Mensagem principal\n    msgs.push(prepararMensagem(room, valorFormatado));\n\n    // 5. ATUALIZAÇÃO GLOBAL\n    globalData[room].status = currentStatusBin;\n    global.set('sensores_estado', globalData);\n\n    return [msgs];\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 960,
        "wires": [
            [
                "6123e66fe5e07fed"
            ]
        ]
    },
    {
        "id": "031fd04e378c123f",
        "type": "function",
        "z": "5caaf21f49c52d08",
        "g": "266afc2175ebc8ce",
        "name": "Mqtt_DTH to SLQ",
        "func": "var sLocalidade = \"quarto\"     // editar para outro comodo - usado para o grafico\nvar sSensor = \"dht\"\nvar sTemperatura = msg.payload.t\nvar sUmidade = msg.payload.u\n\n\nlet topico = \"\" //  usado para o grafico\nif (msg.topic){\n    topico = msg.topic.split(\"/\")[1] ; //  usado para o grafico\n} \n\nsLocalidade = topico\n\n\n\n//node.warn(\"iniciou coleta tempo desconectado para device \" + msg.payload.device + \" as \" + now);\nif(msg.payload !== \"input\") {\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        let sql = `INSERT INTO Clima (localidade, sensor, temperatura, umidade) VALUES (\"${sLocalidade}\", \"${sSensor}\", ${parseFloat(sTemperatura)}, ${parseFloat(sUmidade)})`;\n        //let sql = `INSERT INTO Clima (localidade, sensor, temperatura, umidade) VALUES (\"telefonica\", \"dht\", ${parseFloat(sTemperatura)}, ${parseFloat(sUmidade)})`;\n        msg.topic = sql\n        return msg\n\n    }\n\n}\n\n \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "641f6247936cf109"
            ]
        ]
    },
    {
        "id": "98746e32f8a2baa7",
        "type": "mqtt in",
        "z": "5caaf21f49c52d08",
        "g": "266afc2175ebc8ce",
        "name": "",
        "topic": "ape/+/dht",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "afe3436de4bd4e09",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "031fd04e378c123f"
            ]
        ]
    },
    {
        "id": "641f6247936cf109",
        "type": "mysql",
        "z": "5caaf21f49c52d08",
        "g": "45d5ac7129d63bf5",
        "mydb": "f303a3fc5e3847e2",
        "name": "",
        "x": 920,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "39f8172ad42e6939",
        "type": "function",
        "z": "5caaf21f49c52d08",
        "g": "b05a9fc159a06c3c",
        "name": "Mqtt Temometro to SQL",
        "func": "var sLocalidade = msg.topic.split(\"/\")[1]   // coleta o segundo nome do topico\nvar sSensor = 'termometro'\nvar sTemperatura = msg.payload.t\nvar sUmidade = msg.payload.u\n\n\n\n//node.warn(\"iniciou coleta tempo desconectado para device \" + msg.payload.device + \" as \" + now);\nif(msg.payload !== \"input\") {\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        let sql = `INSERT INTO Clima (localidade, sensor, temperatura, umidade) VALUES (\"${sLocalidade}\", \"${sSensor}\", ${parseFloat(sTemperatura)}, ${parseFloat(sUmidade)})`;\n        //let sql = `INSERT INTO Clima (localidade, sensor, temperatura, umidade) VALUES (\"telefonica\", \"dht\", ${parseFloat(sTemperatura)}, ${parseFloat(sUmidade)})`;\n        msg.topic = sql\n        return msg\n\n    }\n\n}\n\n \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "641f6247936cf109"
            ]
        ]
    },
    {
        "id": "1efa5b4d03faf9a5",
        "type": "mqtt in",
        "z": "5caaf21f49c52d08",
        "g": "b05a9fc159a06c3c",
        "name": "",
        "topic": "ape/termometro/term",
        "qos": "1",
        "datatype": "auto",
        "broker": "afe3436de4bd4e09",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "60e64525e93da268"
            ]
        ]
    },
    {
        "id": "60e64525e93da268",
        "type": "json",
        "z": "5caaf21f49c52d08",
        "g": "b05a9fc159a06c3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "39f8172ad42e6939"
            ]
        ]
    },
    {
        "id": "efdc7ed4387cd7d9",
        "type": "mqtt in",
        "z": "5caaf21f49c52d08",
        "g": "857638ab344b977e",
        "name": "",
        "topic": "ape/+/previsao",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "afe3436de4bd4e09",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "f23612c85306e7f1"
            ]
        ]
    },
    {
        "id": "f23612c85306e7f1",
        "type": "function",
        "z": "5caaf21f49c52d08",
        "g": "857638ab344b977e",
        "name": "Mqtt weather to SLQ",
        "func": "var sLocalidade = msg.payload.localidade     // editar para outro comodo - usado para o grafico\nvar sSensor = msg.payload.sensor\nvar sTemperatura = msg.payload.t\nvar sUmidade = msg.payload.u\n\n//node.warn(\"iniciou coleta tempo desconectado para device \" + msg.payload.device + \" as \" + now);\nif(msg.payload !== \"input\") {\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        let sql = `INSERT INTO Clima (localidade, sensor, temperatura, umidade) VALUES (\"${sLocalidade}\", \"${sSensor}\", ${parseFloat(sTemperatura)}, ${parseFloat(sUmidade)})`;\n        //let sql = `INSERT INTO Clima (localidade, sensor, temperatura, umidade) VALUES (\"telefonica\", \"dht\", ${parseFloat(sTemperatura)}, ${parseFloat(sUmidade)})`;\n        msg.topic = sql\n        return msg\n\n    }\n\n}\n\n \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            [
                "641f6247936cf109"
            ]
        ]
    },
    {
        "id": "e35e8a6abfa55c03",
        "type": "mqtt in",
        "z": "5caaf21f49c52d08",
        "g": "31a2108b4529fdaf",
        "name": "",
        "topic": "ape/+/+/offset",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25167bbc.e1295c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "2138a8e808afe732"
            ]
        ]
    },
    {
        "id": "2138a8e808afe732",
        "type": "function",
        "z": "5caaf21f49c52d08",
        "g": "31a2108b4529fdaf",
        "name": "Mqtt offset to SQL",
        "func": "// 1. Divide o tópico original usando a barra \"/\" como separador\nconst partesTopico = msg.topic.split(\"/\");\n\n// 2. Verifica se a última parte é exatamente \"offset\"\n// partesTopico.length - 1 pega o último índice do array\nif (partesTopico[partesTopico.length - 1] === \"offset\") {\n\n    // Armazena a segunda parte (índice 1) na variável 'local'\n    let local = partesTopico[1];\n\n    // 3. Pega a terceira parte (índice 2) e divide pelo caractere \"|\"\n    const subPartes = partesTopico[2].split(\"|\");\n\n    // Armazena as partes específicas conforme solicitado\n    let sensor = subPartes[0]; \n    let temp_offset = subPartes[1]; // O valor -2.70\n    let umid_offset = subPartes[2]; // O valor 0.00\n\n    // Adiciona os valores extraídos ao objeto msg para usar nos próximos nós\n    // msg.payload = {\n    //     local: local,\n    //     sensor: sensor,\n    //     temp_offset: parseFloat(temp_offset), // Convertendo para número\n    //     umid_offset: parseFloat(umid_offset)\n    // };\n\n    let sql = `INSERT INTO Offset (localidade, sensor, tempoffset, umiddoffset) VALUES (\"${local}\", \"${sensor}\", ${parseFloat(temp_offset)}, ${parseFloat(umid_offset)})`;\n    msg.topic = sql\n    return msg;\n} else {\n    // Se não terminar em \"offset\", ignora a mensagem\n    return null;\n}\nreturn msg;\n\n\n// if (msg.payload !== \"input\") {\n//     if (msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\") {\n//         let sql = `INSERT INTO Clima (localidade, sensor, temperatura, umidade) VALUES (\"${sLocalidade}\", \"${sSensor}\", ${parseFloat(sTemperatura)}, ${parseFloat(sUmidade)})`;\n//         //let sql = `INSERT INTO Clima (localidade, sensor, temperatura, umidade) VALUES (\"telefonica\", \"dht\", ${parseFloat(sTemperatura)}, ${parseFloat(sUmidade)})`;\n//         msg.topic = sql\n//         return msg\n\n//     }\n\n// }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 460,
        "wires": [
            [
                "641f6247936cf109"
            ]
        ]
    },
    {
        "id": "0660682c2f0fd704",
        "type": "http in",
        "z": "b9ed4cef3ebba293",
        "name": "",
        "url": "/govee",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 670,
        "y": 400,
        "wires": [
            [
                "7fbf553c598efda5",
                "24c06bedff04eee4"
            ]
        ]
    },
    {
        "id": "7fbf553c598efda5",
        "type": "debug",
        "z": "b9ed4cef3ebba293",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "24c06bedff04eee4",
        "type": "http response",
        "z": "b9ed4cef3ebba293",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 860,
        "y": 500,
        "wires": []
    }
]