Server/flows_iotpaulo.json
[{"id":"21cbdefc.178002","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a76391e.e9c7d7","type":"tab","label":"Apartamento","disabled":false,"info":""},{"id":"f1b5c0e6.84dd68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f91e3b4.e8602c8","type":"tab","label":"Status","disabled":false,"info":""},{"id":"9271b3dc.6bcd3","type":"tab","label":"Previsao","disabled":false,"info":""},{"id":"b5a5d7d1.da846","type":"tab","label":"teste","disabled":false,"info":""},{"id":"4633626c.639bcc","type":"subflow","name":"Subflow 1","info":"","in":[{"x":542.5,"y":3128,"wires":[{"id":"776aad44.3dc9b4"}]}],"out":[]},{"id":"25167bbc.e1295c","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8dc71b4d.1c3148","type":"mui_link","z":0,"name":"Link 2","icon":"open_in_browser","target":"newtab","order":2},{"id":"1315dab9.1e8fe5","type":"mui_tab","z":0,"name":"Home","icon":"dashboard"},{"id":"c549513f.15f8e","type":"mui_group","z":0,"name":"Default","tab":"1315dab9.1e8fe5","disp":true,"width":"6","collapse":false},{"id":"c8162c71.448a6","type":"mui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9e57a1d8.021468","type":"ui_group","z":0,"name":"Quarto","tab":"510e1d1a.eac40c","order":1,"disp":true,"width":"4","collapse":false},{"id":"c1ac0cb6.91c4c8","type":"ui_group","z":0,"name":"NovoDevice","tab":"","disp":true,"width":"6","collapse":false},{"id":"31779852.551a48","type":"ui_group","z":0,"name":"Status","tab":"aa3a149.d5ad168","order":4,"disp":true,"width":"4","collapse":false},{"id":"4c24412b.903b68","type":"ui_group","z":0,"name":"G1","tab":"aa3a149.d5ad168","order":1,"disp":false,"width":"4","collapse":false},{"id":"6825085.446fbf8","type":"ui_group","z":0,"name":"G2","tab":"aa3a149.d5ad168","order":2,"disp":false,"width":"4","collapse":false},{"id":"ac46c281.0280d","type":"ui_group","z":0,"name":"G3","tab":"aa3a149.d5ad168","order":3,"disp":false,"width":"4","collapse":false},{"id":"aabedb75.31173","type":"ui_group","z":0,"name":"Proto","tab":"510e1d1a.eac40c","order":2,"disp":true,"width":"4","collapse":false},{"id":"2d6291f0.c96026","type":"ui_group","z":0,"name":"Varanda","tab":"510e1d1a.eac40c","order":3,"disp":true,"width":"4","collapse":false},{"id":"f4e9319a.8f7d6","type":"ui_group","z":0,"name":"Gauge","tab":"d70fc1da.0bd0b8","disp":false,"width":"8","collapse":false},{"id":"e18c8c18.d7e918","type":"ui_group","z":0,"name":"Default","tab":"","disp":false,"width":"6","collapse":false},{"id":"569e3243.8d0fd4","type":"ui_group","z":"9271b3dc.6bcd3","name":"Default","tab":"b49c345b.32de88","disp":true,"width":"6","collapse":false},{"id":"f1141f30.52cc78","type":"ui_group","z":0,"name":"Externo","tab":"510e1d1a.eac40c","order":4,"disp":true,"width":"4","collapse":false},{"id":"f2318c1f.4bc28","type":"ui_group","z":0,"name":"Group 2","tab":"d70fc1da.0bd0b8","order":2,"disp":true,"width":"8","collapse":false},{"id":"a095bd78.a8514","type":"ui_group","z":"","name":"Group 1","tab":"79127ce7.39f03c","order":1,"disp":false,"width":"6","collapse":false},{"id":"8e7b88aa.51306","type":"ui_group","z":"","name":"Clima","tab":"510e1d1a.eac40c","disp":true,"width":"4","collapse":false},{"id":"63d4d9cd.ea7738","type":"ui_group","z":0,"name":"CPU Load","tab":"","order":2,"disp":true,"width":"6"},{"id":"60dcfe1.ba26d","type":"ui_group","z":0,"name":"Memory","tab":"","order":3,"disp":true,"width":"6"},{"id":"c5221142.3148f","type":"ui_group","z":0,"name":"System Information","tab":"","order":1,"disp":true,"width":"6"},{"id":"510e1d1a.eac40c","type":"ui_tab","z":"","name":"Apartamento","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"aa3a149.d5ad168","type":"ui_tab","z":0,"name":"Status","icon":"dashboard","order":3},{"id":"d70fc1da.0bd0b8","type":"ui_tab","z":0,"name":"Gauge","icon":"dashboard","order":5},{"id":"b49c345b.32de88","type":"ui_tab","z":"9271b3dc.6bcd3","name":"tab2","icon":"dashboard","order":4},{"id":"79127ce7.39f03c","type":"ui_tab","z":0,"name":"Celular","icon":"dashboard","order":2},{"id":"64754fe7.eacce","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IotPaulo","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fbd6bac.eb1584","type":"darksky-credentials","z":0,"key_identifier":"darksky"},{"id":"7ac0c575.b52f2c","type":"ui_group","z":"","name":"Corredor","tab":"510e1d1a.eac40c","disp":true,"width":"4","collapse":false},{"id":"e20140dd.dd5e1","type":"ui_spacer","name":"spacer","group":"6930de7c.33a158","order":2,"width":1,"height":1},{"id":"3ec61590.5f81b2","type":"ui_spacer","name":"spacer","group":"6930de7c.33a158","order":2,"width":1,"height":1},{"id":"59c31b1.a06a864","type":"ui_spacer","name":"spacer","group":"a095bd78.a8514","order":12,"width":"2","height":1},{"id":"158e6a96.4f7ac5","type":"ui_spacer","name":"spacer","group":"a095bd78.a8514","order":15,"width":"2","height":1},{"id":"59ecc737.ac68e8","type":"ui_spacer","name":"spacer","group":"a095bd78.a8514","order":9,"width":"2","height":1},{"id":"77a587fc.94b728","type":"ui_spacer","name":"spacer","group":"a095bd78.a8514","order":17,"width":1,"height":1},{"id":"9355bb6b.8ffdd","type":"ui_spacer","name":"spacer","group":"c5221142.3148f","order":1,"width":1,"height":1},{"id":"bd5a1d91.586a88","type":"ui_group","name":"Group 2","tab":"b49c345b.32de88","order":2,"disp":true,"width":6},{"id":"ba5cca01.84aab8","type":"ui_group","z":"","name":"Menu","tab":"4b27ddee.f2886c","disp":true,"width":"6","collapse":false},{"id":"40b7299e.661fa8","type":"ui_group","z":"","name":"Group 2","tab":"4b27ddee.f2886c","order":3,"disp":true,"width":"6","collapse":false},{"id":"887f4bb4.0a3b78","type":"ui_group","z":"","name":"Group 1","tab":"4b27ddee.f2886c","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e0d10d2.e7933","type":"ui_group","z":"","name":"Group 3","tab":"4b27ddee.f2886c","order":4,"disp":true,"width":"6","collapse":false},{"id":"4b27ddee.f2886c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ae4c00e8.51ebc8","type":"ui_group","z":"","name":"Teste","tab":"8f4810be.c21578","order":3,"disp":true,"width":"4","collapse":false},{"id":"8f4810be.c21578","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"596f1392.c3ba3c","type":"ui_group","z":"","name":"Teste","tab":"c196b1ed.7bc198","order":3,"disp":true,"width":"4","collapse":false},{"id":"c196b1ed.7bc198","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"9fa52282.0d321","type":"ui_tab","name":"Tab 9","icon":"dashboard","order":9},{"id":"58d77e72.766a8","type":"ui_group","z":"","name":"Sala","tab":"510e1d1a.eac40c","order":7,"disp":true,"width":"4","collapse":false},{"id":"684e4f16.c4343","type":"function","z":"21cbdefc.178002","name":"Coleta Disconexão","func":"//var descTopic = msg.payload;\n\nmsg.topic = msg.payload;\nmsg.payload = \"disconnect\";\n\n\n\nreturn msg\n\n/*\nif(msg.payload === \"room/lamp\")\n{\n    msg.enabled = false;\n\n    \n} else {\n     msg.enabled = true;\n     msg.label = \"teste_label\";\n}\n    return msg;\n    \n    */","outputs":1,"noerr":0,"x":318.72250747680664,"y":321.88852882385254,"wires":[["3c88e480.948924","3cfc2a39.4d83ee"]]},{"id":"3c88e480.948924","type":"mqtt out","z":"21cbdefc.178002","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":570,"y":280,"wires":[]},{"id":"3cfc2a39.4d83ee","type":"debug","z":"21cbdefc.178002","name":"msg4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":360,"wires":[]},{"id":"5e52ce95.3eba58","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/quarto/luz","topic":"ape/quarto/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":173.97244262695312,"y":361.44451904296875,"wires":[["7fbfc46f.3dffec","132524ea.ce143b","1f0f4697.f059f9","63515e37.fc6008"]]},{"id":"f9699e28.21df48","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":950,"y":180,"wires":[]},{"id":"30a3e0b9.719d1","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"disconnect","fromt":"str","to":"disconnect","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":500,"wires":[["3d605702.17ad88","8b95da79.3073f8"]]},{"id":"c8a677e.4327508","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/quarto","topic":"ape/quarto","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":146.02792358398438,"y":280.08343505859375,"wires":[["ae75103d.f0061","1f0f4697.f059f9"]]},{"id":"7fbfc46f.3dffec","type":"switch","z":"a76391e.e9c7d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disconnect","vt":"str"},{"t":"neq","v":"disconnect","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":440,"wires":[["3d605702.17ad88","8b95da79.3073f8"],["30a3e0b9.719d1"]]},{"id":"a7250b19.263cb","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":182.30563354492188,"y":227.0833740234375,"wires":[]},{"id":"aa35ca26.8fc3f8","type":"json","z":"f91e3b4.e8602c8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":380,"wires":[["73a7ce58.e1f268","190a3bfd.7ff84c","dfd54299.7b2ee"]]},{"id":"16e97787.987ea","type":"switch","z":"f91e3b4.e8602c8","name":"","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"ape/quarto","vt":"str"},{"t":"eq","v":"ape/teste","vt":"str"},{"t":"eq","v":"ape/varanda","vt":"str"},{"t":"eq","v":"ape/corredor","vt":"str"},{"t":"eq","v":"ape/sala","vt":"str"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":6,"x":1023.1667022705078,"y":379.7666473388672,"wires":[["c6c618fb.817158"],["be4d59f3.aeba5"],["1cd8af6c.4d4021"],["5f06db6b.b1cbbc"],["e1975c02.0b463"],["e71ba605.c87c08","2304faf5.da2cce"]]},{"id":"82675091.afda68","type":"mqtt in","z":"f91e3b4.e8602c8","name":"","topic":"ape/status","qos":"2","datatype":"auto","broker":"25167bbc.e1295c","x":180,"y":380,"wires":[["2498db88.89c654","aa35ca26.8fc3f8"]]},{"id":"73a7ce58.e1f268","type":"function","z":"f91e3b4.e8602c8","name":"Send Disconect","func":"if (msg.payload.status === \"red\")\n{\n    msg.topic = msg.payload.device;\n    msg.enabled = false;\n    msg.payload = \"disconnect\"\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":580,"y":500,"wires":[["881317f0.4d472","97d5153f.c88548"]]},{"id":"881317f0.4d472","type":"debug","z":"f91e3b4.e8602c8","name":"Status_funcao","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":801.9999237060547,"y":554.4000091552734,"wires":[]},{"id":"97d5153f.c88548","type":"mqtt out","z":"f91e3b4.e8602c8","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":794.1999969482422,"y":455.9000549316406,"wires":[]},{"id":"a445f2d9.748558","type":"mqtt in","z":"21cbdefc.178002","name":"","topic":"ape/testamento","qos":"2","datatype":"auto","broker":"25167bbc.e1295c","x":200,"y":460,"wires":[["102baab0.e1937d"]]},{"id":"102baab0.e1937d","type":"debug","z":"21cbdefc.178002","name":"testamento","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":417.450439453125,"y":452.992919921875,"wires":[]},{"id":"f43b0012.92d29","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/varanda/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":260,"y":1360,"wires":[["cd9caf0b.942bf","31b40c18.dda714","f5e750fa.b8cc9"]]},{"id":"aa42fc6f.a15d98","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":910,"y":1280,"wires":[]},{"id":"bee9f782.bd1d38","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"disconnect","fromt":"str","to":"Disconectado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":667.6983947753906,"y":1481.3053894042969,"wires":[["7062d76a.426fd","5a59efe3.cc82e"]]},{"id":"cd9caf0b.942bf","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\n\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n\n    if(msg.payload === \"disconnect\"){\n        msg1.enabled = false;\n        context.set(\"c_time\", dateNow)\n        context.set(\"c_envia_pushover\", \"sim\")\n    } else {\n        msg1.enabled = true;\n    }\n\n}\n\n\nreturn [msg1, null]","outputs":2,"noerr":0,"x":467.9444885253906,"y":1299.8612670898438,"wires":[["d8a3edb3.7d80d8","31b40c18.dda714","e82d48e7.dce51"],["6ef8fd66.c1806c"]]},{"id":"d5702303.9399f8","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/varanda","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":261.0554656982422,"y":1296.6389465332031,"wires":[["cd9caf0b.942bf","ee0b30ee.7e237"]]},{"id":"4841f3b3.4fa0ec","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":815.5832824707031,"y":1402.9446716308594,"wires":[]},{"id":"46f931e0.be6858","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":655.0776672363281,"y":1267.6167602539062,"wires":[]},{"id":"a6e87f8f.0748d","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid\nape/teste\n\nlocationid/deviceid/mqttAtuadorId\nape/teste/luz1","x":259.2999267578125,"y":1262.061279296875,"wires":[]},{"id":"31b40c18.dda714","type":"switch","z":"a76391e.e9c7d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disconnect","vt":"str"},{"t":"neq","v":"disconnect","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":525.0832824707031,"y":1425.6665954589844,"wires":[["7062d76a.426fd","5a59efe3.cc82e"],["bee9f782.bd1d38"]]},{"id":"3ca32653.1df1ba","type":"inject","z":"9271b3dc.6bcd3","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":760,"wires":[["53ac6cbb.8a315c"]]},{"id":"53ac6cbb.8a315c","type":"function","z":"9271b3dc.6bcd3","name":"","func":"msg.payload = new Date().toLocaleTimeString();\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["3ec90217.280fee"]]},{"id":"94b0d043.674a1","type":"inject","z":"9271b3dc.6bcd3","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":980,"wires":[["5b3b28b8.da3a68"]]},{"id":"21b02fb4.42b86","type":"debug","z":"9271b3dc.6bcd3","name":"output","active":true,"tosidebar":true,"console":false,"complete":"true","x":913.6666870117188,"y":899.6666488647461,"wires":[]},{"id":"9d830c5d.8ee3e","type":"function","z":"9271b3dc.6bcd3","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":706,"y":908,"wires":[["21b02fb4.42b86"]]},{"id":"5b3b28b8.da3a68","type":"function","z":"9271b3dc.6bcd3","name":"set timestamp","func":"msg.timestamp=1376763133 * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":494,"y":980,"wires":[["9d830c5d.8ee3e"]]},{"id":"115eae61.9c9542","type":"inject","z":"9271b3dc.6bcd3","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":310,"y":908,"wires":[["9d830c5d.8ee3e"]]},{"id":"25bc9c5c.160764","type":"inject","z":"9271b3dc.6bcd3","name":"","topic":"","payload":"","payloadType":"date","repeat":"420","crontab":"","once":true,"onceDelay":"","x":330,"y":280,"wires":[["25306ea8.86cf0a"]]},{"id":"25306ea8.86cf0a","type":"http request","z":"9271b3dc.6bcd3","name":"GET ClimaTempo Atual","method":"GET","ret":"obj","paytoqs":false,"url":"http://apiadvisor.climatempo.com.br/api/v1/weather/locale/3477/current?token=6437f1eb0ce7916ac9dcf5338023d66d","tls":"","proxy":"","authType":"","x":550,"y":280,"wires":[["5d0fdef6.4efaf","e0fa477f.2340d","437bc675.ca9558"]]},{"id":"5d0fdef6.4efaf","type":"function","z":"9271b3dc.6bcd3","name":"","func":"var now = new Date();\nmsg.payload.update = now.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});\n\nvar msgU = { payload: msg.payload.data.humidity, topic: \"externo\"};\nvar msgT = { payload: msg.payload.data.temperature, topic: 'externo'};\n\n\nreturn [msg, msgU, msgT]","outputs":3,"noerr":0,"x":746.2000122070312,"y":277.20001220703125,"wires":[["6f27e993.d78a08","963a7666.2193a","dd0aafdf.6aee98"],["14f72a2a.b15da6"],["1a34cb61.70cd45"]]},{"id":"132524ea.ce143b","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":345.20001220703125,"y":432.20001220703125,"wires":[]},{"id":"ae75103d.f0061","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":353.20001220703125,"y":199.1999969482422,"wires":[]},{"id":"f5e750fa.b8cc9","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":423.9221954345703,"y":1481.9444427490234,"wires":[]},{"id":"ee0b30ee.7e237","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":437.6222229003906,"y":1258.344482421875,"wires":[]},{"id":"2498db88.89c654","type":"debug","z":"f91e3b4.e8602c8","name":"Status_json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":480,"wires":[]},{"id":"a9b1853d.93054","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/quarto/dht","qos":"1","broker":"25167bbc.e1295c","x":246.9222412109375,"y":2222.64453125,"wires":[["8d290780.deb0d","cd91ad37.f037b8"]]},{"id":"8d290780.deb0d","type":"json","z":"a76391e.e9c7d7","name":"","property":"payload","action":"","pretty":false,"x":464.8055725097656,"y":2226.5277709960938,"wires":[["241546a2.b8fea2","68726097.2191b"]]},{"id":"241546a2.b8fea2","type":"function","z":"a76391e.e9c7d7","name":"","func":"var topico = \"quarto\"     // editar para outro comodo - usado para o grafico\n\nvar msgU;\nvar msgT;\nvar dateNow = new Date();\n msg.enabled = false;\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - context.get('c_time'))/1000/60\n\n\n    if(dif_date >= 6.20){\n\n        msgU = { payload: '-', topic: topico};\n        msgT = { payload: '-', topic: topico};\n    }\n    \n} else {\n\n\nu = msg.payload.u\n    if(msg.payload.u === \"0.00\" && msg.payload.t === \"0.00\"){\n        msgU = { payload: '-', topic: topico};\n        msgT = { payload: '-', topic: topico};\n    } else {\n        msgU = { payload: msg.payload.u, topic: topico};\n        msgT = { payload: msg.payload.t, topic: topico};\n    }\n    context.set(\"c_time\", dateNow)\n\n}\n\nreturn [msgU, msgT]\n","outputs":2,"noerr":0,"x":646.8055419921875,"y":2233.5277709960938,"wires":[["cf1c4267.3321c","6adc2272.18986c","b3aa79e9.81e41"],["2da905d5.7071da","8ecb88c2.a860c8","33ab044a.aa5b44","982762d.48183a"]]},{"id":"6adc2272.18986c","type":"link out","z":"a76391e.e9c7d7","name":"ape/quarto Umidade","links":["1ed5005d.402c6"],"x":849.4222412109375,"y":2097.14453125,"wires":[]},{"id":"8ecb88c2.a860c8","type":"link out","z":"a76391e.e9c7d7","name":"ape/quarto Temperatura","links":["fdeb77d0.025cf8"],"x":689.8056030273438,"y":2301.2777709960938,"wires":[]},{"id":"1ed5005d.402c6","type":"link in","z":"a76391e.e9c7d7","name":"Graf Umidade","links":["14f72a2a.b15da6","6adc2272.18986c","71c990fd.a7c34","8a05eae3.7ae75"],"x":925.1722412109375,"y":2452.89453125,"wires":[["628928a8.d58338"]]},{"id":"fdeb77d0.025cf8","type":"link in","z":"a76391e.e9c7d7","name":"Graf Temperatura","links":["1a34cb61.70cd45","8ecb88c2.a860c8","b0d70748.321e28","8d482846.e469d"],"x":935.1722412109375,"y":2514.39453125,"wires":[["f0c4385.a21be48"]]},{"id":"14f72a2a.b15da6","type":"link out","z":"9271b3dc.6bcd3","name":"externo Umidade","links":["1ed5005d.402c6"],"x":945.7500162124634,"y":323.75002574920654,"wires":[]},{"id":"1a34cb61.70cd45","type":"link out","z":"9271b3dc.6bcd3","name":"externo Temperatura","links":["fdeb77d0.025cf8","f89de43.ba62c18"],"x":939.6167144775391,"y":366.16677379608154,"wires":[]},{"id":"a8f3368d.3449b8","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":627.3055419921875,"y":755.6278533935547,"wires":[]},{"id":"921db7ed.32fff","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":908.3055114746094,"y":1474.8278503417969,"wires":[]},{"id":"28b77a88.6c658e","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1044.4222412109375,"y":2250.14453125,"wires":[]},{"id":"a32d997.5e89868","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":711.1053466796875,"y":44.033294677734375,"wires":[]},{"id":"c860bc31.4d1568","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":930,"y":460,"wires":[]},{"id":"b3aa79e9.81e41","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'Umidade'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":906.7431030273438,"y":2152.465087890625,"wires":[["df53ee88.868aa"]]},{"id":"982762d.48183a","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'Temperatura'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900.0431518554688,"y":2197.7151489257812,"wires":[["df53ee88.868aa"]]},{"id":"c4cfd31d.4d3488","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":160.83334350585938,"y":937.4834594726562,"wires":[["71b5dfad.cc9e78","f225fb58.fe5d58","177dd60.1314e2a","5eea68c6.bb2918"]]},{"id":"55b8d1fa.d7198","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":800.0830078125,"y":884.9557495117188,"wires":[]},{"id":"54130ac9.545fac","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":157.8887939453125,"y":874.122314453125,"wires":[["7cfdd428.8149b4","f225fb58.fe5d58"]]},{"id":"d356339a.10e71","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":749.4166259765625,"y":957.4281005859375,"wires":[]},{"id":"e35080b1.5860d8","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":645.9110107421875,"y":850.1001586914062,"wires":[]},{"id":"cad6ca89.d6133","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid\nape/teste\n\nlocationid/deviceid/mqttAtuadorId\nape/teste/luz1","x":234.1576690673828,"y":817.9381713867188,"wires":[]},{"id":"71b5dfad.cc9e78","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":344.4222412109375,"y":1077.14453125,"wires":[]},{"id":"8a9f9a4e.f772d","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":704.3055419921875,"y":1035.8278198242188,"wires":[]},{"id":"39a1ed51.1a53b2","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":651.3055114746094,"y":1198.2278747558594,"wires":[]},{"id":"5650bfb2.1d3288","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":735.1053466796875,"y":137.63330078125,"wires":[]},{"id":"226413ae.9c2f6c","type":"http request","z":"b5a5d7d1.da846","name":"Post to Pushover","method":"POST","ret":"txt","url":"https://api.pushover.net/1/messages.json","tls":"","x":595.88330078125,"y":89.88334655761719,"wires":[[]]},{"id":"1b58c71.2b18ab9","type":"function","z":"b5a5d7d1.da846","name":"","func":"msg.headers = {\n    \"content-type\": \"application/x-www-form-urlencoded\"\n};\nmsg.payload = { \n    user: 'USERKEYHERE',\n    token: 'ApplicationKeyHere',\n    message: 'MESSAGE HERE',\n    title: 'TITLE HERE',\n    priority: '-1'\n};\nreturn msg;","outputs":1,"noerr":0,"x":401.88323974609375,"y":89.54998779296875,"wires":[["226413ae.9c2f6c"]]},{"id":"99148640.dd6878","type":"http request","z":"b5a5d7d1.da846","name":"Post to Pushover","method":"POST","ret":"txt","url":"https://api.pushover.net/1/messages.json","tls":"","x":587.88330078125,"y":163.8833465576172,"wires":[[]]},{"id":"93b41206.817138","type":"function","z":"b5a5d7d1.da846","name":"","func":"msg.headers = {\n    \"content-type\": \"application/x-www-form-urlencoded\"\n};\nmsg.payload = { \n    user: 'USERKEYHERE',\n    token: 'ApplicationKeyHere',\n    message: 'MESSAGE HERE',\n    title: 'TITLE HERE',\n    priority: '-1'\n};\nreturn msg;","outputs":1,"noerr":0,"x":393.88323974609375,"y":163.54998779296875,"wires":[["99148640.dd6878"]]},{"id":"b33427bb.996048","type":"inject","z":"b5a5d7d1.da846","name":"","topic":"","payload":"teste pushover","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":234.76666259765625,"y":375.5666961669922,"wires":[["8e9e9501.a071e"]]},{"id":"2304faf5.da2cce","type":"debug","z":"f91e3b4.e8602c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":620,"wires":[]},{"id":"776aad44.3dc9b4","type":"mui_text","z":"21cbdefc.178002","group":"c549513f.15f8e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":672.5,"y":3128,"wires":[]},{"id":"fc1d6ceb.e75ca","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"9e57a1d8.021468","order":1,"width":"2","height":"1","passthru":false,"label":"Luz","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/quarto/luz/change","x":730.4444580078125,"y":183.47225952148438,"wires":[["f9699e28.21df48"]]},{"id":"d8a3edb3.7d80d8","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"2d6291f0.c96026","order":1,"width":"2","height":"1","passthru":false,"label":"Luz","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/varanda/luz/change","x":670,"y":1300,"wires":[["aa42fc6f.a15d98"]]},{"id":"e82d48e7.dce51","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":7,"width":"2","height":"1","passthru":false,"label":"Varanda","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/varanda/luz/change","x":668.3055114746094,"y":1234.2278442382812,"wires":[["aa42fc6f.a15d98"]]},{"id":"c2898b7e.605468","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":1,"width":"2","height":"1","passthru":false,"label":"Quarto","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/quarto/luz/change","x":715.1053466796875,"y":86.63330078125,"wires":[["f9699e28.21df48"]]},{"id":"b62a2579.b3a798","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"aabedb75.31173","order":1,"width":"2","height":"1","passthru":false,"label":"Luz","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/teste/luz/change","x":640.3055419921875,"y":884.4278564453125,"wires":[["55b8d1fa.d7198"]]},{"id":"519af793.6248c","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":4,"width":"2","height":"1","passthru":false,"label":"Proto","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/teste/luz/change","x":637.3055419921875,"y":790.4278411865234,"wires":[["55b8d1fa.d7198"]]},{"id":"3d605702.17ad88","type":"ui_text","z":"a76391e.e9c7d7","group":"9e57a1d8.021468","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":790,"y":440,"wires":[]},{"id":"7062d76a.426fd","type":"ui_text","z":"a76391e.e9c7d7","group":"2d6291f0.c96026","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":817.3055725097656,"y":1435.2218933105469,"wires":[]},{"id":"3ec90217.280fee","type":"ui_text","z":"9271b3dc.6bcd3","group":"569e3243.8d0fd4","order":3,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":760,"wires":[]},{"id":"cf1c4267.3321c","type":"ui_text","z":"a76391e.e9c7d7","group":"9e57a1d8.021468","order":4,"width":"2","height":"1","name":"","label":"Umidade","format":"{{msg.payload | number:1}} %","layout":"col-center","x":894.4222412109375,"y":2237.14453125,"wires":[]},{"id":"2da905d5.7071da","type":"ui_text","z":"a76391e.e9c7d7","group":"9e57a1d8.021468","order":3,"width":"2","height":"1","name":"","label":"Temperatura","format":"{{msg.payload | number:1}} °C ","layout":"col-center","x":904.4222412109375,"y":2317.14453125,"wires":[]},{"id":"5a59efe3.cc82e","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":8,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":909.3055114746094,"y":1508.2278442382812,"wires":[]},{"id":"33ab044a.aa5b44","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":3,"width":"2","height":"1","name":"","label":"Temperatura","format":"{{msg.payload | number:1}} °C ","layout":"col-center","x":1044.4222412109375,"y":2277.14453125,"wires":[]},{"id":"8b95da79.3073f8","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":870,"y":500,"wires":[]},{"id":"b77d1915.afe938","type":"ui_text","z":"a76391e.e9c7d7","group":"aabedb75.31173","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":767.138916015625,"y":992.705322265625,"wires":[]},{"id":"743fed93.2e56cc","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":5,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":711.3055419921875,"y":1070.4278564453125,"wires":[]},{"id":"be4d59f3.aeba5","type":"ui_template","z":"f91e3b4.e8602c8","group":"6825085.446fbf8","name":"ape/teste","order":1,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n\n\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n    <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n  <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1240,"y":360,"wires":[[]]},{"id":"c6c618fb.817158","type":"ui_template","z":"f91e3b4.e8602c8","group":"4c24412b.903b68","name":"ape/quarto","order":1,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n    <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1250,"y":320,"wires":[[]]},{"id":"1cd8af6c.4d4021","type":"ui_template","z":"f91e3b4.e8602c8","group":"ac46c281.0280d","name":"Ape/Varanda","order":1,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1246.9500732421875,"y":396.727783203125,"wires":[[]]},{"id":"6f27e993.d78a08","type":"ui_template","z":"9271b3dc.6bcd3","group":"569e3243.8d0fd4","name":"HTML Temperatura","order":4,"width":"4","height":"3","format":"<table border=0 cellspacing=\"1\">\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n           <font size=\"3\">{{msg.payload.name}} - {{msg.payload.state}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td>\n            <img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data.icon}}.png width=\"55\" height=\"55\">\n        </td>\n        <th>\n            <font size=\"7\">{{msg.payload.data.temperature}}°</font>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>    \n        </th>\n        <!---\n        <th align='bottom'>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>\n        </th>  -->\n    </tr>\n    <tr>\n        <td  align='center' COLSPAN=\"3\">\n            <font size=\"3\">{{msg.payload.data.condition}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n            <font size=\"2\">Update {{msg.payload.update}}</font>\n        </td>\n    </tr>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1130,"y":220,"wires":[[]]},{"id":"963a7666.2193a","type":"ui_template","z":"9271b3dc.6bcd3","group":"569e3243.8d0fd4","name":"HTML Temperatura","order":5,"width":"6","height":"3","format":"<center>\n<table border=0 cellspacing=\"1\">\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n           <font size=\"3\">{{msg.payload.name}} - {{msg.payload.state}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td>\n            <img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data.icon}}.png width=\"55\" height=\"55\">\n        </td>\n        <th>\n            <font size=\"7\">{{msg.payload.data.temperature}}°</font>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>    \n        </th>\n        <!---\n        <th align='bottom'>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>\n        </th>  -->\n    </tr>\n    <tr>\n        <td  align='center' COLSPAN=\"3\">\n            <font size=\"3\">{{msg.payload.data.condition}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n            <font size=\"2\">Update {{msg.payload.update}}</font>\n        </td>\n    </tr>\n</table>\n</center>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1130,"y":260,"wires":[[]]},{"id":"df53ee88.868aa","type":"ui_chart","z":"a76391e.e9c7d7","name":"","group":"f2318c1f.4bc28","order":3,"width":0,"height":0,"label":"Quarto","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62727","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1074.4222412109375,"y":2177.14453125,"wires":[[]]},{"id":"628928a8.d58338","type":"ui_chart","z":"a76391e.e9c7d7","name":"","group":"f2318c1f.4bc28","order":2,"width":0,"height":0,"label":"TUmid 1D","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62727","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1076.8055419921875,"y":2454.52783203125,"wires":[[]]},{"id":"f0c4385.a21be48","type":"ui_chart","z":"a76391e.e9c7d7","name":"","group":"f2318c1f.4bc28","order":1,"width":"0","height":"0","label":"TTemp 1D","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62727","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1072.8055419921875,"y":2517.52783203125,"wires":[[],[]]},{"id":"8e9e9501.a071e","type":"pushover","z":"b5a5d7d1.da846","name":"nome","device":"","title":"teste","priority":0,"sound":"","url":"url","url_title":"url title","html":false,"x":467.2666320800781,"y":374.30006408691406,"wires":[]},{"id":"6ef8fd66.c1806c","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Varanda","priority":0,"sound":"","url":"","url_title":"","html":false,"x":679.6888427734375,"y":1358.4444580078125,"wires":[]},{"id":"386cacaf.09bb7c","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Quarto","priority":0,"sound":"","url":"","url_title":"","html":false,"x":720,"y":300,"wires":[]},{"id":"a574d234.95ef28","type":"mqtt in","z":"21cbdefc.178002","name":"disconect","topic":"$SYS/+/disconnect/clients","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":106.54391479492188,"y":320.09649658203125,"wires":[[]]},{"id":"7cfdd428.8149b4","type":"debug","z":"a76391e.e9c7d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":422.4222412109375,"y":812.14453125,"wires":[]},{"id":"dfd54299.7b2ee","type":"function","z":"f91e3b4.e8602c8","name":"Salva_variaveis","func":"/* salva os status de ip e versao da msg para replicar na desconexão */\n\nmsg.payload.date = new Date() //substituindo o insert timestamp, \n\nvar count = flow.get('f_count')||0;\nvar count1 = count\nvar device_id_num = \"NOK\"\n\n\nfor (var x = 0; x <= count; x++){\n    if(count === 0){\n        flow.set(\"f_device[\"+x+\"]\" ,msg.payload.device)\n //       node.warn(\"c===0 f_device[\"+count+\"] agora = \"+ flow.get(\"f_device[\"+x+\"]\"))\n        count++\n        flow.set(\"f_count\", count)\n        device_id_num = x\n        break; \n    }\n\n    if (flow.get(\"f_device[\"+x+\"]\") === msg.payload.device){\n//        node.warn(\"device existe\")\n        device_id_num = x\n        break; \n    }\n}\n\nif(msg.payload.status === \"green\"){\n    if(device_id_num === \"NOK\"){\n        flow.set(\"f_device[\"+count+\"]\",msg.payload.device)\n    //    node.warn(\"else f_device[\"+count+\"] agora = \"+msg.payload.device)\n        count++\n        flow.set(\"f_count\", count)\n        flow.set(\"f_versao[\"+count+\"]\",msg.payload.ver)\n        flow.set(\"f_ip[\"+count+\"]\",msg.payload.ip)\n    } else {\n        flow.set(\"f_versao[\"+device_id_num+\"]\",msg.payload.ver)\n        flow.set(\"f_ip[\"+device_id_num+\"]\",msg.payload.ip)\n    }\n} else {\n    msg.payload.ver = flow.get(\"f_versao[\"+device_id_num+\"]\")\n    msg.payload.ip = flow.get(\"f_ip[\"+device_id_num+\"]\")\n}\n\n\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":380,"wires":[["16e97787.987ea","36aa6a60.c3a55e"]]},{"id":"cd91ad37.f037b8","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":324.4222412109375,"y":2297.14453125,"wires":[]},{"id":"e18ee662.91e23","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"","payload":"{\"u\":\"66.00\",\"t\":\"25.90\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":231.4222412109375,"y":2118.64453125,"wires":[["8d290780.deb0d"]]},{"id":"1324885e.ebb188","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topico","info":"Alterar variavel topico\n","x":644.9222412109375,"y":2197.64453125,"wires":[]},{"id":"532cb6e9.e8063","type":"inject","z":"a76391e.e9c7d7","name":"input 5 min","topic":"","payload":"input","payloadType":"str","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":59,"wires":[["753e508a.6a4198"]]},{"id":"a94dad99.0b4dc8","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Proto","priority":0,"sound":"","url":"","url_title":"","html":false,"x":547.4222412109375,"y":972.14453125,"wires":[]},{"id":"753e508a.6a4198","type":"link out","z":"a76391e.e9c7d7","name":"input 5 min","links":["3068bc62.c6716c","7e9d680b.6bb33","c5d6c6c6.30f91","ef7935ef.06f7","d2df8a81.a5a66","ae2cf4c6.a5923","36874adc.5a24ae"],"x":322.75,"y":57.75,"wires":[],"l":true},{"id":"3068bc62.c6716c","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":231.1722412109375,"y":744.89453125,"wires":[[]],"l":true,"info":"5 min\n"},{"id":"7e9d680b.6bb33","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":249.1722412109375,"y":1205.89453125,"wires":[["cd9caf0b.942bf"]],"l":true,"info":"5 min\n"},{"id":"c5d6c6c6.30f91","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":475.6722412109375,"y":2164.39453125,"wires":[["241546a2.b8fea2"]],"l":true,"info":"5 min\n"},{"id":"8ed161c8.61a928","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/corredor/luz","topic":"ape/corredor/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":233.6722412109375,"y":2844.39453125,"wires":[[]]},{"id":"91474260.79cbb8","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":1125.477783203125,"y":2693.199951171875,"wires":[]},{"id":"964020a3.c460d8","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/corredor","topic":"ape/corredor","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":236.72772216796875,"y":2796.033447265625,"wires":[[]]},{"id":"4489327a.655d6c","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":237.00543212890625,"y":2746.0333862304688,"wires":[]},{"id":"c71cd2a3.992ba8","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":956.5830993652344,"y":2627.2333374023438,"wires":[]},{"id":"23a4b4b0.3c9f1c","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1275.3331298828125,"y":2615.2333984375,"wires":[]},{"id":"8b481cb2.a70bf","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":980.5830993652344,"y":2720.8333435058594,"wires":[]},{"id":"ba821ad3.c1a578","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"569e3243.8d0fd4","order":1,"width":"2","height":"1","passthru":false,"label":"LuzN","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz/change","x":977.9222106933594,"y":2761.6723022460938,"wires":[["91474260.79cbb8"]]},{"id":"44755e7c.7d3a6","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"569e3243.8d0fd4","order":7,"width":"2","height":"1","passthru":false,"label":"CorredN","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz/change","x":986.5830993652344,"y":2659.8333435058594,"wires":[["91474260.79cbb8"]]},{"id":"fe0245c2.c83c6","type":"ui_text","z":"a76391e.e9c7d7","group":"569e3243.8d0fd4","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1267.4222412109375,"y":2747.0333862304688,"wires":[]},{"id":"78e967da.aee66","type":"ui_text","z":"a76391e.e9c7d7","group":"569e3243.8d0fd4","order":9,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1275.3331298828125,"y":2649.83349609375,"wires":[]},{"id":"9a8c76d9.ad5728","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Corredor","priority":0,"sound":"","url":"","url_title":"","html":false,"x":674.4222412109375,"y":2897.14453125,"wires":[]},{"id":"43dbbfdc.1e1dd8","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/corredor/luz1","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":222.6722412109375,"y":3055.39453125,"wires":[[]]},{"id":"a65a704.68c8b1","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":1183.227783203125,"y":2990.7002563476562,"wires":[]},{"id":"b0c90330.7b2dd8","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/corredor","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":220.72772216796875,"y":2998.033447265625,"wires":[[]]},{"id":"608feef3.48cad8","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":221.00543212890625,"y":2948.0333862304688,"wires":[]},{"id":"83a2c660.a4cc5","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1029.5831298828125,"y":2910.2334594726562,"wires":[]},{"id":"292a8d2d.0e3b92","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1338.083251953125,"y":2927.2334594726562,"wires":[]},{"id":"549fb3be.970b5c","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1053.5831298828125,"y":3003.833465576172,"wires":[]},{"id":"c3b9b15f.49389","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"569e3243.8d0fd4","order":12,"width":"2","height":"1","passthru":false,"label":"LuzN","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz1/change","x":1050.9222412109375,"y":3044.6724243164062,"wires":[["a65a704.68c8b1"]]},{"id":"4f455581.b0b6bc","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"569e3243.8d0fd4","order":10,"width":"2","height":"1","passthru":false,"label":"SalaN","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz1/change","x":1039.5831298828125,"y":2942.833465576172,"wires":[["a65a704.68c8b1"]]},{"id":"38382f6f.672578","type":"ui_text","z":"a76391e.e9c7d7","group":"569e3243.8d0fd4","order":13,"width":"2","height":"1","name":"TextL","label":"","format":"{{msg.payload}}","layout":"row-center","x":1331.9222412109375,"y":3039.0335693359375,"wires":[]},{"id":"ab32ba8d.141ab8","type":"ui_text","z":"a76391e.e9c7d7","group":"569e3243.8d0fd4","order":11,"width":"2","height":"1","name":"TextS","label":"","format":"{{msg.payload}}","layout":"row-center","x":1334.083251953125,"y":2957.8335571289062,"wires":[]},{"id":"f225fb58.fe5d58","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable new","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\"\n        msg.enabled = true\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\"\n            msg.enabled = true\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\"\n                msg.enabled = false\n                context.set(\"c_time\", dateNow)\n                context.set(\"c_envia_pushover\", \"sim\")\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":414.4222412109375,"y":897.14453125,"wires":[["519af793.6248c","b77d1915.afe938","743fed93.2e56cc","b62a2579.b3a798"],["a94dad99.0b4dc8"]]},{"id":"1f0f4697.f059f9","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable new","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\"\n        msg.enabled = true\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\"\n            msg.enabled = true\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\"\n                msg.enabled = false\n                context.set(\"c_time\", dateNow)\n                context.set(\"c_envia_pushover\", \"sim\")\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":409.75,"y":285.75,"wires":[["c2898b7e.605468","fc1d6ceb.e75ca","3d605702.17ad88","8b95da79.3073f8","3a2fd04d.f44f18"],["386cacaf.09bb7c"]]},{"id":"ef7935ef.06f7","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":143.75,"y":183.75,"wires":[["1f0f4697.f059f9"]],"l":true,"info":"5 min\n"},{"id":"e156b5f5.5b435","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":790,"y":400,"wires":[]},{"id":"fc573498.091fc","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable new","func":"var msg1 = msg;\nvar msg2;\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover');\nvar old_time = context.get('c_time') || 0;\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60;\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\");\n        }\n    }\n\n    return [null, msg2];\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\";\n        msg.enabled = true;\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\";\n            msg.enabled = true;\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\";\n                msg.enabled = false;\n                context.set(\"c_time\", dateNow);\n                context.set(\"c_envia_pushover\", \"sim\");\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":475.6722412109375,"y":2848.39453125,"wires":[["6495f133.fbfa18","9196b31e.edcac8"],["9a8c76d9.ad5728","d081dcf8.f30dd"]]},{"id":"9b194f18.2516a","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":1271.6723327636719,"y":2705.144561767578,"wires":[]},{"id":"8022df77.b7ead8","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/corredor/luz","topic":"ape/corredor/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":321.8151550292969,"y":3483.3949584960938,"wires":[["809d4a29.ab71d"]]},{"id":"118b70a3.2dcd87","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":1177.6206665039062,"y":3449.200469970703,"wires":[]},{"id":"d558108f.117978","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/corredor","topic":"ape/corredor","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":319.8706359863281,"y":3399.0338745117188,"wires":[["809d4a29.ab71d"]]},{"id":"144aff4c.6f9b41","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":320.1483459472656,"y":3349.0338134765625,"wires":[]},{"id":"f62bd9d6.d4cb6","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":784.4222412109375,"y":3597.14453125,"wires":[]},{"id":"4a086819.16b65","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":784.4222412109375,"y":3337.14453125,"wires":[]},{"id":"adacd552.186c6","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":938.7260131835938,"y":3313.2337646484375,"wires":[]},{"id":"56e6d437.0d0b2c","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1019.7260437011719,"y":3589.23388671875,"wires":[]},{"id":"5099cc8a.e6e454","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":962.7260131835938,"y":3406.833770751953,"wires":[]},{"id":"4055354d.13ba1c","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"7ac0c575.b52f2c","order":1,"width":"2","height":"1","passthru":false,"label":"Corredor","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz/change","x":970.0651245117188,"y":3447.6727294921875,"wires":[["118b70a3.2dcd87"]]},{"id":"2d01e2e5.e0f3ae","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":10,"width":"2","height":"1","passthru":false,"label":"Corredor","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz/change","x":958.7260131835938,"y":3345.833770751953,"wires":[["118b70a3.2dcd87"]]},{"id":"6322e62a.b10b4","type":"ui_text","z":"a76391e.e9c7d7","group":"7ac0c575.b52f2c","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":967.5650939941406,"y":3547.283905029297,"wires":[]},{"id":"ac150ae3.32f708","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":11,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1001.7260437011719,"y":3624.8339233398438,"wires":[]},{"id":"6f25499d.7ef37","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Quarto","priority":0,"sound":"","url":"","url_title":"","html":false,"x":740.8427429199219,"y":3534.9503784179688,"wires":[]},{"id":"3008cb38.7f2f34","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/corredor/luz1","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":204.4222412109375,"y":3917.14453125,"wires":[["b6c80a2f.847ae8","e4b38828.94dd5","cf376033.51d928"]]},{"id":"9465b069.494b3","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":1003.6206665039062,"y":3875.200469970703,"wires":[]},{"id":"c08aa125.90f7a","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"disconnect","fromt":"str","to":"disconnect","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":867.8150024414062,"y":4044.2559509277344,"wires":[["d9c5a61d.ce7da","98e95b68.4d1068"]]},{"id":"36986ee4.3bbf22","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/corredor","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":280.8706359863281,"y":3827.0338745117188,"wires":[["6ddec6c8.cbf93","cf376033.51d928"]]},{"id":"b6c80a2f.847ae8","type":"switch","z":"a76391e.e9c7d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disconnect","vt":"str"},{"t":"neq","v":"disconnect","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":702.8150939941406,"y":4002.58935546875,"wires":[["d9c5a61d.ce7da","98e95b68.4d1068"],["c08aa125.90f7a"]]},{"id":"72d86df8.667d8c","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":281.1483459472656,"y":3777.0338134765625,"wires":[]},{"id":"e4b38828.94dd5","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":444.4222412109375,"y":3997.14453125,"wires":[]},{"id":"6ddec6c8.cbf93","type":"debug","z":"a76391e.e9c7d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":452.042724609375,"y":3749.150436401367,"wires":[]},{"id":"97a71580.d01c38","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":764.7260131835938,"y":3739.2337646484375,"wires":[]},{"id":"83b97352.b34a58","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1098.7260131835938,"y":4040.2337646484375,"wires":[]},{"id":"2a29e366.0e9384","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":788.7260131835938,"y":3832.833770751953,"wires":[]},{"id":"d43a4346.b9054","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"7ac0c575.b52f2c","order":3,"width":"2","height":"1","passthru":false,"label":"Sala","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz1/change","x":786.0651245117188,"y":3873.6727294921875,"wires":[["9465b069.494b3"]]},{"id":"5c02e334.067edc","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":13,"width":"2","height":"1","passthru":false,"label":"Sala","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz1/change","x":774.7260131835938,"y":3771.833770751953,"wires":[["9465b069.494b3"]]},{"id":"d9c5a61d.ce7da","type":"ui_text","z":"a76391e.e9c7d7","group":"7ac0c575.b52f2c","order":4,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1046.5650634765625,"y":3998.2837829589844,"wires":[]},{"id":"98e95b68.4d1068","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":14,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1080.7260131835938,"y":4075.8338012695312,"wires":[]},{"id":"809d4a29.ab71d","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable new","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\"\n        msg.enabled = true\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\"\n            msg.enabled = true\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\"\n                msg.enabled = false\n                context.set(\"c_time\", dateNow)\n                context.set(\"c_envia_pushover\", \"sim\")\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":588.8151550292969,"y":3452.3949584960938,"wires":[["2d01e2e5.e0f3ae","4055354d.13ba1c","6322e62a.b10b4","ac150ae3.32f708","4a086819.16b65"],["6f25499d.7ef37","f62bd9d6.d4cb6"]]},{"id":"3bcdde90.996fb2","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":971.815185546875,"y":3505.3950805664062,"wires":[]},{"id":"6495f133.fbfa18","type":"function","z":"a76391e.e9c7d7","name":"","func":"var msg1 = msg\n\nif(msg.payload === \"Disconectado\"){\n    return[msg1, msg1]\n}\n\nif(msg.topic === \"ape/corredor/luz\") {\n    return [msg1, null]\n} else {\n    if(msg.topic === \"ape/corredor/luz1\") {\n        return [null, msg1]\n    } \n}\n\n","outputs":2,"noerr":0,"x":724.6722412109375,"y":2840.39453125,"wires":[["44755e7c.7d3a6","ba821ad3.c1a578","fe0245c2.c83c6","78e967da.aee66","379a3354.bd232c"],["4f455581.b0b6bc","c3b9b15f.49389","38382f6f.672578","ab32ba8d.141ab8","bb22731.57fca9"]]},{"id":"5ee01c2.673cfe4","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":1332.6722412109375,"y":3000.1446533203125,"wires":[]},{"id":"379a3354.bd232c","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":767.0472412109375,"y":2673.89453125,"wires":[]},{"id":"9196b31e.edcac8","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":562.6722412109375,"y":2737.64453125,"wires":[]},{"id":"364b7497.ddb84c","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/dht","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":217.29718017578125,"y":1798.26953125,"wires":[["a5285041.cb554","9f6df1e9.968fe8"]]},{"id":"a5285041.cb554","type":"json","z":"a76391e.e9c7d7","name":"","property":"payload","action":"","pretty":false,"x":435.1805114746094,"y":1802.1527709960938,"wires":[["b84dee9e.a51888","8d6f7259.56811"]]},{"id":"b84dee9e.a51888","type":"function","z":"a76391e.e9c7d7","name":"","func":"var topico = \"teste\"     // editar para outro comodo\n\nvar msgU;\nvar msgT;\nvar dateNow = new Date();\n msg.enabled = false;\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - context.get('c_time'))/1000/60\n\n\n    if(dif_date >= 6.20){\n\n        msgU = { payload: '-', topic: topico};\n        msgT = { payload: '-', topic: topico};\n    }\n    \n} else {\n\n\nu = msg.payload.u\n    if(msg.payload.u === \"0.00\" && msg.payload.t === \"0.00\"){\n        msgU = { payload: '-', topic: topico};\n        msgT = { payload: '-', topic: topico};\n    } else {\n        msgU = { payload: msg.payload.u, topic: topico};\n        msgT = { payload: msg.payload.t, topic: topico};\n    }\n    context.set(\"c_time\", dateNow)\n\n}\n\nreturn [msgU, msgT]\n","outputs":2,"noerr":0,"x":617.1804809570312,"y":1809.1527709960938,"wires":[["8110a01.b1fe66","4ca40599.696c9c","8a05eae3.7ae75"],["daa936e1.495f28","d4880c7d.f1f938","e053bc58.fb443","e1d1067e.06c9e","8d482846.e469d"]]},{"id":"bcd1ea62.d6f788","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1021.9304809570312,"y":1805.9529418945312,"wires":[]},{"id":"4ca40599.696c9c","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'Umidade'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":877.1180419921875,"y":1728.090087890625,"wires":[["67a173d9.cdc574"]]},{"id":"e053bc58.fb443","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'Temperatura'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870.4180908203125,"y":1773.3401489257812,"wires":[["67a173d9.cdc574"]]},{"id":"8110a01.b1fe66","type":"ui_text","z":"a76391e.e9c7d7","group":"aabedb75.31173","order":6,"width":"2","height":"1","name":"","label":"Umidd","format":"{{msg.payload | number:1}} %","layout":"col-center","x":802.1805419921875,"y":1856.4028930664062,"wires":[]},{"id":"daa936e1.495f28","type":"ui_text","z":"a76391e.e9c7d7","group":"aabedb75.31173","order":5,"width":"2","height":"1","name":"","label":"Temp","format":"{{msg.payload | number:1}} °C ","layout":"col-center","x":795.413818359375,"y":1894.6640014648438,"wires":[]},{"id":"d4880c7d.f1f938","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":6,"width":"2","height":"1","name":"","label":"Temperatura","format":"{{msg.payload | number:1}} °C ","layout":"col-center","x":1025.4302368164062,"y":1841.5029907226562,"wires":[]},{"id":"67a173d9.cdc574","type":"ui_chart","z":"a76391e.e9c7d7","name":"","group":"f2318c1f.4bc28","order":3,"width":0,"height":0,"label":"Proto","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62727","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1092.9013061523438,"y":1738.623779296875,"wires":[[]]},{"id":"e1d1067e.06c9e","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":864.4222412109375,"y":1677.14453125,"wires":[]},{"id":"9f6df1e9.968fe8","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":367.29718017578125,"y":1958.26953125,"wires":[]},{"id":"1b8b722.8aa7d0e","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"","payload":"{\"u\":\"66.00\",\"t\":\"25.90\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":201.79718017578125,"y":1694.26953125,"wires":[["a5285041.cb554"]]},{"id":"64e7da92.dda194","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topico","info":"Alterar variavel topico\n","x":615.2971801757812,"y":1773.26953125,"wires":[]},{"id":"d2df8a81.a5a66","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":446.04718017578125,"y":1740.01953125,"wires":[["b84dee9e.a51888"]],"l":true,"info":"5 min\n"},{"id":"8a05eae3.7ae75","type":"link out","z":"a76391e.e9c7d7","name":"ape/quarto Umidade","links":["1ed5005d.402c6"],"x":726.1721801757812,"y":1695.89453125,"wires":[]},{"id":"8d482846.e469d","type":"link out","z":"a76391e.e9c7d7","name":"ape/quarto Temperatura","links":["fdeb77d0.025cf8"],"x":688.1721801757812,"y":1916.89453125,"wires":[]},{"id":"bb22731.57fca9","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":904.4222412109375,"y":3077.14453125,"wires":[]},{"id":"5f06db6b.b1cbbc","type":"ui_template","z":"f91e3b4.e8602c8","group":"4c24412b.903b68","name":"ape/corredor","order":3,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1247.75,"y":433.75,"wires":[[]]},{"id":"14409f30.543669","type":"inject","z":"b5a5d7d1.da846","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":740,"wires":[["80277fb0.3086a"]]},{"id":"45eccb9f.09ab44","type":"inject","z":"b5a5d7d1.da846","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":640,"wires":[["32273396.c12a24","e2a75054.bcec5"]]},{"id":"32273396.c12a24","type":"function","z":"b5a5d7d1.da846","name":"calcular tempo de luz acessa","func":"var now = new Date();   // current time\n\n\ndaynow = now.getDate()\n\n//msg.daynow = daynow\nmsg.timestamp = now\n\nif (msg.payload == 1)\n{\n    flow.set(\"teste_time\", now)\n} else {\n    msg.diferenca = (now - flow.get(\"teste_time\"))/1000/60\n\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":540,"y":680,"wires":[["9314ff2f.99f1a8"]]},{"id":"9314ff2f.99f1a8","type":"debug","z":"b5a5d7d1.da846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":680,"wires":[]},{"id":"b9f0b136.b418e","type":"inject","z":"b5a5d7d1.da846","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":920,"wires":[["2baa0e70.55fb0a"]]},{"id":"11cd71a.a76230e","type":"debug","z":"b5a5d7d1.da846","name":"output","active":false,"console":"false","complete":"true","x":842,"y":848,"wires":[]},{"id":"b27f32c6.8b2af","type":"function","z":"b5a5d7d1.da846","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":646,"y":848,"wires":[["11cd71a.a76230e"]]},{"id":"2baa0e70.55fb0a","type":"function","z":"b5a5d7d1.da846","name":"set timestamp","func":"//msg.timestamp=1376763133 * 1000;\n\n\n/////////////////////////////////////////////\n\n////////////////////////////////////////////\n//                      d  m SMMM\nmsg.timestamp   =   1582805105000\nmsg.timestamp2  =   1582917105000\n/*                   |\nmsg.timestamp   =   1582805105000\nmsg.timestamp2  =   1582916165000\n*/\nvar dt = new Date(msg.timestamp);\nvar dt2 = new Date(msg.timestamp2);\n\nmouthnow = dt.getMonth() + 1\nmouthnow2 = dt2.getMonth() + 1\n\nmsg.mouthnow = mouthnow\nmsg.mouthnow2 = mouthnow2\n\ndaynow = dt.getDate()\ndaynow2 = dt2.getDate()\n\nhournow = dt.getHours()\nhournow2 = dt2.getHours()\nmsg.hournow2 = hournow2\n\nminnow = dt.getMinutes()\nminnow2 = dt2.getMinutes()\nmsg.minnow2 = minnow2\n\nmsg.ligado_total_0 = 0\nmsg.ligado_total_1 =  Math.round((dt2 - dt)/1000/60)\n\nnode.warn(\"mouthnow = \\t\" + mouthnow + \"\\mouthnow2 = \\t\" + mouthnow2);\n\nif ((daynow2 > daynow) || (mouthnow2 > mouthnow)){\n\n//    msg.ligado_total_0 = (dt2 - dt)/1000/60 // - (hournow2 * 60 + minnow2)\n    msg.ligado_total_1 = Math.round((dt2 - dt)/1000/60 - (hournow2 * 60 + minnow2))\n    msg.ligado_total_2 = Math.round((hournow2 * 60) + minnow2)\n    \n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":434,"y":920,"wires":[["b27f32c6.8b2af","b12ca3d9.d21728"]]},{"id":"1914cc9a.1490e3","type":"inject","z":"b5a5d7d1.da846","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":250,"y":848,"wires":[["b27f32c6.8b2af"]]},{"id":"b12ca3d9.d21728","type":"debug","z":"b5a5d7d1.da846","name":"output","active":true,"console":"false","complete":"true","x":650,"y":920,"wires":[]},{"id":"e2a75054.bcec5","type":"debug","z":"b5a5d7d1.da846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":620,"wires":[]},{"id":"80277fb0.3086a","type":"delay","z":"b5a5d7d1.da846","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":740,"wires":[["32273396.c12a24"]]},{"id":"177dd60.1314e2a","type":"function","z":"a76391e.e9c7d7","name":"Calculo tempo aceso","func":"var now = new Date();   // current time\nvar time_on = context.get(\"time_on\") || 0 \n\n\nif (msg.payload == \"on\"){\n    if(time_on === 0){\n        context.set(\"time_on\", now)\n        node.warn(\"iniciou coleta tempo \" + now);\n    }\n} else {\n    if(time_on !== 0){\n        if (msg.payload == \"off\"){\n\n            start = context.get(\"time_on\")\n            Start_day =\t\tstart.getDate()\n            Start_month =\tstart.getMonth() + 1\n            Start_year =\tstart.getFullYear()\n            Start_hours =\tstart.getHours()\n            Start_mins =\tstart.getMinutes()\n    \n            Fim_day =\tnow.getDate()\n            Fim_month =\tnow.getMonth() + 1\n            Fim_year =\tnow.getFullYear()\n            Fim_hours =\tnow.getHours()\n            Fim_mins =\tnow.getMinutes()\n    \n            node.warn(\"finalizou coleta tempo\\ninicio = \" + context.get(\"time_on\") + \"\\nfinal =  \" + now );\n        \n            msg.tempo_ligado = Math.round((now - context.get(\"time_on\"))/1000/60)\n            msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n        \n            context.set(\"time_on\", 0)\n            \n            if ((Fim_day > Start_day) || (Fim_month > Start_month) || (Fim_year > Start_year)){\n                msg.tempo_ligado = Math.round(1440 -  ((Start_hours * 60) + Start_mins))\n                msg.tempo_ligado_1 = Math.round((Fim_hours * 60) + Fim_mins)\n                msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n                msg.dia_1 = Fim_year +\"-\"+ Fim_month +\"-\"+ Fim_day\n            }\n            \n            if (msg.tempo_ligado !== 0){\n                msg.flow_time_on1 = time_on\n                return msg\n            }\n        }\n    }\n}\n\n\n","outputs":1,"noerr":0,"x":954.4222412109375,"y":937.14453125,"wires":[["c2429ca7.2618b","d083c910.d4c55","2fd6f106.9f5e86"]],"info":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;"},{"id":"c2429ca7.2618b","type":"debug","z":"a76391e.e9c7d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1184.4222412109375,"y":897.14453125,"wires":[]},{"id":"5eea68c6.bb2918","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1044.4222412109375,"y":837.14453125,"wires":[]},{"id":"41c0e277.6a6d64","type":"http request","z":"b5a5d7d1.da846","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":550,"y":1220,"wires":[["e50ac458.4ace28","c04c707c.ec5028"]]},{"id":"6586adcb.630b54","type":"inject","z":"b5a5d7d1.da846","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1220,"wires":[["746c8c27.1e59a4"]]},{"id":"746c8c27.1e59a4","type":"function","z":"b5a5d7d1.da846","name":"","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n//msg.payload = { api_key: \"api_key_value\", sensor: \"luz\", location:\"telefonica\", value1: \"11\", value2: \"22\", value3: \"33\" };\nmsg.payload = { api_key: \"api_key_Clima\", sensor: \"luz\", location:\"telefonica\", value1: \"11\", value2: \"22\", value3: \"33\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1220,"wires":[["41c0e277.6a6d64"]]},{"id":"e50ac458.4ace28","type":"debug","z":"b5a5d7d1.da846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":1220,"wires":[]},{"id":"c04c707c.ec5028","type":"debug","z":"b5a5d7d1.da846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":1160,"wires":[]},{"id":"68726097.2191b","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sTopico = \"quarto\"     // editar para outro comodo - usado para o grafico\nvar sSensor = \"dht\"\nvar sTemperatura = msg.payload.t\nvar sUmidade = msg.payload.u\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n        msg.payload = { api_key: \"api_key_value\", table:\"Clima\", localidade: sTopico, sensor:sSensor, temperatura: sTemperatura, umidade: sUmidade};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":534.4222412109375,"y":2377.14453125,"wires":[["963bce4c.863fa"]]},{"id":"963bce4c.863fa","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":724.4222412109375,"y":2377.14453125,"wires":[["bfd66a4c.bb2898"]]},{"id":"bfd66a4c.bb2898","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":924.4222412109375,"y":2377.14453125,"wires":[]},{"id":"856ad6ce.e69168","type":"inject","z":"f91e3b4.e8602c8","name":"","topic":"","payload":"{\"ip\":\"\",\"device\":\"\",\"up\":\"\",\"reset\":\"\",\"ver\":\"\",\"status\":\"\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["aa35ca26.8fc3f8"]]},{"id":"190a3bfd.7ff84c","type":"debug","z":"f91e3b4.e8602c8","name":"Status_json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":562.8881874084473,"y":302.76733684539795,"wires":[]},{"id":"e0fa477f.2340d","type":"function","z":"9271b3dc.6bcd3","name":"","func":"var sTopico = \"externo\"     // editar para outro comodo - usado para o grafico\nvar sSensor = \"climaTempo\"\nvar sTemperatura = msg.payload.data.temperature\nvar sUmidade = msg.payload.data.humidity\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n        msg.payload = { api_key: \"api_key_value\", table:\"Clima\", localidade: sTopico, sensor:sSensor, temperatura: sTemperatura, umidade: sUmidade};\n        //msg.payload = { api_key: \"api_key_value\", table:\"SensorData\", location: topico, sensor:\"dht\", temperatura: msg.payload.t, umidade: msg.payload.u};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":732,"y":205.0000228881836,"wires":[["f7bbdc31.11cfc8"]]},{"id":"f7bbdc31.11cfc8","type":"http request","z":"9271b3dc.6bcd3","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":912,"y":205.0000228881836,"wires":[[]]},{"id":"8d6f7259.56811","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sTopico = \"telefonica\"     // editar para outro comodo - usado para o grafico\nvar sSensor = \"dht\"\nvar sTemperatura = msg.payload.t\nvar sUmidade = msg.payload.u\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n        msg.payload = { api_key: \"api_key_value\", table:\"Clima\", localidade: sTopico, sensor:sSensor, temperatura: sTemperatura, umidade: sUmidade};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":634.4222412109375,"y":1977.14453125,"wires":[["a94b9725.0d03c"]]},{"id":"a94b9725.0d03c","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":824.4222412109375,"y":1977.14453125,"wires":[["50dbef0f.8fb2b"]]},{"id":"50dbef0f.8fb2b","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1024.4222412109375,"y":1977.14453125,"wires":[]},{"id":"711cdc23.3fa14c","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":1264.4222412109375,"y":997.14453125,"wires":[["3e889d9.fbc3662"]]},{"id":"2fd6f106.9f5e86","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sLocalidade = \"telefonica\"     // editar para outro comodo - usado para o grafico\nvar sData = msg.dia\nvar sTempoLigado = msg.tempo_ligado\n\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n            msg.payload = { api_key: \"api_key_value\", table:\"TempoLuz\", localidade: sLocalidade, data:sData, tempoligado: sTempoLigado};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":1014.4222412109375,"y":997.14453125,"wires":[["711cdc23.3fa14c"]]},{"id":"3e889d9.fbc3662","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1224.4222412109375,"y":1097.14453125,"wires":[]},{"id":"d083c910.d4c55","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"dia","targetType":"msg","x":1154.4222412109375,"y":1157.14453125,"wires":[]},{"id":"63515e37.fc6008","type":"function","z":"a76391e.e9c7d7","name":"Calculo tempo aceso","func":"var now = new Date();   // current time\nvar time_on = context.get(\"time_on\") || 0 \n\n\nif (msg.payload == \"on\"){\n    if(time_on === 0){\n        context.set(\"time_on\", now)\n        // node.warn(\"iniciou coleta tempo \" + now);\n    }\n} else {\n    if(time_on !== 0){\n        if (msg.payload == \"off\"){\n\n            start = context.get(\"time_on\")\n            Start_day =\t\tstart.getDate()\n            Start_month =\tstart.getMonth() + 1\n            Start_year =\tstart.getFullYear()\n            Start_hours =\tstart.getHours()\n            Start_mins =\tstart.getMinutes()\n    \n            Fim_day =\tnow.getDate()\n            Fim_month =\tnow.getMonth() + 1\n            Fim_year =\tnow.getFullYear()\n            Fim_hours =\tnow.getHours()\n            Fim_mins =\tnow.getMinutes()\n    \n            // node.warn(\"finalizou coleta tempo\\ninicio = \" + context.get(\"time_on\") + \"\\nfinal =  \" + now );\n        \n            msg.tempo_ligado = Math.round((now - context.get(\"time_on\"))/1000/60)\n            msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n        \n            context.set(\"time_on\", 0)\n            \n            if ((Fim_day > Start_day) || (Fim_month > Start_month) || (Fim_year > Start_year)){\n                msg.tempo_ligado = Math.round(1440 -  ((Start_hours * 60) + Start_mins))\n                msg.tempo_ligado_1 = Math.round((Fim_hours * 60) + Fim_mins)\n                msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n                msg.dia_1 = Fim_year +\"-\"+ Fim_month +\"-\"+ Fim_day\n            }\n            \n            if (msg.tempo_ligado !== 0){\n                msg.flow_time_on1 = time_on\n                return msg\n            }\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":300,"y":600,"wires":[["3e999854.c471b8"]],"info":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;"},{"id":"3e999854.c471b8","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sLocalidade = \"quarto\"     // editar para outro comodo - usado para o grafico\nvar sData = msg.dia\nvar sTempoLigado = msg.tempo_ligado\n\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n            msg.payload = { api_key: \"api_key_value\", table:\"TempoLuz\", localidade: sLocalidade, data:sData, tempoligado: sTempoLigado};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":500,"y":600,"wires":[["c3914de0.fce46"]]},{"id":"c3914de0.fce46","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":690,"y":600,"wires":[["da9486a0.146fd8"]]},{"id":"da9486a0.146fd8","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":600,"wires":[]},{"id":"5ef7c0d5.7e5818","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/luz","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":914.4222412109375,"y":797.14453125,"wires":[["177dd60.1314e2a"]]},{"id":"7a4efed2.b6c18","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/luz","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":914.4222412109375,"y":757.14453125,"wires":[["177dd60.1314e2a"]]},{"id":"e0113b37.08907","type":"http request","z":"9271b3dc.6bcd3","name":"GET ClimaTempo Previsão","method":"GET","ret":"obj","paytoqs":false,"url":"http://apiadvisor.climatempo.com.br/api/v1/forecast/locale/3477/days/15?token=6437f1eb0ce7916ac9dcf5338023d66d","tls":"","proxy":"","authType":"","x":602,"y":405.0000228881836,"wires":[["842c0b6b.433098","dd0aafdf.6aee98"]]},{"id":"1b24a232.7b668e","type":"inject","z":"9271b3dc.6bcd3","name":"every day 00:01","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"x":312,"y":405.0000228881836,"wires":[["e0113b37.08907"]]},{"id":"7479293d.7dc56","type":"ui_template","z":"9271b3dc.6bcd3","group":"8e7b88aa.51306","name":"HTML Temperatura","order":2,"width":"4","height":"7","format":"<center>\n<table border=0 cellspacing=\"1\">\n    <TR>\n        <TD ALIGN='center' COLSPAN = \"3\">\n           <font size=\"3\">{{msg.payload.name}} - {{msg.payload.state}}</font>\n        </TD>\n    </TR>\n    <TR>\n        <TD ROWSPAN=\"2\">\n            <img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data.icon}}.png width=\"55\" height=\"55\">\n        </TD>\n\t\t<TH ROWSPAN=\"2\">    \n            <font size=\"7\">{{msg.payload.data.temperature}}°</font>\n        </TH>\n    \t<TD>\n            <font size=\"2\">&darr;{{msg.payload.data[0].temperature.min}}°&uarr;{{msg.payload.data[0].temperature.max}}°</font>    \n        </TD>\n \t</TR>\n    <TR>\n    \t<TH>\n            <font size=\"5\">{{msg.payload.data.humidity}}%</font>    \n        </TH>\n    </TR>\n    <TR>\n        <TD  align='center' COLSPAN = \"3\">\n            <font size=\"3\">{{msg.payload.data.condition}}</font>\n        </TD>\n    </TR>\n</table>\n\n <hr width=\"50%\"> \n\n<p align ='Center'><font size=\"3\"><B>Amanhã</B></font></p>\n<p align ='Center'><font size=\"3\">{{msg.payload.data[1].text_icon.text.pt}}</font></p>\n\n<table align ='Center' >\n    <tr>\n    \t<td style = \"padding: 3px\" COLSPAN=\"2\"><font size=\"4\">&#127785;</font>{{msg.payload.data[1].rain.probability}}% </td>\n    \t<td style = \"padding: 3px\" COLSPAN=\"2\"><img src=\"http://www.climatempo.com.br/dist/images/gota-azul.png\" width=\"10\" height=\"10\">{{msg.payload.data[1].rain.precipitation}}<font size=\"2\">mm</font></td>\n    </tr>\n    <tr>\n        <td style = \"padding: 3px\">Manha </td>\n        <td style = \"padding: 3px\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data[1].text_icon.icon.morning}}.png width=\"25\" height=\"25\"></td> \n         \n        <td style = \"padding: 3px\" align ='Center'>&darr;{{msg.payload.data[1].temperature.morning.min}}°</td>\n        <td style = \"padding: 3px\" align ='Center'>&uarr;{{msg.payload.data[1].temperature.morning.max}}°</td>\n\t</tr>\n    <tr>\n        <td style = \"padding: 3px\">Tarde</td>\n        <td style = \"padding: 3px\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data[1].text_icon.icon.afternoon}}.png width=\"25\" height=\"25\"></td> \n        <td style = \"padding: 3px\" align ='Center'>&darr;{{msg.payload.data[1].temperature.afternoon.min}}°</td>\n        <td style = \"padding: 3px\" align ='Center'>&uarr;{{msg.payload.data[1].temperature.afternoon.max}}°</td>\n    </tr>\n\t<tr>\n        <td style = \"padding: 3px\">Noite</td>\n        <td style = \"padding: 3px\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data[1].text_icon.icon.night}}.png width=\"25\" height=\"25\"></td> \n        <td style = \"padding: 3px\" align ='Center'>&darr;{{msg.payload.data[1].temperature.night.min}}°</td>\n        <td style = \"padding: 3px\" align ='Center'>&uarr;{{msg.payload.data[1].temperature.night.max}}°</td>\n    </tr>\n\n</table>\n\n<p align='Center'><font size=\"2\">Update {{msg.payload.update}}</font></p>\n</center>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1130,"y":380,"wires":[[]]},{"id":"98f1714.84d979","type":"ui_template","z":"9271b3dc.6bcd3","group":"a095bd78.a8514","name":"HTML Temperatura","order":16,"width":"6","height":"7","format":"<center>\n<table border=0 cellspacing=\"1\">\n    <TR>\n        <TD ALIGN='center' COLSPAN = \"3\">\n           <font size=\"3\">{{msg.payload.name}} - {{msg.payload.state}}</font>\n        </TD>\n    </TR>\n    <TR>\n        <TD ROWSPAN=\"2\">\n            <img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data.icon}}.png width=\"55\" height=\"55\">\n        </TD>\n\t\t<TH ROWSPAN=\"2\">    \n            <font size=\"7\">{{msg.payload.data.temperature}}°</font>\n        </TH>\n    \t<TD>\n            <font size=\"2\">&darr;{{msg.payload.data[0].temperature.min}}°&uarr;{{msg.payload.data[0].temperature.max}}°</font>    \n        </TD>\n \t</TR>\n    <TR>\n    \t<TH>\n            <font size=\"5\">{{msg.payload.data.humidity}}%</font>    \n        </TH>\n    </TR>\n    <TR>\n        <TD  align='center' COLSPAN = \"3\">\n            <font size=\"3\">{{msg.payload.data.condition}}</font>\n        </TD>\n    </TR>\n</table>\n\n <hr width=\"50%\"> \n\n<p align ='Center'><font size=\"3\"><B>Amanhã</B></font></p>\n<p align ='Center'><font size=\"3\">{{msg.payload.data[1].text_icon.text.pt}}</font></p>\n\n<table align ='Center' >\n    <tr>\n    \t<td style = \"padding: 3px\" COLSPAN=\"2\"><font size=\"4\">&#127785;</font>{{msg.payload.data[1].rain.probability}}% </td>\n    \t<td style = \"padding: 3px\" COLSPAN=\"2\"><img src=\"http://www.climatempo.com.br/dist/images/gota-azul.png\" width=\"10\" height=\"10\">{{msg.payload.data[1].rain.precipitation}}<font size=\"2\">mm</font></td>\n    </tr>\n    <tr>\n        <td style = \"padding: 3px\">Manha </td>\n        <td style = \"padding: 3px\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data[1].text_icon.icon.morning}}.png width=\"25\" height=\"25\"></td> \n         \n        <td style = \"padding: 3px\" align ='Center'>&darr;{{msg.payload.data[1].temperature.morning.min}}°</td>\n        <td style = \"padding: 3px\" align ='Center'>&uarr;{{msg.payload.data[1].temperature.morning.max}}°</td>\n\t</tr>\n    <tr>\n        <td style = \"padding: 3px\">Tarde</td>\n        <td style = \"padding: 3px\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data[1].text_icon.icon.afternoon}}.png width=\"25\" height=\"25\"></td> \n        <td style = \"padding: 3px\" align ='Center'>&darr;{{msg.payload.data[1].temperature.afternoon.min}}°</td>\n        <td style = \"padding: 3px\" align ='Center'>&uarr;{{msg.payload.data[1].temperature.afternoon.max}}°</td>\n    </tr>\n\t<tr>\n        <td style = \"padding: 3px\">Noite</td>\n        <td style = \"padding: 3px\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data[1].text_icon.icon.night}}.png width=\"25\" height=\"25\"></td> \n        <td style = \"padding: 3px\" align ='Center'>&darr;{{msg.payload.data[1].temperature.night.min}}°</td>\n        <td style = \"padding: 3px\" align ='Center'>&uarr;{{msg.payload.data[1].temperature.night.max}}°</td>\n    </tr>\n\n</table>\n\n<p align='Center'><font size=\"2\">Update {{msg.payload.update}}</font></p>\n</center>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1130,"y":420,"wires":[[]]},{"id":"dd0aafdf.6aee98","type":"function","z":"9271b3dc.6bcd3","name":"","func":"//var now = new Date();\n//payload.update = now.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});\n\n  \nif (msg.payload.data.temperature !== undefined){\n    //msg de tempo atual\n    var payload = {\n        \"name\": msg.payload.name,\n        \"state\": msg.payload.state,\n        \"update\": msg.payload.update,\n        \"data\": {\n            \"temperature\": msg.payload.data.temperature,\n            \"humidity\": msg.payload.data.humidity,\n            \"condition\": msg.payload.data.condition,\n            \"icon\": msg.payload.data.icon,\n        }\n        \n    }\n    context.set(\"today\", payload)\n    \n    var forecast = context.get(\"forecast\") || undefined\n    if (forecast !== undefined){\n        payload.data[1] = forecast.data[1]\n        payload.data[0] = forecast.data[0]\n    }\n} else {\n    //msg de tempo dia seguinte\n\n    payload = {\n        \"name\": msg.payload.name,\n        \"state\": msg.payload.state,\n        \"update\": msg.payload.update,\n\t\t\"data\": [\n\n\t\t\t{ \n\t\t\t\t\"temperature\": {\n\t\t\t\t\t\t\"min\": msg.payload.data[0].temperature.min,\n\t\t\t\t\t\t\"max\": msg.payload.data[0].temperature.max,\n\t\t\t\t},\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"rain\": {\n\t\t\t\t\t\"probability\": msg.payload.data[1].rain.probability,\n\t\t\t\t\t\"precipitation\": msg.payload.data[1].rain.precipitation\n\t\t\t\t},\n\t\t\t\t\n\t\t\t\t\"text_icon\": {\n\t\t\t\t\t\"icon\": {\n\t\t\t\t\t\t\"morning\": msg.payload.data[1].text_icon.icon.morning,\n\t\t\t\t\t\t\"afternoon\": msg.payload.data[1].text_icon.icon.afternoon,\n\t\t\t\t\t\t\"night\": msg.payload.data[1].text_icon.icon.night,\n\t\t\t\t\t},\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"pt\": msg.payload.data[1].text_icon.text.pt,\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"temperature\": {\n\t\t\t\t\t\"morning\": {\n\t\t\t\t\t\t\"min\": msg.payload.data[1].temperature.morning.min,\n\t\t\t\t\t\t\"max\": msg.payload.data[1].temperature.morning.max,\n\t\t\t\t\t},\n\t\t\t\t\t\"afternoon\": {\n\t\t\t\t\t\t\"min\": msg.payload.data[1].temperature.afternoon.min,\n\t\t\t\t\t\t\"max\": msg.payload.data[1].temperature.afternoon.max,\n\t\t\t\t\t},\n\t\t\t\t\t\"night\": {\n\t\t\t\t\t\t\"min\": msg.payload.data[1].temperature.night.min,\n\t\t\t\t\t\t\"max\": msg.payload.data[1].temperature.night.max,\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t},\n\t\t]\n    }\n    context.set(\"forecast\", payload)\n\n    var today = context.get(\"today\") || undefined\n    if (today !== undefined){\n        payload = today    \n    \n        payload.data.temperature = today.data.temperature\n        payload.data.humidity = today.data.humidity\n        payload.data.condition = today.data.condition\n        payload.data.icon = today.data.icon\n    }\n    \n}   \n\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"x":932,"y":405.0000228881836,"wires":[["7479293d.7dc56","98f1714.84d979","cfc564d7.b36c4"]]},{"id":"3d606c14.2a2b8c","type":"inject","z":"9271b3dc.6bcd3","name":"2 horas","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":true,"onceDelay":"","x":282,"y":445.0000228881836,"wires":[["e0113b37.08907"]]},{"id":"ffe3105f.c53068","type":"comment","z":"9271b3dc.6bcd3","name":"enviar dados para myslq","info":"","x":830,"y":160,"wires":[]},{"id":"d081dcf8.f30dd","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":744.4222412109375,"y":2957.14453125,"wires":[]},{"id":"1e0b7c4c.3213a4","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":744.4222412109375,"y":3957.14453125,"wires":[]},{"id":"67840d1.80b08f4","type":"function","z":"a76391e.e9c7d7","name":"Calculo tempo disconectado","func":"\n\nvar now = new Date();   // current time\nvar time_off = context.get(\"time_off\") || 0 \n\n\nif (msg.payload == \"Disconectado\"){\n    if(time_off === 0){\n        context.set(\"time_off\", now)\n        node.warn(\"iniciou coleta tempo disconectado \" + now);\n    }\n} else {\n    if(time_off !== 0){\n        if ((msg.payload == \"Ligado\") || (msg.payload == \"Desligado\")){\n\n            start = context.get(\"time_off\")\n            Start_day =\t\tstart.getDate()\n            Start_month =\tstart.getMonth() + 1\n            Start_year =\tstart.getFullYear()\n            Start_hours =\tstart.getHours()\n            Start_mins =\tstart.getMinutes()\n    \n            Fim_day =\tnow.getDate()\n            Fim_month =\tnow.getMonth() + 1\n            Fim_year =\tnow.getFullYear()\n            Fim_hours =\tnow.getHours()\n            Fim_mins =\tnow.getMinutes()\n    \n            node.warn(\"finalizou coleta tempo\\ndesconexão = \" + context.get(\"time_off\") + \"\\nconexão =  \" + now );\n        \n            msg.tempo_desconectado = Math.round((now - context.get(\"time_off\"))/1000/60)\n            msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n        \n            context.set(\"time_off\", 0)\n\n            return msg\n            \n        }\n    }\n}\n","outputs":1,"noerr":0,"x":1154.4222412109375,"y":3917.14453125,"wires":[["e8496959.9304b"]],"info":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;"},{"id":"e8496959.9304b","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sLocalidade = msg.topic.split('/')[1];\nvar sTempoDesconectado = msg.tempo_desconectado\n\n\n\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n            msg.payload = { api_key: \"api_key_value\", table:\"TempoDesconectado\", localidade: sLocalidade, tempodesconectado: sTempoDesconectado};\n        return msg\n\n\n\n \n","outputs":1,"noerr":0,"x":1294.4222412109375,"y":3837.14453125,"wires":[["4a4bccd1.4ff0f4"]]},{"id":"4a4bccd1.4ff0f4","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":1424.4222412109375,"y":3957.14453125,"wires":[[]]},{"id":"b0645db6.ac8608","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"","payload":"Disconectado","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344.4222412109375,"y":3197.14453125,"wires":[["809d4a29.ab71d"]]},{"id":"45ee167e.394b08","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"","payload":"Ligado","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":364.4222412109375,"y":3237.14453125,"wires":[["809d4a29.ab71d"]]},{"id":"734d7740.c32958","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":834.4222412109375,"y":3217.14453125,"wires":[]},{"id":"6d4ec190.4ee57","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/sala/luz1","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":284.4222412109375,"y":4077.14453125,"wires":[["360ed12a.629016","cf376033.51d928"]]},{"id":"360ed12a.629016","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":484.4222412109375,"y":4097.14453125,"wires":[]},{"id":"437bc675.ca9558","type":"debug","z":"9271b3dc.6bcd3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":180,"wires":[]},{"id":"cf376033.51d928","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable new","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\"\n        msg.enabled = true\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\"\n            msg.enabled = true\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\"\n                msg.enabled = false\n                context.set(\"c_time\", dateNow)\n                context.set(\"c_envia_pushover\", \"sim\")\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":534.4222412109375,"y":3797.14453125,"wires":[["5c02e334.067edc","d43a4346.b9054","1e0b7c4c.3213a4","b6c80a2f.847ae8","67840d1.80b08f4"],[]]},{"id":"dd433b6b.408648","type":"function","z":"b5a5d7d1.da846","name":"","func":"var myString = 'Hello World. How are you doing?';\nvar splits = myString.split(' ');\n\nmsg.splits = splits\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":490,"y":1400,"wires":[["77bc1d1a.c7c4ec"]]},{"id":"77bc1d1a.c7c4ec","type":"debug","z":"b5a5d7d1.da846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":1400,"wires":[]},{"id":"d5aa2f67.97cab8","type":"inject","z":"b5a5d7d1.da846","name":"","topic":"","payload":"\"teste 1234, vai funcionar\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1400,"wires":[["dd433b6b.408648"]]},{"id":"3a2fd04d.f44f18","type":"function","z":"a76391e.e9c7d7","name":"Calculo tempo disconectado","func":"\n\nvar now = new Date();   // current time\nvar time_off = context.get(\"time_off\") || 0 \n\n\nif (msg.payload == \"Disconectado\"){\n    if(time_off === 0){\n        context.set(\"time_off\", now)\n        node.warn(\"iniciou coleta tempo disconectado \" + now);\n    }\n} else {\n    if(time_off !== 0){\n        if ((msg.payload == \"Ligado\") || (msg.payload == \"Desligado\")){\n\n            start = context.get(\"time_off\")\n            Start_day =\t\tstart.getDate()\n            Start_month =\tstart.getMonth() + 1\n            Start_year =\tstart.getFullYear()\n            Start_hours =\tstart.getHours()\n            Start_mins =\tstart.getMinutes()\n    \n            Fim_day =\tnow.getDate()\n            Fim_month =\tnow.getMonth() + 1\n            Fim_year =\tnow.getFullYear()\n            Fim_hours =\tnow.getHours()\n            Fim_mins =\tnow.getMinutes()\n    \n            node.warn(\"finalizou coleta tempo\\ndesconexão = \" + context.get(\"time_off\") + \"\\nconexão =  \" + now );\n        \n            msg.tempo_desconectado = Math.round((now - context.get(\"time_off\"))/1000/60)\n            msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n        \n            context.set(\"time_off\", 0)\n\n            return msg\n            \n        }\n    }\n}\n","outputs":1,"noerr":0,"x":920,"y":340,"wires":[["d972ed60.c384f8","30ef652c.e25cba"]],"info":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;"},{"id":"d972ed60.c384f8","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sLocalidade = msg.topic.split('/')[1];\nvar sTempoDesconectado = msg.tempo_desconectado\n\n\n\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n            msg.payload = { api_key: \"api_key_value\", table:\"TempoDesconectado\", localidade: sLocalidade, tempodesconectado: sTempoDesconectado};\n        return msg\n\n\n\n \n","outputs":1,"noerr":0,"x":1180,"y":340,"wires":[["e82221f6.30c0b8"]]},{"id":"e82221f6.30c0b8","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":1370,"y":340,"wires":[[]]},{"id":"e1975c02.0b463","type":"ui_template","z":"f91e3b4.e8602c8","group":"6825085.446fbf8","name":"ape/sala","order":3,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1240,"y":470,"wires":[[]]},{"id":"810e98d1.2ffd6","type":"function","z":"f91e3b4.e8602c8","name":"Salva_variaveis","func":"flow.set('f_count', msg.payload)","outputs":1,"noerr":0,"x":700,"y":200,"wires":[[]]},{"id":"2524d530.b4047a","type":"inject","z":"f91e3b4.e8602c8","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":200,"wires":[["810e98d1.2ffd6"]]},{"id":"36aa6a60.c3a55e","type":"debug","z":"f91e3b4.e8602c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":240,"wires":[]},{"id":"e71ba605.c87c08","type":"ui_template","z":"f91e3b4.e8602c8","group":"ac46c281.0280d","name":"","order":3,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1240,"y":520,"wires":[[]]},{"id":"842c0b6b.433098","type":"debug","z":"9271b3dc.6bcd3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":460,"wires":[]},{"id":"10e51048.85dcf","type":"inject","z":"f91e3b4.e8602c8","name":"","topic":"ape/teste","payload":"{\"ip\":\"\",\"device\":\"\",\"up\":\"\",\"reset\":\"\",\"ver\":\"\",\"status\":\"red\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["aa35ca26.8fc3f8"]]},{"id":"cfc564d7.b36c4","type":"debug","z":"9271b3dc.6bcd3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":480,"wires":[]},{"id":"30ef652c.e25cba","type":"debug","z":"a76391e.e9c7d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":420,"wires":[]},{"id":"1f23eb10.b824ad","type":"function","z":"f1b5c0e6.84dd68","name":"Enable/Disable new","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\"\n        msg.enabled = true\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\"\n            msg.enabled = true\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\"\n                msg.enabled = false\n                context.set(\"c_time\", dateNow)\n                context.set(\"c_envia_pushover\", \"sim\")\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":400,"y":360,"wires":[["3c69d0bf.cc5c9","7e240bf0.859e2c","e11a2f40.78af4","6bd5e7a7.eb1c38","5dd88342.0f60b4"],[]]},{"id":"bbf569c8.71ff08","type":"mqtt in","z":"f1b5c0e6.84dd68","name":"ape/mesa/luz","topic":"ape/mesa/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":130,"y":420,"wires":[["37b1efb6.1b505","912a15a7.b33ba8","1f23eb10.b824ad"]]},{"id":"1486e248.4c6a66","type":"mqtt in","z":"f1b5c0e6.84dd68","name":"ape/mesa","topic":"ape/mesa","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":136.27792358398438,"y":354.33343505859375,"wires":[["50f99a0a.4dbeec","1f23eb10.b824ad"]]},{"id":"3c69d0bf.cc5c9","type":"ui_button","z":"f1b5c0e6.84dd68","name":"","group":"a095bd78.a8514","order":1,"width":"2","height":"1","passthru":false,"label":"NewDevice","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/newdevice/luz0/change","x":690,"y":260,"wires":[["9b59ff7e.cd9038"]]},{"id":"7e240bf0.859e2c","type":"ui_button","z":"f1b5c0e6.84dd68","name":"","group":"58d77e72.766a8","order":1,"width":"2","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/mesa/luz/change","x":695.339111328125,"y":356.8389587402344,"wires":[["9b59ff7e.cd9038"]]},{"id":"e11a2f40.78af4","type":"ui_text","z":"f1b5c0e6.84dd68","group":"58d77e72.766a8","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":790,"y":520,"wires":[]},{"id":"6bd5e7a7.eb1c38","type":"ui_text","z":"f1b5c0e6.84dd68","group":"a095bd78.a8514","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":910,"y":560,"wires":[]},{"id":"36874adc.5a24ae","type":"link in","z":"f1b5c0e6.84dd68","name":"input 5 min","links":["753e508a.6a4198"],"x":134,"y":258,"wires":[["1f23eb10.b824ad"]],"l":true,"info":"5 min\n"},{"id":"37b1efb6.1b505","type":"switch","z":"f1b5c0e6.84dd68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disconnect","vt":"str"},{"t":"neq","v":"disconnect","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":480,"wires":[["e11a2f40.78af4","6bd5e7a7.eb1c38","e400869e.a9d1a8"],["50fc0a94.419da4","4a1adb7e.a8ec94"]]},{"id":"912a15a7.b33ba8","type":"debug","z":"f1b5c0e6.84dd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":520,"wires":[]},{"id":"50f99a0a.4dbeec","type":"debug","z":"f1b5c0e6.84dd68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":343.45001220703125,"y":273.4499969482422,"wires":[]},{"id":"9b59ff7e.cd9038","type":"mqtt out","z":"f1b5c0e6.84dd68","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":914.8946533203125,"y":353.36669921875,"wires":[]},{"id":"50fc0a94.419da4","type":"change","z":"f1b5c0e6.84dd68","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"disconnect","fromt":"str","to":"disconnect","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630.25,"y":574.25,"wires":[["e11a2f40.78af4","6bd5e7a7.eb1c38","a85f0f48.c49a8"]]},{"id":"73a1e237.3ec074","type":"comment","z":"f1b5c0e6.84dd68","name":"Alterar","info":"","x":172.55563354492188,"y":301.3333740234375,"wires":[]},{"id":"f15c4d92.577228","type":"comment","z":"f1b5c0e6.84dd68","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":700,"y":311,"wires":[]},{"id":"96024fc0.cf2838","type":"comment","z":"f1b5c0e6.84dd68","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":676,"y":217.39999389648438,"wires":[]},{"id":"eb0dea47.894228","type":"comment","z":"f1b5c0e6.84dd68","name":"Alterar group","info":"Alterar group dashboard\n","x":780.25,"y":474.25,"wires":[]},{"id":"316e8058.20de68","type":"comment","z":"f1b5c0e6.84dd68","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":920.25,"y":534.25,"wires":[]},{"id":"a85f0f48.c49a8","type":"debug","z":"f1b5c0e6.84dd68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":620,"wires":[]},{"id":"e400869e.a9d1a8","type":"debug","z":"f1b5c0e6.84dd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":440,"wires":[]},{"id":"5dd88342.0f60b4","type":"debug","z":"f1b5c0e6.84dd68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":300,"wires":[]},{"id":"15c29fc.683996","type":"mqtt in","z":"f1b5c0e6.84dd68","name":"","topic":"ape/newdevice/#","qos":"2","datatype":"auto","broker":"25167bbc.e1295c","x":170,"y":660,"wires":[["8d3b8c34.8982b"]]},{"id":"8d3b8c34.8982b","type":"debug","z":"f1b5c0e6.84dd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":660,"wires":[]},{"id":"4a1adb7e.a8ec94","type":"function","z":"f1b5c0e6.84dd68","name":"","func":"if (msg.payload === 'on'){\n    msg.payload = Ligado\n} else if (msg.paylaod === 'off'){\n    msg.payload = Desligado\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":680,"wires":[["c7a61556.9ab0b"]]},{"id":"c7a61556.9ab0b","type":"debug","z":"f1b5c0e6.84dd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":680,"wires":[]}]