Server/flows_iotpaulo.json
[{"id":"21cbdefc.178002","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a76391e.e9c7d7","type":"tab","label":"Apartamento","disabled":false,"info":""},{"id":"f91e3b4.e8602c8","type":"tab","label":"Status","disabled":false,"info":""},{"id":"9271b3dc.6bcd3","type":"tab","label":"Previsao","disabled":false,"info":""},{"id":"b5a5d7d1.da846","type":"tab","label":"teste","disabled":false,"info":""},{"id":"4633626c.639bcc","type":"subflow","name":"Subflow 1","info":"","in":[{"x":542.5,"y":3128,"wires":[{"id":"776aad44.3dc9b4"}]}],"out":[]},{"id":"25167bbc.e1295c","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8dc71b4d.1c3148","type":"mui_link","z":0,"name":"Link 2","icon":"open_in_browser","target":"newtab","order":2},{"id":"1315dab9.1e8fe5","type":"mui_tab","z":0,"name":"Home","icon":"dashboard"},{"id":"c549513f.15f8e","type":"mui_group","z":0,"name":"Default","tab":"1315dab9.1e8fe5","disp":true,"width":"6","collapse":false},{"id":"c8162c71.448a6","type":"mui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9e57a1d8.021468","type":"ui_group","z":0,"name":"Quarto","tab":"510e1d1a.eac40c","order":1,"disp":true,"width":"4","collapse":false},{"id":"c1ac0cb6.91c4c8","type":"ui_group","z":0,"name":"NovoDevice","tab":"eb76e7ec.a33d7","disp":true,"width":"6","collapse":false},{"id":"31779852.551a48","type":"ui_group","z":0,"name":"Status","tab":"aa3a149.d5ad168","order":4,"disp":true,"width":"4","collapse":false},{"id":"4c24412b.903b68","type":"ui_group","z":0,"name":"G1","tab":"aa3a149.d5ad168","order":1,"disp":false,"width":"4","collapse":false},{"id":"6825085.446fbf8","type":"ui_group","z":0,"name":"G2","tab":"aa3a149.d5ad168","order":2,"disp":false,"width":"4","collapse":false},{"id":"ac46c281.0280d","type":"ui_group","z":0,"name":"G3","tab":"aa3a149.d5ad168","order":3,"disp":false,"width":"4","collapse":false},{"id":"aabedb75.31173","type":"ui_group","z":0,"name":"Proto","tab":"510e1d1a.eac40c","order":2,"disp":true,"width":"4","collapse":false},{"id":"2d6291f0.c96026","type":"ui_group","z":0,"name":"Varanda","tab":"510e1d1a.eac40c","order":3,"disp":true,"width":"4","collapse":false},{"id":"f4e9319a.8f7d6","type":"ui_group","z":0,"name":"Gauge","tab":"d70fc1da.0bd0b8","disp":false,"width":"8","collapse":false},{"id":"e18c8c18.d7e918","type":"ui_group","z":0,"name":"Default","tab":"3f29b2c6.a2c906","disp":false,"width":"6","collapse":false},{"id":"569e3243.8d0fd4","type":"ui_group","z":"9271b3dc.6bcd3","name":"Default","tab":"b49c345b.32de88","disp":true,"width":"6","collapse":false},{"id":"f1141f30.52cc78","type":"ui_group","z":0,"name":"Externo","tab":"510e1d1a.eac40c","order":4,"disp":true,"width":"4","collapse":false},{"id":"f2318c1f.4bc28","type":"ui_group","z":0,"name":"Group 2","tab":"d70fc1da.0bd0b8","order":2,"disp":true,"width":"8","collapse":false},{"id":"a095bd78.a8514","type":"ui_group","z":"","name":"Group 1","tab":"79127ce7.39f03c","order":1,"disp":false,"width":"6","collapse":false},{"id":"8e7b88aa.51306","type":"ui_group","z":0,"name":"Teste","tab":"510e1d1a.eac40c","disp":true,"width":"4","collapse":false},{"id":"63d4d9cd.ea7738","type":"ui_group","z":0,"name":"CPU Load","tab":"4bfd1312.595b0c","order":2,"disp":true,"width":"6"},{"id":"60dcfe1.ba26d","type":"ui_group","z":0,"name":"Memory","tab":"4bfd1312.595b0c","order":3,"disp":true,"width":"6"},{"id":"c5221142.3148f","type":"ui_group","z":0,"name":"System Information","tab":"4bfd1312.595b0c","order":1,"disp":true,"width":"6"},{"id":"510e1d1a.eac40c","type":"ui_tab","z":"","name":"Apartamento","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"aa3a149.d5ad168","type":"ui_tab","z":0,"name":"Status","icon":"dashboard","order":3},{"id":"eb76e7ec.a33d7","type":"ui_tab","z":0,"name":"NovoDevice","icon":"dashboard","order":4},{"id":"d70fc1da.0bd0b8","type":"ui_tab","z":0,"name":"Gauge","icon":"dashboard","order":6},{"id":"3f29b2c6.a2c906","type":"ui_tab","z":0,"name":"Tab 1","icon":"dashboard","order":5},{"id":"b49c345b.32de88","type":"ui_tab","z":"9271b3dc.6bcd3","name":"tab2","icon":"dashboard","order":7},{"id":"79127ce7.39f03c","type":"ui_tab","z":0,"name":"Celular","icon":"dashboard","order":2},{"id":"4bfd1312.595b0c","type":"ui_tab","z":0,"name":"System","icon":"computer"},{"id":"64754fe7.eacce","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IotPaulo","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fbd6bac.eb1584","type":"darksky-credentials","z":0,"key_identifier":"darksky"},{"id":"7ac0c575.b52f2c","type":"ui_group","z":"","name":"Corredor","tab":"510e1d1a.eac40c","disp":true,"width":"4","collapse":false},{"id":"7705242f.78fd3c","type":"ui_group","z":"","name":"Corredor1","tab":"510e1d1a.eac40c","disp":true,"width":"4","collapse":false},{"id":"e20140dd.dd5e1","type":"ui_spacer","name":"spacer","group":"6930de7c.33a158","order":2,"width":1,"height":1},{"id":"3ec61590.5f81b2","type":"ui_spacer","name":"spacer","group":"6930de7c.33a158","order":2,"width":1,"height":1},{"id":"59c31b1.a06a864","type":"ui_spacer","name":"spacer","group":"a095bd78.a8514","order":12,"width":"2","height":1},{"id":"158e6a96.4f7ac5","type":"ui_spacer","name":"spacer","group":"a095bd78.a8514","order":15,"width":"2","height":1},{"id":"59ecc737.ac68e8","type":"ui_spacer","name":"spacer","group":"a095bd78.a8514","order":9,"width":"2","height":1},{"id":"77a587fc.94b728","type":"ui_spacer","name":"spacer","group":"a095bd78.a8514","order":19,"width":1,"height":1},{"id":"684e4f16.c4343","type":"function","z":"21cbdefc.178002","name":"Coleta Disconexão","func":"//var descTopic = msg.payload;\n\nmsg.topic = msg.payload;\nmsg.payload = \"disconnect\";\n\n\n\nreturn msg\n\n/*\nif(msg.payload === \"room/lamp\")\n{\n    msg.enabled = false;\n\n    \n} else {\n     msg.enabled = true;\n     msg.label = \"teste_label\";\n}\n    return msg;\n    \n    */","outputs":1,"noerr":0,"x":318.72250747680664,"y":321.88852882385254,"wires":[["3c88e480.948924","3cfc2a39.4d83ee"]]},{"id":"3c88e480.948924","type":"mqtt out","z":"21cbdefc.178002","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":570,"y":280,"wires":[]},{"id":"3cfc2a39.4d83ee","type":"debug","z":"21cbdefc.178002","name":"msg4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":360,"wires":[]},{"id":"5e52ce95.3eba58","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/quarto/luz","topic":"ape/quarto/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":173.97244262695312,"y":361.44451904296875,"wires":[["7fbfc46f.3dffec","132524ea.ce143b","1f0f4697.f059f9","63515e37.fc6008"]]},{"id":"f9699e28.21df48","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":904.7779541015625,"y":325.2500305175781,"wires":[]},{"id":"30a3e0b9.719d1","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"disconnect","fromt":"str","to":"disconnect","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":768.9722900390625,"y":494.3055114746094,"wires":[["3d605702.17ad88","8b95da79.3073f8"]]},{"id":"28ea3efd.9d0412","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\n\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n\n    if(msg.payload === \"disconnect\"){\n        msg1.enabled = false;\n        context.set(\"c_time\", dateNow)\n        context.set(\"c_envia_pushover\", \"sim\")\n    } else {\n        msg1.enabled = true;\n    }\n\n}\n\n\nreturn [msg1, null]","outputs":2,"noerr":0,"x":420,"y":340,"wires":[["fc1d6ceb.e75ca","7fbfc46f.3dffec","c2898b7e.605468"],["386cacaf.09bb7c"]]},{"id":"c8a677e.4327508","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/quarto","topic":"ape/quarto","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":146.02792358398438,"y":280.08343505859375,"wires":[["ae75103d.f0061","1f0f4697.f059f9"]]},{"id":"7fbfc46f.3dffec","type":"switch","z":"a76391e.e9c7d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disconnect","vt":"str"},{"t":"neq","v":"disconnect","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":603.9723815917969,"y":452.638916015625,"wires":[["3d605702.17ad88","8b95da79.3073f8"],["30a3e0b9.719d1"]]},{"id":"a7250b19.263cb","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":182.30563354492188,"y":227.0833740234375,"wires":[]},{"id":"aa35ca26.8fc3f8","type":"json","z":"f91e3b4.e8602c8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":380,"wires":[["73a7ce58.e1f268","190a3bfd.7ff84c","dfd54299.7b2ee"]]},{"id":"16e97787.987ea","type":"switch","z":"f91e3b4.e8602c8","name":"","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"ape/quarto","vt":"str"},{"t":"eq","v":"ape/teste","vt":"str"},{"t":"eq","v":"ape/varanda","vt":"str"},{"t":"eq","v":"ape/corredor","vt":"str"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":5,"x":1023.1667022705078,"y":379.7666473388672,"wires":[["c6c618fb.817158"],["be4d59f3.aeba5","2304faf5.da2cce"],["1cd8af6c.4d4021"],["5f06db6b.b1cbbc"],["4e035ba8.041e2c"]]},{"id":"82675091.afda68","type":"mqtt in","z":"f91e3b4.e8602c8","name":"","topic":"ape/status","qos":"2","datatype":"auto","broker":"25167bbc.e1295c","x":180,"y":380,"wires":[["2498db88.89c654","aa35ca26.8fc3f8"]]},{"id":"69ab3b54.7b777c","type":"change","z":"f91e3b4.e8602c8","name":"insert timestamp","rules":[{"t":"set","p":"payload.date","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["dfd54299.7b2ee","2375c002.0f3648"]]},{"id":"73a7ce58.e1f268","type":"function","z":"f91e3b4.e8602c8","name":"Send Disconect","func":"if (msg.payload.status === \"red\")\n{\n    msg.topic = msg.payload.device;\n    msg.enabled = false;\n    msg.payload = \"disconnect\"\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":580,"y":500,"wires":[["881317f0.4d472","97d5153f.c88548"]]},{"id":"881317f0.4d472","type":"debug","z":"f91e3b4.e8602c8","name":"Status_funcao","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":801.9999237060547,"y":554.4000091552734,"wires":[]},{"id":"97d5153f.c88548","type":"mqtt out","z":"f91e3b4.e8602c8","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":794.1999969482422,"y":455.9000549316406,"wires":[]},{"id":"a445f2d9.748558","type":"mqtt in","z":"21cbdefc.178002","name":"","topic":"ape/testamento","qos":"2","datatype":"auto","broker":"25167bbc.e1295c","x":200,"y":460,"wires":[["102baab0.e1937d"]]},{"id":"102baab0.e1937d","type":"debug","z":"21cbdefc.178002","name":"testamento","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":417.450439453125,"y":452.992919921875,"wires":[]},{"id":"f43b0012.92d29","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/varanda/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":265.5777587890625,"y":1202.85546875,"wires":[["cd9caf0b.942bf","31b40c18.dda714","f5e750fa.b8cc9"]]},{"id":"aa42fc6f.a15d98","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":827.8274955749512,"y":1128.328010559082,"wires":[]},{"id":"bee9f782.bd1d38","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"disconnect","fromt":"str","to":"Disconectado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":673.2761535644531,"y":1324.1608581542969,"wires":[["7062d76a.426fd","5a59efe3.cc82e"]]},{"id":"cd9caf0b.942bf","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\n\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n\n    if(msg.payload === \"disconnect\"){\n        msg1.enabled = false;\n        context.set(\"c_time\", dateNow)\n        context.set(\"c_envia_pushover\", \"sim\")\n    } else {\n        msg1.enabled = true;\n    }\n\n}\n\n\nreturn [msg1, null]","outputs":2,"noerr":0,"x":473.5222473144531,"y":1142.7167358398438,"wires":[["d8a3edb3.7d80d8","31b40c18.dda714","e82d48e7.dce51"],["6ef8fd66.c1806c"]]},{"id":"d5702303.9399f8","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/varanda","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":266.6332244873047,"y":1139.4944152832031,"wires":[["cd9caf0b.942bf","ee0b30ee.7e237"]]},{"id":"4841f3b3.4fa0ec","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":821.1610412597656,"y":1245.8001403808594,"wires":[]},{"id":"46f931e0.be6858","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":660.6554260253906,"y":1110.4722290039062,"wires":[]},{"id":"a6e87f8f.0748d","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid\nape/teste\n\nlocationid/deviceid/mqttAtuadorId\nape/teste/luz1","x":264.877685546875,"y":1104.916748046875,"wires":[]},{"id":"31b40c18.dda714","type":"switch","z":"a76391e.e9c7d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disconnect","vt":"str"},{"t":"neq","v":"disconnect","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":530.6610412597656,"y":1268.5220642089844,"wires":[["7062d76a.426fd","5a59efe3.cc82e"],["bee9f782.bd1d38"]]},{"id":"3ca32653.1df1ba","type":"inject","z":"9271b3dc.6bcd3","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":760,"wires":[["53ac6cbb.8a315c"]]},{"id":"53ac6cbb.8a315c","type":"function","z":"9271b3dc.6bcd3","name":"","func":"msg.payload = new Date().toLocaleTimeString();\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["3ec90217.280fee"]]},{"id":"94b0d043.674a1","type":"inject","z":"9271b3dc.6bcd3","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":310,"y":980,"wires":[["5b3b28b8.da3a68"]]},{"id":"21b02fb4.42b86","type":"debug","z":"9271b3dc.6bcd3","name":"output","active":true,"tosidebar":true,"console":false,"complete":"true","x":913.6666870117188,"y":899.6666488647461,"wires":[]},{"id":"9d830c5d.8ee3e","type":"function","z":"9271b3dc.6bcd3","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":706,"y":908,"wires":[["21b02fb4.42b86"]]},{"id":"5b3b28b8.da3a68","type":"function","z":"9271b3dc.6bcd3","name":"set timestamp","func":"msg.timestamp=1376763133 * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":494,"y":980,"wires":[["9d830c5d.8ee3e"]]},{"id":"115eae61.9c9542","type":"inject","z":"9271b3dc.6bcd3","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":310,"y":908,"wires":[["9d830c5d.8ee3e"]]},{"id":"25bc9c5c.160764","type":"inject","z":"9271b3dc.6bcd3","name":"","topic":"","payload":"","payloadType":"date","repeat":"420","crontab":"","once":true,"onceDelay":"","x":328,"y":114.9999771118164,"wires":[["25306ea8.86cf0a"]]},{"id":"25306ea8.86cf0a","type":"http request","z":"9271b3dc.6bcd3","name":"GET ClimaTempo Atual","method":"GET","ret":"obj","paytoqs":false,"url":"http://apiadvisor.climatempo.com.br/api/v1/weather/locale/3477/current?token=6437f1eb0ce7916ac9dcf5338023d66d","tls":"","proxy":"","authType":"","x":548,"y":114.9999771118164,"wires":[["5d0fdef6.4efaf","e0fa477f.2340d","3424f495.b8fd84"]]},{"id":"c556c163.76f9f","type":"debug","z":"9271b3dc.6bcd3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":995,"y":116.99996948242188,"wires":[]},{"id":"5d0fdef6.4efaf","type":"function","z":"9271b3dc.6bcd3","name":"","func":"var now = new Date();\nmsg.payload.update = now.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});\n\nvar msgU = { payload: msg.payload.data.humidity, topic: \"externo\"};\nvar msgT = { payload: msg.payload.data.temperature, topic: 'externo'};\n\n\nreturn [msg, msgU, msgT]","outputs":3,"noerr":0,"x":744.2000122070312,"y":112.19998931884766,"wires":[["c556c163.76f9f","6f27e993.d78a08","963a7666.2193a","7479293d.7dc56","98f1714.84d979"],["14f72a2a.b15da6"],["1a34cb61.70cd45"]]},{"id":"132524ea.ce143b","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":345.20001220703125,"y":432.20001220703125,"wires":[]},{"id":"ae75103d.f0061","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":353.20001220703125,"y":199.1999969482422,"wires":[]},{"id":"f5e750fa.b8cc9","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":429.4999542236328,"y":1324.7999114990234,"wires":[]},{"id":"ee0b30ee.7e237","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":443.1999816894531,"y":1101.199951171875,"wires":[]},{"id":"2498db88.89c654","type":"debug","z":"f91e3b4.e8602c8","name":"Status_json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":480,"wires":[]},{"id":"a9b1853d.93054","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/quarto/dht","qos":"1","broker":"25167bbc.e1295c","x":252.5,"y":2065.5,"wires":[["8d290780.deb0d","cd91ad37.f037b8"]]},{"id":"8d290780.deb0d","type":"json","z":"a76391e.e9c7d7","name":"","property":"payload","action":"","pretty":false,"x":470.3833312988281,"y":2069.3832397460938,"wires":[["241546a2.b8fea2","68726097.2191b"]]},{"id":"241546a2.b8fea2","type":"function","z":"a76391e.e9c7d7","name":"","func":"var topico = \"quarto\"     // editar para outro comodo - usado para o grafico\n\nvar msgU;\nvar msgT;\nvar dateNow = new Date();\n msg.enabled = false;\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - context.get('c_time'))/1000/60\n\n\n    if(dif_date >= 6.20){\n\n        msgU = { payload: '-', topic: topico};\n        msgT = { payload: '-', topic: topico};\n    }\n    \n} else {\n\n\nu = msg.payload.u\n    if(msg.payload.u === \"0.00\" && msg.payload.t === \"0.00\"){\n        msgU = { payload: '-', topic: topico};\n        msgT = { payload: '-', topic: topico};\n    } else {\n        msgU = { payload: msg.payload.u, topic: topico};\n        msgT = { payload: msg.payload.t, topic: topico};\n    }\n    context.set(\"c_time\", dateNow)\n\n}\n\nreturn [msgU, msgT]\n","outputs":2,"noerr":0,"x":652.38330078125,"y":2076.3832397460938,"wires":[["cf1c4267.3321c","6adc2272.18986c","b3aa79e9.81e41"],["2da905d5.7071da","8ecb88c2.a860c8","33ab044a.aa5b44","982762d.48183a"]]},{"id":"6adc2272.18986c","type":"link out","z":"a76391e.e9c7d7","name":"ape/quarto Umidade","links":["1ed5005d.402c6"],"x":855,"y":1940,"wires":[]},{"id":"8ecb88c2.a860c8","type":"link out","z":"a76391e.e9c7d7","name":"ape/quarto Temperatura","links":["fdeb77d0.025cf8"],"x":695.3833618164062,"y":2144.1332397460938,"wires":[]},{"id":"1ed5005d.402c6","type":"link in","z":"a76391e.e9c7d7","name":"Graf Umidade","links":["14f72a2a.b15da6","6adc2272.18986c","71c990fd.a7c34","8a05eae3.7ae75"],"x":930.75,"y":2295.75,"wires":[["628928a8.d58338"]]},{"id":"fdeb77d0.025cf8","type":"link in","z":"a76391e.e9c7d7","name":"Graf Temperatura","links":["1a34cb61.70cd45","8ecb88c2.a860c8","b0d70748.321e28","8d482846.e469d"],"x":940.75,"y":2357.25,"wires":[["f0c4385.a21be48"]]},{"id":"14f72a2a.b15da6","type":"link out","z":"9271b3dc.6bcd3","name":"externo Umidade","links":["1ed5005d.402c6"],"x":943.7500162124634,"y":158.75000286102295,"wires":[]},{"id":"1a34cb61.70cd45","type":"link out","z":"9271b3dc.6bcd3","name":"externo Temperatura","links":["fdeb77d0.025cf8","f89de43.ba62c18"],"x":937.6167144775391,"y":201.16675090789795,"wires":[]},{"id":"a8f3368d.3449b8","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":632.88330078125,"y":598.4833221435547,"wires":[]},{"id":"921db7ed.32fff","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":913.8832702636719,"y":1317.6833190917969,"wires":[]},{"id":"28b77a88.6c658e","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1050,"y":2093,"wires":[]},{"id":"a32d997.5e89868","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":665.88330078125,"y":189.2833251953125,"wires":[]},{"id":"c860bc31.4d1568","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":999.88330078125,"y":490.2833251953125,"wires":[]},{"id":"b3aa79e9.81e41","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'Umidade'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":912.3208618164062,"y":1995.320556640625,"wires":[["df53ee88.868aa"]]},{"id":"982762d.48183a","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'Temperatura'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":905.6209106445312,"y":2040.5706176757812,"wires":[["df53ee88.868aa"]]},{"id":"c4cfd31d.4d3488","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":166.41110229492188,"y":780.3389282226562,"wires":[["71b5dfad.cc9e78","f225fb58.fe5d58","177dd60.1314e2a","5eea68c6.bb2918"]]},{"id":"55b8d1fa.d7198","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":805.6607666015625,"y":727.8112182617188,"wires":[]},{"id":"54130ac9.545fac","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":163.466552734375,"y":716.977783203125,"wires":[["7cfdd428.8149b4","f225fb58.fe5d58"]]},{"id":"d356339a.10e71","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":754.994384765625,"y":800.2835693359375,"wires":[]},{"id":"e35080b1.5860d8","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":651.48876953125,"y":692.9556274414062,"wires":[]},{"id":"cad6ca89.d6133","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid\nape/teste\n\nlocationid/deviceid/mqttAtuadorId\nape/teste/luz1","x":239.7354278564453,"y":660.7936401367188,"wires":[]},{"id":"71b5dfad.cc9e78","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":920,"wires":[]},{"id":"8a9f9a4e.f772d","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":709.88330078125,"y":878.6832885742188,"wires":[]},{"id":"39a1ed51.1a53b2","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":656.8832702636719,"y":1041.0833435058594,"wires":[]},{"id":"5650bfb2.1d3288","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":689.88330078125,"y":282.8833312988281,"wires":[]},{"id":"226413ae.9c2f6c","type":"http request","z":"b5a5d7d1.da846","name":"Post to Pushover","method":"POST","ret":"txt","url":"https://api.pushover.net/1/messages.json","tls":"","x":595.88330078125,"y":89.88334655761719,"wires":[[]]},{"id":"1b58c71.2b18ab9","type":"function","z":"b5a5d7d1.da846","name":"","func":"msg.headers = {\n    \"content-type\": \"application/x-www-form-urlencoded\"\n};\nmsg.payload = { \n    user: 'USERKEYHERE',\n    token: 'ApplicationKeyHere',\n    message: 'MESSAGE HERE',\n    title: 'TITLE HERE',\n    priority: '-1'\n};\nreturn msg;","outputs":1,"noerr":0,"x":401.88323974609375,"y":89.54998779296875,"wires":[["226413ae.9c2f6c"]]},{"id":"99148640.dd6878","type":"http request","z":"b5a5d7d1.da846","name":"Post to Pushover","method":"POST","ret":"txt","url":"https://api.pushover.net/1/messages.json","tls":"","x":587.88330078125,"y":163.8833465576172,"wires":[[]]},{"id":"93b41206.817138","type":"function","z":"b5a5d7d1.da846","name":"","func":"msg.headers = {\n    \"content-type\": \"application/x-www-form-urlencoded\"\n};\nmsg.payload = { \n    user: 'USERKEYHERE',\n    token: 'ApplicationKeyHere',\n    message: 'MESSAGE HERE',\n    title: 'TITLE HERE',\n    priority: '-1'\n};\nreturn msg;","outputs":1,"noerr":0,"x":393.88323974609375,"y":163.54998779296875,"wires":[["99148640.dd6878"]]},{"id":"b33427bb.996048","type":"inject","z":"b5a5d7d1.da846","name":"","topic":"","payload":"teste pushover","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":234.76666259765625,"y":375.5666961669922,"wires":[["8e9e9501.a071e"]]},{"id":"2304faf5.da2cce","type":"debug","z":"f91e3b4.e8602c8","name":"Status_funcao","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1240,"y":260,"wires":[]},{"id":"533463c.66cef1c","type":"split","z":"f91e3b4.e8602c8","name":"","splt":"d ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload.teste","x":1370,"y":840,"wires":[["65abca4a.f04b54","a3e6f9a1.baca2"]]},{"id":"db32ffe6.3000a","type":"function","z":"f91e3b4.e8602c8","name":"Enable/Disable","func":"msg.payload = msg.payload.up\n\nflow.set(\"uptimeQ\", msg.payload);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1201.11669921875,"y":809.9499816894531,"wires":[["533463c.66cef1c"]]},{"id":"65abca4a.f04b54","type":"function","z":"f91e3b4.e8602c8","name":"","func":"if(msg.parts.index===0) \n{\n    if(msg.payload >= flow.get(\"lasduptimedayQ\"))\n    {\n        flow.set(\"lasduptimedayQ\", msg.payload)\n        flow.set(\"maxuptimeQ\", flow.get(\"uptimeQ\"));\n    } \n    flow.set(\"lasduptimedayQ\", msg.payload)\n\n}\n\nvar msg1 =  { payload: flow.get(\"maxuptimeQ\")};\n\nreturn [msg1, null]\n","outputs":2,"noerr":0,"x":1500.1162109375,"y":839.039306640625,"wires":[["13bef1cc.2a71c6","f8fa5d78.db2278"],[]]},{"id":"e92f77ae.19ea7","type":"function","z":"f91e3b4.e8602c8","name":"Enable/Disable","func":"msg.payload = msg.payload.up\n\nflow.set(\"uptimeV\", msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1185.6334228515625,"y":905.2666625976562,"wires":[["c9c00f82.438d08"]]},{"id":"c9c00f82.438d08","type":"split","z":"f91e3b4.e8602c8","name":"","splt":"d ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload.teste","x":1374.5167236328125,"y":911.3166809082031,"wires":[["1c1404fe.317753","2f180595.d89c72"]]},{"id":"bf0201a0.59ff2","type":"function","z":"f91e3b4.e8602c8","name":"Enable/Disable teste","func":"msg.payload = msg.payload.up\n\nflow.set(\"uptime\", msg.payload);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1145.2333984375,"y":1059.066650390625,"wires":[["cdceb8a5.99c7d"]]},{"id":"cdceb8a5.99c7d","type":"split","z":"f91e3b4.e8602c8","name":"","splt":"d ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload.teste","x":1383.5167236328125,"y":1059.316650390625,"wires":[["1ff9d802.fd0ba"]]},{"id":"1ff9d802.fd0ba","type":"function","z":"f91e3b4.e8602c8","name":"","func":"if(msg.parts.index===0) \n{\n    if(msg.payload >= flow.get(\"lasduptimeday\"))\n    {\n        flow.set(\"maxuptime\", flow.get(\"uptime\"));\n        flow.set(\"lasduptimeday\", msg.payload)\n        var msg2 = {payload: \"if ok\"};\n    } \n    \n\n}\n\nvar msg1 =  { payload: flow.get(\"maxuptime\")};\n\n\nreturn [msg1, msg2]","outputs":2,"noerr":0,"x":1544.6328735351562,"y":1045.35595703125,"wires":[["c18efbaa.7c50a8"],["3a7b043a.bae5b4"]]},{"id":"49406886.632248","type":"inject","z":"f91e3b4.e8602c8","name":"quarto","topic":"","payload":"q","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1367.7333984375,"y":680.066650390625,"wires":[["fc97b0f1.c47bc8"]]},{"id":"f8fa5d78.db2278","type":"debug","z":"f91e3b4.e8602c8","name":"if 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1728.7333374023438,"y":1060.8666381835938,"wires":[]},{"id":"fc97b0f1.c47bc8","type":"function","z":"f91e3b4.e8602c8","name":"","func":"if (msg.payload ===\"q\")\n{\n\n    flow.set(\"maxuptimeQ\", '0d0');\n    flow.set(\"lasduptimedayQ\", 1)\n    var msg1 = {payload : \"0\"};  \n    return [msg1, null, null]\n\n} \nelse if (msg.payload === \"v\")\n{\n    flow.set(\"maxuptimeV\", '5d00:00');\n    flow.set(\"lasduptimedayV\", 5)\n    var msg1 = {payload : \"0\"};  \n    return [null, msg1, null]\n}\n\nelse if (msg.payload === \"p\")\n{\n    flow.set(\"maxuptime\", '0d0');\n    flow.set(\"lasduptimeday\", 1)\n    var msg1 = {payload : \"0\"};  \n    \n    return [null, null, msg1]\n}","outputs":3,"noerr":0,"x":1518.2834014892578,"y":722.7166290283203,"wires":[["533463c.66cef1c"],["c9c00f82.438d08"],["cdceb8a5.99c7d"]]},{"id":"29b3f681.1e529a","type":"inject","z":"f91e3b4.e8602c8","name":"varanda","topic":"","payload":"v","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1361.0333862304688,"y":713.2666625976562,"wires":[["fc97b0f1.c47bc8"]]},{"id":"e09131c1.f7d8d","type":"inject","z":"f91e3b4.e8602c8","name":"protoboard","topic":"","payload":"p","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1364.0333862304688,"y":750.2666625976562,"wires":[["fc97b0f1.c47bc8"]]},{"id":"a3e6f9a1.baca2","type":"debug","z":"f91e3b4.e8602c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1528.2333374023438,"y":1108.2666625976562,"wires":[]},{"id":"3a7b043a.bae5b4","type":"debug","z":"f91e3b4.e8602c8","name":"if 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1727.8333129882812,"y":1099.2666625976562,"wires":[]},{"id":"9ece1ae5.5173b","type":"debug","z":"f91e3b4.e8602c8","name":"V if 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1711.4332885742188,"y":950.2666625976562,"wires":[]},{"id":"1c1404fe.317753","type":"debug","z":"f91e3b4.e8602c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1535.433349609375,"y":969.2666625976562,"wires":[]},{"id":"2f180595.d89c72","type":"function","z":"f91e3b4.e8602c8","name":"","func":"if(msg.parts.index===0) \n{\n    if(msg.payload >= flow.get(\"lasduptimedayQ\"))\n    {\n        flow.set(\"lasduptimedayV\", msg.payload)\n        flow.set(\"maxuptimeV\", flow.get(\"uptimeV\"));\n    } \n    flow.set(\"lasduptimedayV\", msg.payload)\n\n}\n\nvar msg1 =  { payload: flow.get(\"maxuptimeV\")};\n\nreturn [msg1, null]\n","outputs":2,"noerr":0,"x":1513.433349609375,"y":903.2666625976562,"wires":[["3b4ffdc9.37fa2a","9ece1ae5.5173b"],[]]},{"id":"776aad44.3dc9b4","type":"mui_text","z":"21cbdefc.178002","group":"c549513f.15f8e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":672.5,"y":3128,"wires":[]},{"id":"fc1d6ceb.e75ca","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"9e57a1d8.021468","order":1,"width":"2","height":"1","passthru":false,"label":"Luz","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/quarto/luz/change","x":685.222412109375,"y":328.7222900390625,"wires":[["f9699e28.21df48"]]},{"id":"d8a3edb3.7d80d8","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"2d6291f0.c96026","order":1,"width":"2","height":"1","passthru":false,"label":"Luz","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/varanda/luz/change","x":655.0499572753906,"y":1144.7999267578125,"wires":[["aa42fc6f.a15d98"]]},{"id":"e82d48e7.dce51","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":7,"width":"2","height":"1","passthru":false,"label":"Varanda","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/varanda/luz/change","x":673.8832702636719,"y":1077.0833129882812,"wires":[["aa42fc6f.a15d98"]]},{"id":"c2898b7e.605468","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":1,"width":"2","height":"1","passthru":false,"label":"Quarto","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/quarto/luz/change","x":669.88330078125,"y":231.88333129882812,"wires":[["f9699e28.21df48"]]},{"id":"b62a2579.b3a798","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"aabedb75.31173","order":1,"width":"2","height":"1","passthru":false,"label":"Luz","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/teste/luz/change","x":645.88330078125,"y":727.2833251953125,"wires":[["55b8d1fa.d7198"]]},{"id":"519af793.6248c","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":4,"width":"2","height":"1","passthru":false,"label":"Proto","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/teste/luz/change","x":642.88330078125,"y":633.2833099365234,"wires":[["55b8d1fa.d7198"]]},{"id":"3d605702.17ad88","type":"ui_text","z":"a76391e.e9c7d7","group":"9e57a1d8.021468","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":947.7223510742188,"y":448.3333435058594,"wires":[]},{"id":"7062d76a.426fd","type":"ui_text","z":"a76391e.e9c7d7","group":"2d6291f0.c96026","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":822.8833312988281,"y":1278.0773620605469,"wires":[]},{"id":"3ec90217.280fee","type":"ui_text","z":"9271b3dc.6bcd3","group":"569e3243.8d0fd4","order":1,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":760,"wires":[]},{"id":"cf1c4267.3321c","type":"ui_text","z":"a76391e.e9c7d7","group":"9e57a1d8.021468","order":4,"width":"2","height":"1","name":"","label":"Umidade","format":"{{msg.payload | number:1}} %","layout":"col-center","x":900,"y":2080,"wires":[]},{"id":"2da905d5.7071da","type":"ui_text","z":"a76391e.e9c7d7","group":"9e57a1d8.021468","order":3,"width":"2","height":"1","name":"","label":"Temperatura","format":"{{msg.payload | number:1}} °C ","layout":"col-center","x":910,"y":2160,"wires":[]},{"id":"5a59efe3.cc82e","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":8,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":914.8832702636719,"y":1351.0833129882812,"wires":[]},{"id":"33ab044a.aa5b44","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":3,"width":"2","height":"1","name":"","label":"Temperatura","format":"{{msg.payload | number:1}} °C ","layout":"col-center","x":1050,"y":2120,"wires":[]},{"id":"8b95da79.3073f8","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":981.88330078125,"y":525.8833618164062,"wires":[]},{"id":"b77d1915.afe938","type":"ui_text","z":"a76391e.e9c7d7","group":"aabedb75.31173","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":772.7166748046875,"y":835.560791015625,"wires":[]},{"id":"743fed93.2e56cc","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":5,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":716.88330078125,"y":913.2833251953125,"wires":[]},{"id":"be4d59f3.aeba5","type":"ui_template","z":"f91e3b4.e8602c8","group":"6825085.446fbf8","name":"ape/teste","order":1,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n\n\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n    <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n  <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1230.11669921875,"y":356.1166687011719,"wires":[[]]},{"id":"c6c618fb.817158","type":"ui_template","z":"f91e3b4.e8602c8","group":"4c24412b.903b68","name":"ape/quarto","order":1,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n    <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1221.5501708984375,"y":323.3777313232422,"wires":[[]]},{"id":"1cd8af6c.4d4021","type":"ui_template","z":"f91e3b4.e8602c8","group":"ac46c281.0280d","name":"Ape/Varanda","order":1,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1246.9500732421875,"y":396.727783203125,"wires":[[]]},{"id":"6f27e993.d78a08","type":"ui_template","z":"9271b3dc.6bcd3","group":"f1141f30.52cc78","name":"HTML Temperatura","order":2,"width":"4","height":"3","format":"<table border=0 cellspacing=\"1\">\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n           <font size=\"3\">{{msg.payload.name}} - {{msg.payload.state}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td>\n            <img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data.icon}}.png width=\"55\" height=\"55\">\n        </td>\n        <th>\n            <font size=\"7\">{{msg.payload.data.temperature}}°</font>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>    \n        </th>\n        <!---\n        <th align='bottom'>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>\n        </th>  -->\n    </tr>\n    <tr>\n        <td  align='center' COLSPAN=\"3\">\n            <font size=\"3\">{{msg.payload.data.condition}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n            <font size=\"2\">Update {{msg.payload.update}}</font>\n        </td>\n    </tr>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":950,"y":40,"wires":[[]]},{"id":"963a7666.2193a","type":"ui_template","z":"9271b3dc.6bcd3","group":"a095bd78.a8514","name":"HTML Temperatura","order":16,"width":"6","height":"3","format":"<center>\n<table border=0 cellspacing=\"1\">\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n           <font size=\"3\">{{msg.payload.name}} - {{msg.payload.state}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td>\n            <img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data.icon}}.png width=\"55\" height=\"55\">\n        </td>\n        <th>\n            <font size=\"7\">{{msg.payload.data.temperature}}°</font>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>    \n        </th>\n        <!---\n        <th align='bottom'>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>\n        </th>  -->\n    </tr>\n    <tr>\n        <td  align='center' COLSPAN=\"3\">\n            <font size=\"3\">{{msg.payload.data.condition}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n            <font size=\"2\">Update {{msg.payload.update}}</font>\n        </td>\n    </tr>\n</table>\n</center>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":950,"y":80,"wires":[[]]},{"id":"3b4ffdc9.37fa2a","type":"ui_template","z":"f91e3b4.e8602c8","group":"ac46c281.0280d","name":"uptimevaranda","order":2,"width":"4","height":"1","format":"{{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1708.2834014892578,"y":902.7166290283203,"wires":[[]]},{"id":"c18efbaa.7c50a8","type":"ui_template","z":"f91e3b4.e8602c8","group":"6825085.446fbf8","name":"uptimeteste","order":2,"width":"4","height":"1","format":"{{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1763.7500610351562,"y":1014.5833740234375,"wires":[[]]},{"id":"13bef1cc.2a71c6","type":"ui_template","z":"f91e3b4.e8602c8","group":"4c24412b.903b68","name":"uptimequarto","order":2,"width":"4","height":"1","format":"{{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1728.2834014892578,"y":822.7166290283203,"wires":[[]]},{"id":"df53ee88.868aa","type":"ui_chart","z":"a76391e.e9c7d7","name":"","group":"f2318c1f.4bc28","order":3,"width":0,"height":0,"label":"Quarto","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62727","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":2020,"wires":[[]]},{"id":"628928a8.d58338","type":"ui_chart","z":"a76391e.e9c7d7","name":"","group":"f2318c1f.4bc28","order":2,"width":0,"height":0,"label":"TUmid 1D","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62727","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1082.38330078125,"y":2297.38330078125,"wires":[[]]},{"id":"f0c4385.a21be48","type":"ui_chart","z":"a76391e.e9c7d7","name":"","group":"f2318c1f.4bc28","order":1,"width":"0","height":"0","label":"TTemp 1D","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62727","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1078.38330078125,"y":2360.38330078125,"wires":[[],[]]},{"id":"8e9e9501.a071e","type":"pushover","z":"b5a5d7d1.da846","name":"nome","device":"","title":"teste","priority":0,"sound":"","url":"url","url_title":"url title","html":false,"x":467.2666320800781,"y":374.30006408691406,"wires":[]},{"id":"6ef8fd66.c1806c","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Varanda","priority":0,"sound":"","url":"","url_title":"","html":false,"x":685.2666015625,"y":1201.2999267578125,"wires":[]},{"id":"386cacaf.09bb7c","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Quarto","priority":0,"sound":"","url":"","url_title":"","html":false,"x":640,"y":400,"wires":[]},{"id":"a574d234.95ef28","type":"mqtt in","z":"21cbdefc.178002","name":"disconect","topic":"$SYS/+/disconnect/clients","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":106.54391479492188,"y":320.09649658203125,"wires":[[]]},{"id":"7cfdd428.8149b4","type":"debug","z":"a76391e.e9c7d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":428,"y":655,"wires":[]},{"id":"dfd54299.7b2ee","type":"function","z":"f91e3b4.e8602c8","name":"Salva_variaveis","func":"/* salva os status de ip e versao da msg para replicar na desconexão */\n\nmsg.payload.date = new Date() //substituindo o insert timestamp, \n\nvar count = flow.get('f_count')||0;\nvar count1 = count\nvar device_id_num = \"NOK\"\n\n\nfor (var x = 0; x <= count; x++){\n    if(count === 0){\n        flow.set(\"f_device[\"+x+\"]\" ,msg.payload.device)\n //       node.warn(\"c===0 f_device[\"+count+\"] agora = \"+ flow.get(\"f_device[\"+x+\"]\"))\n        count++\n        flow.set(\"f_count\", count)\n        device_id_num = x\n        break; \n    }\n\n    if (flow.get(\"f_device[\"+x+\"]\") === msg.payload.device){\n//        node.warn(\"device existe\")\n        device_id_num = x\n        break; \n    }\n}\n\nif(msg.payload.status === \"green\"){\n    if(device_id_num === \"NOK\"){\n        flow.set(\"f_device[\"+count+\"]\",msg.payload.device)\n    //    node.warn(\"else f_device[\"+count+\"] agora = \"+msg.payload.device)\n        count++\n        flow.set(\"f_count\", count)\n        flow.set(\"f_versao[\"+count+\"]\",msg.payload.ver)\n        flow.set(\"f_ip[\"+count+\"]\",msg.payload.ip)\n    } else {\n        flow.set(\"f_versao[\"+device_id_num+\"]\",msg.payload.ver)\n        flow.set(\"f_ip[\"+device_id_num+\"]\",msg.payload.ip)\n    }\n} else {\n    msg.payload.ver = flow.get(\"f_versao[\"+device_id_num+\"]\")\n    msg.payload.ip = flow.get(\"f_ip[\"+device_id_num+\"]\")\n}\n\n\nreturn msg\n","outputs":1,"noerr":0,"x":820,"y":380,"wires":[["16e97787.987ea"]]},{"id":"a6a54020.acf4a8","type":"comment","z":"f91e3b4.e8602c8","name":"analizar a necessidade desses modulos","info":"desconectado em 29/02/2020","x":1340,"y":640,"wires":[]},{"id":"4e035ba8.041e2c","type":"ui_template","z":"f91e3b4.e8602c8","group":"ac46c281.0280d","name":"","order":3,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1239,"y":482,"wires":[[]]},{"id":"cd91ad37.f037b8","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":2140,"wires":[]},{"id":"e18ee662.91e23","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"","payload":"{\"u\":\"66.00\",\"t\":\"25.90\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":237,"y":1961.5,"wires":[["8d290780.deb0d"]]},{"id":"1324885e.ebb188","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topico","info":"Alterar variavel topico\n","x":650.5,"y":2040.5,"wires":[]},{"id":"532cb6e9.e8063","type":"inject","z":"a76391e.e9c7d7","name":"input 5 min","topic":"","payload":"input","payloadType":"str","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":59,"wires":[["753e508a.6a4198"]]},{"id":"a94dad99.0b4dc8","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Proto","priority":0,"sound":"","url":"","url_title":"","html":false,"x":553,"y":815,"wires":[]},{"id":"753e508a.6a4198","type":"link out","z":"a76391e.e9c7d7","name":"input 5 min","links":["3068bc62.c6716c","7e9d680b.6bb33","c5d6c6c6.30f91","ef7935ef.06f7","d2df8a81.a5a66"],"x":322.75,"y":57.75,"wires":[],"l":true},{"id":"3068bc62.c6716c","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":236.75,"y":587.75,"wires":[[]],"l":true,"info":"5 min\n"},{"id":"7e9d680b.6bb33","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":254.75,"y":1048.75,"wires":[["cd9caf0b.942bf"]],"l":true,"info":"5 min\n"},{"id":"c5d6c6c6.30f91","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":481.25,"y":2007.25,"wires":[["241546a2.b8fea2"]],"l":true,"info":"5 min\n"},{"id":"8ed161c8.61a928","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/corredor/luz","topic":"ape/corredor/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":239.25,"y":2687.25,"wires":[["fc573498.091fc"]]},{"id":"91474260.79cbb8","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":1131.0555419921875,"y":2536.055419921875,"wires":[]},{"id":"964020a3.c460d8","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/corredor","topic":"ape/corredor","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":242.30548095703125,"y":2638.888916015625,"wires":[["fc573498.091fc"]]},{"id":"4489327a.655d6c","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":242.58319091796875,"y":2588.8888549804688,"wires":[]},{"id":"c71cd2a3.992ba8","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":962.1608581542969,"y":2470.0888061523438,"wires":[]},{"id":"23a4b4b0.3c9f1c","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1280.910888671875,"y":2458.0888671875,"wires":[]},{"id":"8b481cb2.a70bf","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":986.1608581542969,"y":2563.6888122558594,"wires":[]},{"id":"ba821ad3.c1a578","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"7ac0c575.b52f2c","order":5,"width":"2","height":"1","passthru":false,"label":"LuzN","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz/change","x":983.4999694824219,"y":2604.5277709960938,"wires":[["91474260.79cbb8"]]},{"id":"44755e7c.7d3a6","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":17,"width":"2","height":"1","passthru":false,"label":"CorredN","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz/change","x":992.1608581542969,"y":2502.6888122558594,"wires":[["91474260.79cbb8"]]},{"id":"fe0245c2.c83c6","type":"ui_text","z":"a76391e.e9c7d7","group":"7ac0c575.b52f2c","order":6,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1273,"y":2589.8888549804688,"wires":[]},{"id":"78e967da.aee66","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":18,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1280.910888671875,"y":2492.68896484375,"wires":[]},{"id":"9a8c76d9.ad5728","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Quarto","priority":0,"sound":"","url":"","url_title":"","html":false,"x":663.277587890625,"y":2774.805419921875,"wires":[]},{"id":"43dbbfdc.1e1dd8","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/corredor/luz1","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":228.25,"y":2898.25,"wires":[["fc573498.091fc","13e6b956.8ea12f"]]},{"id":"a65a704.68c8b1","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":1188.8055419921875,"y":2833.5557250976562,"wires":[]},{"id":"b0c90330.7b2dd8","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/corredor","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":226.30548095703125,"y":2840.888916015625,"wires":[["fc573498.091fc","ba53fd09.24f01"]]},{"id":"608feef3.48cad8","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":226.58319091796875,"y":2790.8888549804688,"wires":[]},{"id":"83a2c660.a4cc5","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1035.160888671875,"y":2753.0889282226562,"wires":[]},{"id":"292a8d2d.0e3b92","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1343.6610107421875,"y":2770.0889282226562,"wires":[]},{"id":"549fb3be.970b5c","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1059.160888671875,"y":2846.688934326172,"wires":[]},{"id":"c3b9b15f.49389","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"7ac0c575.b52f2c","order":7,"width":"2","height":"1","passthru":false,"label":"LuzN","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz1/change","x":1056.5,"y":2887.5278930664062,"wires":[["a65a704.68c8b1"]]},{"id":"4f455581.b0b6bc","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":20,"width":"2","height":"1","passthru":false,"label":"SalaN","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz1/change","x":1045.160888671875,"y":2785.688934326172,"wires":[["a65a704.68c8b1"]]},{"id":"38382f6f.672578","type":"ui_text","z":"a76391e.e9c7d7","group":"7ac0c575.b52f2c","order":8,"width":"2","height":"1","name":"TextL","label":"","format":"{{msg.payload}}","layout":"row-center","x":1337.5,"y":2881.8890380859375,"wires":[]},{"id":"ab32ba8d.141ab8","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":21,"width":"2","height":"1","name":"TextS","label":"","format":"{{msg.payload}}","layout":"row-center","x":1339.6610107421875,"y":2800.6890258789062,"wires":[]},{"id":"f225fb58.fe5d58","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable new","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\"\n        msg.enabled = true\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\"\n            msg.enabled = true\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\"\n                msg.enabled = false\n                context.set(\"c_time\", dateNow)\n                context.set(\"c_envia_pushover\", \"sim\")\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":416.75,"y":742.75,"wires":[["519af793.6248c","b77d1915.afe938","743fed93.2e56cc","b62a2579.b3a798"],["a94dad99.0b4dc8"]]},{"id":"f28f4d06.56c858","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/luz","payload":"disconnect","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":139.86666870117188,"y":626.75,"wires":[["f225fb58.fe5d58"]]},{"id":"1f0f4697.f059f9","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable new","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\"\n        msg.enabled = true\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\"\n            msg.enabled = true\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\"\n                msg.enabled = false\n                context.set(\"c_time\", dateNow)\n                context.set(\"c_envia_pushover\", \"sim\")\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":409.75,"y":285.75,"wires":[["c2898b7e.605468","fc1d6ceb.e75ca","3d605702.17ad88","8b95da79.3073f8"],["386cacaf.09bb7c"]]},{"id":"ef7935ef.06f7","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":143.75,"y":183.75,"wires":[["1f0f4697.f059f9"]],"l":true,"info":"5 min\n"},{"id":"e156b5f5.5b435","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":940.75,"y":406.75,"wires":[]},{"id":"fc573498.091fc","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable new","func":"var msg1 = msg;\nvar msg2;\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover');\nvar old_time = context.get('c_time') || 0;\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60;\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\");\n        }\n    }\n\n    return [null, msg2];\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\";\n        msg.enabled = true;\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\";\n            msg.enabled = true;\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\";\n                msg.enabled = false;\n                context.set(\"c_time\", dateNow);\n                context.set(\"c_envia_pushover\", \"sim\");\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":481.25,"y":2691.25,"wires":[["6495f133.fbfa18","9196b31e.edcac8"],["9a8c76d9.ad5728"]]},{"id":"9b194f18.2516a","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":1277.2500915527344,"y":2548.000030517578,"wires":[]},{"id":"8022df77.b7ead8","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/corredor/luz","topic":"ape/corredor/luz","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":327.3929138183594,"y":3326.2504272460938,"wires":[["809d4a29.ab71d"]]},{"id":"118b70a3.2dcd87","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":1183.1984252929688,"y":3292.055938720703,"wires":[]},{"id":"d558108f.117978","type":"mqtt in","z":"a76391e.e9c7d7","name":"ape/corredor","topic":"ape/corredor","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":325.4483947753906,"y":3241.8893432617188,"wires":[["809d4a29.ab71d"]]},{"id":"144aff4c.6f9b41","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":325.7261047363281,"y":3191.8892822265625,"wires":[]},{"id":"f62bd9d6.d4cb6","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":508.6204833984375,"y":3397.0059204101562,"wires":[]},{"id":"4a086819.16b65","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":496.6204833984375,"y":3164.005905151367,"wires":[]},{"id":"adacd552.186c6","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":944.3037719726562,"y":3156.0892333984375,"wires":[]},{"id":"56e6d437.0d0b2c","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1025.3038024902344,"y":3432.08935546875,"wires":[]},{"id":"5099cc8a.e6e454","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":968.3037719726562,"y":3249.689239501953,"wires":[]},{"id":"4055354d.13ba1c","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"7ac0c575.b52f2c","order":1,"width":"2","height":"1","passthru":false,"label":"Luz","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz/change","x":965.6428833007812,"y":3290.5281982421875,"wires":[["118b70a3.2dcd87"]]},{"id":"2d01e2e5.e0f3ae","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":10,"width":"2","height":"1","passthru":false,"label":"Corredor","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz/change","x":964.3037719726562,"y":3188.689239501953,"wires":[["118b70a3.2dcd87"]]},{"id":"6322e62a.b10b4","type":"ui_text","z":"a76391e.e9c7d7","group":"7ac0c575.b52f2c","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":973.1428527832031,"y":3390.139373779297,"wires":[]},{"id":"ac150ae3.32f708","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":11,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1007.3038024902344,"y":3467.6893920898438,"wires":[]},{"id":"6f25499d.7ef37","type":"pushover","z":"a76391e.e9c7d7","name":"","device":"","title":"Quarto","priority":0,"sound":"","url":"","url_title":"","html":false,"x":746.4205017089844,"y":3377.8058471679688,"wires":[]},{"id":"3008cb38.7f2f34","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/corredor/luz1","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":288.3929138183594,"y":3754.2504272460938,"wires":[["b6c80a2f.847ae8","7838a611.2dc32","e4b38828.94dd5"]]},{"id":"9465b069.494b3","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":1009.1984252929688,"y":3718.055938720703,"wires":[]},{"id":"c08aa125.90f7a","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"disconnect","fromt":"str","to":"disconnect","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":873.3927612304688,"y":3887.1114196777344,"wires":[["d9c5a61d.ce7da","98e95b68.4d1068"]]},{"id":"7838a611.2dc32","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\n\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n\n    if(msg.payload === \"disconnect\"){\n        msg1.enabled = false;\n        context.set(\"c_time\", dateNow)\n        context.set(\"c_envia_pushover\", \"sim\")\n    } else {\n        msg1.enabled = true;\n    }\n\n}\n\n\nreturn [msg1, null]","outputs":2,"noerr":0,"x":543.115234375,"y":3694.8893432617188,"wires":[["d43a4346.b9054","b6c80a2f.847ae8","5c02e334.067edc"],[]]},{"id":"36986ee4.3bbf22","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/corredor","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":286.4483947753906,"y":3669.8893432617188,"wires":[["7838a611.2dc32","6ddec6c8.cbf93"]]},{"id":"b6c80a2f.847ae8","type":"switch","z":"a76391e.e9c7d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disconnect","vt":"str"},{"t":"neq","v":"disconnect","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":708.3928527832031,"y":3845.44482421875,"wires":[["d9c5a61d.ce7da","98e95b68.4d1068"],["c08aa125.90f7a"]]},{"id":"72d86df8.667d8c","type":"comment","z":"a76391e.e9c7d7","name":"Alterar","info":"","x":286.7261047363281,"y":3619.8892822265625,"wires":[]},{"id":"e4b38828.94dd5","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":469.6204833984375,"y":3825.0059204101562,"wires":[]},{"id":"6ddec6c8.cbf93","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":457.6204833984375,"y":3592.005905151367,"wires":[]},{"id":"97a71580.d01c38","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":770.3037719726562,"y":3582.0892333984375,"wires":[]},{"id":"83b97352.b34a58","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1104.3037719726562,"y":3883.0892333984375,"wires":[]},{"id":"2a29e366.0e9384","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":794.3037719726562,"y":3675.689239501953,"wires":[]},{"id":"d43a4346.b9054","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"7ac0c575.b52f2c","order":3,"width":"2","height":"1","passthru":false,"label":"Luz","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz1/change","x":791.6428833007812,"y":3716.5281982421875,"wires":[["9465b069.494b3"]]},{"id":"5c02e334.067edc","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"a095bd78.a8514","order":13,"width":"2","height":"1","passthru":false,"label":"Sala","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"change","payloadType":"str","topic":"ape/corredor/luz1/change","x":780.3037719726562,"y":3614.689239501953,"wires":[["9465b069.494b3"]]},{"id":"d9c5a61d.ce7da","type":"ui_text","z":"a76391e.e9c7d7","group":"7ac0c575.b52f2c","order":4,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1052.142822265625,"y":3841.1392517089844,"wires":[]},{"id":"98e95b68.4d1068","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":14,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1086.3037719726562,"y":3918.6892700195312,"wires":[]},{"id":"809d4a29.ab71d","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable new","func":"var msg1 = msg\nvar msg2\nvar dateNow = new Date();\nenvia_pushover = context.get('c_envia_pushover')\nvar old_time = context.get('c_time') || 0\n\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - old_time)/1000/60\n    if(context.get('c_envia_pushover') === \"sim\"){\n        if(dif_date >= 6.20){\n            msg2 = { payload:\"disconected\"};\n            context.set(\"c_envia_pushover\", \"não\")\n        }\n    }\n\n    return [null, msg2]\n    \n} else {\n\n    if(msg.payload === \"on\"){\n        msg.payload = \"Ligado\"\n        msg.enabled = true\n    } else {\n        if(msg.payload === \"off\"){\n            msg.payload = \"Desligado\"\n            msg.enabled = true\n        } else {\n            if(msg.payload === \"disconnect\"){\n                msg.payload = \"Disconectado\"\n                msg.enabled = false\n                context.set(\"c_time\", dateNow)\n                context.set(\"c_envia_pushover\", \"sim\")\n            }\n            \n        }\n    }\n}\n\nreturn [msg1, null]\n\n","outputs":2,"noerr":0,"x":594.3929138183594,"y":3295.2504272460938,"wires":[["2d01e2e5.e0f3ae","4055354d.13ba1c","6322e62a.b10b4","ac150ae3.32f708"],["6f25499d.7ef37"]]},{"id":"3bcdde90.996fb2","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":977.3929443359375,"y":3348.2505493164062,"wires":[]},{"id":"6495f133.fbfa18","type":"function","z":"a76391e.e9c7d7","name":"","func":"var msg1 = msg\n\nif(msg.payload === \"Disconectado\"){\n    return[msg1, msg1]\n}\n\nif(msg.topic === \"ape/corredor/luz\") {\n    return [msg1, null]\n} else {\n    if(msg.topic === \"ape/corredor/luz1\") {\n        return [null, msg1]\n    } \n}\n\n","outputs":2,"noerr":0,"x":730.25,"y":2683.25,"wires":[["44755e7c.7d3a6","ba821ad3.c1a578","fe0245c2.c83c6","78e967da.aee66","379a3354.bd232c"],["4f455581.b0b6bc","c3b9b15f.49389","38382f6f.672578","ab32ba8d.141ab8","bb22731.57fca9"]]},{"id":"5ee01c2.673cfe4","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":1338.25,"y":2843.0001220703125,"wires":[]},{"id":"379a3354.bd232c","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":772.625,"y":2516.75,"wires":[]},{"id":"9196b31e.edcac8","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":568.25,"y":2580.5,"wires":[]},{"id":"364b7497.ddb84c","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/dht","qos":"1","datatype":"auto","broker":"25167bbc.e1295c","x":222.87493896484375,"y":1641.125,"wires":[["a5285041.cb554","9f6df1e9.968fe8"]]},{"id":"a5285041.cb554","type":"json","z":"a76391e.e9c7d7","name":"","property":"payload","action":"","pretty":false,"x":440.7582702636719,"y":1645.0082397460938,"wires":[["b84dee9e.a51888","8d6f7259.56811"]]},{"id":"b84dee9e.a51888","type":"function","z":"a76391e.e9c7d7","name":"","func":"var topico = \"teste\"     // editar para outro comodo\n\nvar msgU;\nvar msgT;\nvar dateNow = new Date();\n msg.enabled = false;\nif(msg.payload === \"input\") {\n\n    dif_date = (dateNow - context.get('c_time'))/1000/60\n\n\n    if(dif_date >= 6.20){\n\n        msgU = { payload: '-', topic: topico};\n        msgT = { payload: '-', topic: topico};\n    }\n    \n} else {\n\n\nu = msg.payload.u\n    if(msg.payload.u === \"0.00\" && msg.payload.t === \"0.00\"){\n        msgU = { payload: '-', topic: topico};\n        msgT = { payload: '-', topic: topico};\n    } else {\n        msgU = { payload: msg.payload.u, topic: topico};\n        msgT = { payload: msg.payload.t, topic: topico};\n    }\n    context.set(\"c_time\", dateNow)\n\n}\n\nreturn [msgU, msgT]\n","outputs":2,"noerr":0,"x":622.7582397460938,"y":1652.0082397460938,"wires":[["8110a01.b1fe66","4ca40599.696c9c","8a05eae3.7ae75"],["daa936e1.495f28","d4880c7d.f1f938","e053bc58.fb443","e1d1067e.06c9e","8d482846.e469d"]]},{"id":"bcd1ea62.d6f788","type":"comment","z":"a76391e.e9c7d7","name":"View Celular","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":1027.5082397460938,"y":1648.8084106445312,"wires":[]},{"id":"4ca40599.696c9c","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'Umidade'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":882.69580078125,"y":1570.945556640625,"wires":[["67a173d9.cdc574"]]},{"id":"e053bc58.fb443","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'Temperatura'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":875.995849609375,"y":1616.1956176757812,"wires":[["67a173d9.cdc574"]]},{"id":"8110a01.b1fe66","type":"ui_text","z":"a76391e.e9c7d7","group":"aabedb75.31173","order":6,"width":"2","height":"1","name":"","label":"Umidd","format":"{{msg.payload | number:1}} %","layout":"col-center","x":807.75830078125,"y":1699.2583618164062,"wires":[]},{"id":"daa936e1.495f28","type":"ui_text","z":"a76391e.e9c7d7","group":"aabedb75.31173","order":5,"width":"2","height":"1","name":"","label":"Temp","format":"{{msg.payload | number:1}} °C ","layout":"col-center","x":800.9915771484375,"y":1737.5194702148438,"wires":[]},{"id":"d4880c7d.f1f938","type":"ui_text","z":"a76391e.e9c7d7","group":"a095bd78.a8514","order":6,"width":"2","height":"1","name":"","label":"Temperatura","format":"{{msg.payload | number:1}} °C ","layout":"col-center","x":1031.0079956054688,"y":1684.3584594726562,"wires":[]},{"id":"67a173d9.cdc574","type":"ui_chart","z":"a76391e.e9c7d7","name":"","group":"f2318c1f.4bc28","order":3,"width":0,"height":0,"label":"Proto","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62727","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1098.4790649414062,"y":1581.479248046875,"wires":[[]]},{"id":"e1d1067e.06c9e","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1520,"wires":[]},{"id":"9f6df1e9.968fe8","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":372.87493896484375,"y":1801.125,"wires":[]},{"id":"1b8b722.8aa7d0e","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"","payload":"{\"u\":\"66.00\",\"t\":\"25.90\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":207.37493896484375,"y":1537.125,"wires":[["a5285041.cb554"]]},{"id":"64e7da92.dda194","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topico","info":"Alterar variavel topico\n","x":620.8749389648438,"y":1616.125,"wires":[]},{"id":"d2df8a81.a5a66","type":"link in","z":"a76391e.e9c7d7","name":"input 5 min","links":["753e508a.6a4198"],"x":451.62493896484375,"y":1582.875,"wires":[["b84dee9e.a51888"]],"l":true,"info":"5 min\n"},{"id":"8a05eae3.7ae75","type":"link out","z":"a76391e.e9c7d7","name":"ape/quarto Umidade","links":["1ed5005d.402c6"],"x":731.7499389648438,"y":1538.75,"wires":[]},{"id":"8d482846.e469d","type":"link out","z":"a76391e.e9c7d7","name":"ape/quarto Temperatura","links":["fdeb77d0.025cf8"],"x":693.7499389648438,"y":1759.75,"wires":[]},{"id":"bb22731.57fca9","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":819.75,"y":2906.25,"wires":[]},{"id":"5f06db6b.b1cbbc","type":"ui_template","z":"f91e3b4.e8602c8","group":"4c24412b.903b68","name":"ape/corredor","order":3,"width":"4","height":"4","format":"<svg width=\"180\" height=\"35\">\n    \n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\"\n            style=\"stroke: none; fill: {{msg.payload.status}}\"/>\n    <text font-size=\"18px\" font-weight=\"bold\" \n            x=\"48\" y=\"25\"  fill=\"white\">{{msg.payload.device}}</text>\n</svg>\n<table width=180px>\n\n  <tr>\n    <td>IP</td>\n     <td align=\"right\"><B>{{msg.payload.ip}}</B></td>\n  </tr>\n  <tr>\n    <td>UpTime</td>\n    <td align=\"right\"><B>{{msg.payload.up}}</B></td>\n  </tr>\n  <tr>\n    <td>Reset</td>\n    <td align=\"right\"><B>{{msg.payload.reset}}</B></td>\n  </tr>\n    <tr>\n    <td>Versao</td>\n    <td align=\"right\"><B>{{msg.payload.ver}}</B></td>\n  </tr>\n  <tr>\n    <td>UpDate</td>\n    <td align=\"right\"><B>{{msg.payload.date | date:'dd/MM - HH:mm'}}</B></td>\n  </tr>\n</table>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1247.75,"y":433.75,"wires":[[]]},{"id":"14409f30.543669","type":"inject","z":"b5a5d7d1.da846","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":740,"wires":[["80277fb0.3086a"]]},{"id":"45eccb9f.09ab44","type":"inject","z":"b5a5d7d1.da846","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":640,"wires":[["32273396.c12a24","e2a75054.bcec5"]]},{"id":"32273396.c12a24","type":"function","z":"b5a5d7d1.da846","name":"calcular tempo de luz acessa","func":"var now = new Date();   // current time\n\n\ndaynow = now.getDate()\n\n//msg.daynow = daynow\nmsg.timestamp = now\n\nif (msg.payload == 1)\n{\n    flow.set(\"teste_time\", now)\n} else {\n    msg.diferenca = (now - flow.get(\"teste_time\"))/1000/60\n\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":540,"y":680,"wires":[["9314ff2f.99f1a8"]]},{"id":"9314ff2f.99f1a8","type":"debug","z":"b5a5d7d1.da846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":680,"wires":[]},{"id":"13e6b956.8ea12f","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":2900,"wires":[]},{"id":"ba53fd09.24f01","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":2840,"wires":[]},{"id":"b9f0b136.b418e","type":"inject","z":"b5a5d7d1.da846","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":920,"wires":[["2baa0e70.55fb0a"]]},{"id":"11cd71a.a76230e","type":"debug","z":"b5a5d7d1.da846","name":"output","active":false,"console":"false","complete":"true","x":842,"y":848,"wires":[]},{"id":"b27f32c6.8b2af","type":"function","z":"b5a5d7d1.da846","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":646,"y":848,"wires":[["11cd71a.a76230e"]]},{"id":"2baa0e70.55fb0a","type":"function","z":"b5a5d7d1.da846","name":"set timestamp","func":"//msg.timestamp=1376763133 * 1000;\n\n\n/////////////////////////////////////////////\n\n////////////////////////////////////////////\n//                      d  m SMMM\nmsg.timestamp   =   1582805105000\nmsg.timestamp2  =   1582917105000\n/*                   |\nmsg.timestamp   =   1582805105000\nmsg.timestamp2  =   1582916165000\n*/\nvar dt = new Date(msg.timestamp);\nvar dt2 = new Date(msg.timestamp2);\n\nmouthnow = dt.getMonth() + 1\nmouthnow2 = dt2.getMonth() + 1\n\nmsg.mouthnow = mouthnow\nmsg.mouthnow2 = mouthnow2\n\ndaynow = dt.getDate()\ndaynow2 = dt2.getDate()\n\nhournow = dt.getHours()\nhournow2 = dt2.getHours()\nmsg.hournow2 = hournow2\n\nminnow = dt.getMinutes()\nminnow2 = dt2.getMinutes()\nmsg.minnow2 = minnow2\n\nmsg.ligado_total_0 = 0\nmsg.ligado_total_1 =  Math.round((dt2 - dt)/1000/60)\n\nnode.warn(\"mouthnow = \\t\" + mouthnow + \"\\mouthnow2 = \\t\" + mouthnow2);\n\nif ((daynow2 > daynow) || (mouthnow2 > mouthnow)){\n\n//    msg.ligado_total_0 = (dt2 - dt)/1000/60 // - (hournow2 * 60 + minnow2)\n    msg.ligado_total_1 = Math.round((dt2 - dt)/1000/60 - (hournow2 * 60 + minnow2))\n    msg.ligado_total_2 = Math.round((hournow2 * 60) + minnow2)\n    \n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":434,"y":920,"wires":[["b27f32c6.8b2af","b12ca3d9.d21728"]]},{"id":"1914cc9a.1490e3","type":"inject","z":"b5a5d7d1.da846","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":250,"y":848,"wires":[["b27f32c6.8b2af"]]},{"id":"b12ca3d9.d21728","type":"debug","z":"b5a5d7d1.da846","name":"output","active":true,"console":"false","complete":"true","x":650,"y":920,"wires":[]},{"id":"e2a75054.bcec5","type":"debug","z":"b5a5d7d1.da846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":620,"wires":[]},{"id":"80277fb0.3086a","type":"delay","z":"b5a5d7d1.da846","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":740,"wires":[["32273396.c12a24"]]},{"id":"177dd60.1314e2a","type":"function","z":"a76391e.e9c7d7","name":"Calculo tempo aceso","func":"var now = new Date();   // current time\nvar time_on = context.get(\"time_on\") || 0 \n\n\nif (msg.payload == \"on\"){\n    if(time_on === 0){\n        context.set(\"time_on\", now)\n        node.warn(\"iniciou coleta tempo \" + now);\n    }\n} else {\n    if(time_on !== 0){\n        if (msg.payload == \"off\"){\n\n            start = context.get(\"time_on\")\n            Start_day =\t\tstart.getDate()\n            Start_month =\tstart.getMonth() + 1\n            Start_year =\tstart.getFullYear()\n            Start_hours =\tstart.getHours()\n            Start_mins =\tstart.getMinutes()\n    \n            Fim_day =\tnow.getDate()\n            Fim_month =\tnow.getMonth() + 1\n            Fim_year =\tnow.getFullYear()\n            Fim_hours =\tnow.getHours()\n            Fim_mins =\tnow.getMinutes()\n    \n            node.warn(\"finalizou coleta tempo\\ninicio = \" + context.get(\"time_on\") + \"\\nfinal =  \" + now );\n        \n            msg.tempo_ligado = Math.round((now - context.get(\"time_on\"))/1000/60)\n            msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n        \n            context.set(\"time_on\", 0)\n            \n            if ((Fim_day > Start_day) || (Fim_month > Start_month) || (Fim_year > Start_year)){\n                msg.tempo_ligado = Math.round(1440 -  ((Start_hours * 60) + Start_mins))\n                msg.tempo_ligado_1 = Math.round((Fim_hours * 60) + Fim_mins)\n                msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n                msg.dia_1 = Fim_year +\"-\"+ Fim_month +\"-\"+ Fim_day\n            }\n            \n            if (msg.tempo_ligado !== 0){\n                msg.flow_time_on1 = time_on\n                return msg\n            }\n        }\n    }\n}\n\n\n","outputs":1,"noerr":0,"x":960,"y":780,"wires":[["c2429ca7.2618b","d083c910.d4c55","2fd6f106.9f5e86"]],"info":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;"},{"id":"c2429ca7.2618b","type":"debug","z":"a76391e.e9c7d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":740,"wires":[]},{"id":"5eea68c6.bb2918","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":680,"wires":[]},{"id":"41c0e277.6a6d64","type":"http request","z":"b5a5d7d1.da846","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":550,"y":1220,"wires":[["e50ac458.4ace28","c04c707c.ec5028"]]},{"id":"6586adcb.630b54","type":"inject","z":"b5a5d7d1.da846","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1220,"wires":[["746c8c27.1e59a4"]]},{"id":"746c8c27.1e59a4","type":"function","z":"b5a5d7d1.da846","name":"","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n//msg.payload = { api_key: \"api_key_value\", sensor: \"luz\", location:\"telefonica\", value1: \"11\", value2: \"22\", value3: \"33\" };\nmsg.payload = { api_key: \"api_key_Clima\", sensor: \"luz\", location:\"telefonica\", value1: \"11\", value2: \"22\", value3: \"33\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1220,"wires":[["41c0e277.6a6d64"]]},{"id":"e50ac458.4ace28","type":"debug","z":"b5a5d7d1.da846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":1220,"wires":[]},{"id":"c04c707c.ec5028","type":"debug","z":"b5a5d7d1.da846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":1160,"wires":[]},{"id":"68726097.2191b","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sTopico = \"quarto\"     // editar para outro comodo - usado para o grafico\nvar sSensor = \"dht\"\nvar sTemperatura = msg.payload.t\nvar sUmidade = msg.payload.u\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n        msg.payload = { api_key: \"api_key_value\", table:\"Clima\", localidade: sTopico, sensor:sSensor, temperatura: sTemperatura, umidade: sUmidade};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":540,"y":2220,"wires":[["963bce4c.863fa"]]},{"id":"b4992e71.d45ac","type":"function","z":"b5a5d7d1.da846","name":"","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.payload = { api_key: \"api_key_value\", sensor: \"luz\", location:\"telefonica\", value1: \"11\", value2: \"22\", value3: \"33\" };\n \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1340,"wires":[[]]},{"id":"8693511a.c630a8","type":"http request","z":"b5a5d7d1.da846","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://iotpaulo.ddns.net/post-esp-data.php","tls":"","proxy":"","authType":"","x":530,"y":1340,"wires":[[]]},{"id":"963bce4c.863fa","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":730,"y":2220,"wires":[["bfd66a4c.bb2898"]]},{"id":"bfd66a4c.bb2898","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":2220,"wires":[]},{"id":"2375c002.0f3648","type":"debug","z":"f91e3b4.e8602c8","name":"Status_funcao","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":300,"wires":[]},{"id":"856ad6ce.e69168","type":"inject","z":"f91e3b4.e8602c8","name":"","topic":"","payload":"{\"ip\":\"192.168.1.49\",\"device\":\"ape/teste\",\"up\":\"2d 11:25\",\"reset\":\"75\",\"ver\":\"3.5.6\",\"status\":\"green\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["aa35ca26.8fc3f8"]]},{"id":"190a3bfd.7ff84c","type":"debug","z":"f91e3b4.e8602c8","name":"Status_json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":562.8881874084473,"y":302.76733684539795,"wires":[]},{"id":"f1e994ad.8d074","type":"comment","z":"f91e3b4.e8602c8","name":"excluir futuro (29/02/2020)","info":"o bloco insert timestamp foi subistituido pela linha\nmsg.payload.date = new Date() \nno bloco de função em 29/02/2020\n","x":590,"y":360,"wires":[]},{"id":"788f4818.687d68","type":"debug","z":"9271b3dc.6bcd3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":240,"wires":[]},{"id":"e0fa477f.2340d","type":"function","z":"9271b3dc.6bcd3","name":"","func":"var sTopico = \"externo\"     // editar para outro comodo - usado para o grafico\nvar sSensor = \"climaTempo\"\nvar sTemperatura = msg.payload.data.temperature\nvar sUmidade = msg.payload.data.humidity\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n        msg.payload = { api_key: \"api_key_value\", table:\"Clima\", localidade: sTopico, sensor:sSensor, temperatura: sTemperatura, umidade: sUmidade};\n        //msg.payload = { api_key: \"api_key_value\", table:\"SensorData\", location: topico, sensor:\"dht\", temperatura: msg.payload.t, umidade: msg.payload.u};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["f7bbdc31.11cfc8"]]},{"id":"f7bbdc31.11cfc8","type":"http request","z":"9271b3dc.6bcd3","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":790,"y":180,"wires":[["788f4818.687d68"]]},{"id":"8d6f7259.56811","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sTopico = \"telefonica\"     // editar para outro comodo - usado para o grafico\nvar sSensor = \"dht\"\nvar sTemperatura = msg.payload.t\nvar sUmidade = msg.payload.u\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n        msg.payload = { api_key: \"api_key_value\", table:\"Clima\", localidade: sTopico, sensor:sSensor, temperatura: sTemperatura, umidade: sUmidade};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":640,"y":1820,"wires":[["a94b9725.0d03c"]]},{"id":"a94b9725.0d03c","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":830,"y":1820,"wires":[["50dbef0f.8fb2b"]]},{"id":"50dbef0f.8fb2b","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":1820,"wires":[]},{"id":"711cdc23.3fa14c","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":1270,"y":840,"wires":[["3e889d9.fbc3662"]]},{"id":"2fd6f106.9f5e86","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sLocalidade = \"telefonica\"     // editar para outro comodo - usado para o grafico\nvar sData = msg.dia\nvar sTempoLigado = msg.tempo_ligado\n\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n            msg.payload = { api_key: \"api_key_value\", table:\"TempoLuz\", localidade: sLocalidade, data:sData, tempoligado: sTempoLigado};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":1020,"y":840,"wires":[["711cdc23.3fa14c"]]},{"id":"3e889d9.fbc3662","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":940,"wires":[]},{"id":"d083c910.d4c55","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"dia","targetType":"msg","x":1160,"y":1000,"wires":[]},{"id":"63515e37.fc6008","type":"function","z":"a76391e.e9c7d7","name":"Calculo tempo aceso","func":"var now = new Date();   // current time\nvar time_on = context.get(\"time_on\") || 0 \n\n\nif (msg.payload == \"on\"){\n    if(time_on === 0){\n        context.set(\"time_on\", now)\n        node.warn(\"iniciou coleta tempo \" + now);\n    }\n} else {\n    if(time_on !== 0){\n        if (msg.payload == \"off\"){\n\n            start = context.get(\"time_on\")\n            Start_day =\t\tstart.getDate()\n            Start_month =\tstart.getMonth() + 1\n            Start_year =\tstart.getFullYear()\n            Start_hours =\tstart.getHours()\n            Start_mins =\tstart.getMinutes()\n    \n            Fim_day =\tnow.getDate()\n            Fim_month =\tnow.getMonth() + 1\n            Fim_year =\tnow.getFullYear()\n            Fim_hours =\tnow.getHours()\n            Fim_mins =\tnow.getMinutes()\n    \n            node.warn(\"finalizou coleta tempo\\ninicio = \" + context.get(\"time_on\") + \"\\nfinal =  \" + now );\n        \n            msg.tempo_ligado = Math.round((now - context.get(\"time_on\"))/1000/60)\n            msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n        \n            context.set(\"time_on\", 0)\n            \n            if ((Fim_day > Start_day) || (Fim_month > Start_month) || (Fim_year > Start_year)){\n                msg.tempo_ligado = Math.round(1440 -  ((Start_hours * 60) + Start_mins))\n                msg.tempo_ligado_1 = Math.round((Fim_hours * 60) + Fim_mins)\n                msg.dia = Start_year +\"-\"+ Start_month +\"-\"+ Start_day\n                msg.dia_1 = Fim_year +\"-\"+ Fim_month +\"-\"+ Fim_day\n            }\n            \n            if (msg.tempo_ligado !== 0){\n                msg.flow_time_on1 = time_on\n                return msg\n            }\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":1140,"y":380,"wires":[["7f2483d4.da3e4c","3e999854.c471b8"]],"info":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;"},{"id":"3e999854.c471b8","type":"function","z":"a76391e.e9c7d7","name":"http post data","func":"var sLocalidade = \"quarto\"     // editar para outro comodo - usado para o grafico\nvar sData = msg.dia\nvar sTempoLigado = msg.tempo_ligado\n\n\nif(msg.payload !== \"input\") {\n\n    if(msg.payload.u !== \"0.00\" && msg.payload.t !== \"0.00\"){\n        msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n            msg.payload = { api_key: \"api_key_value\", table:\"TempoLuz\", localidade: sLocalidade, data:sData, tempoligado: sTempoLigado};\n        return msg\n\n    }\n\n}\n\n \n","outputs":1,"noerr":0,"x":1200,"y":440,"wires":[["c3914de0.fce46"]]},{"id":"c3914de0.fce46","type":"http request","z":"a76391e.e9c7d7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost/post-esp-data.php","tls":"","proxy":"","authType":"","x":1370,"y":440,"wires":[["da9486a0.146fd8"]]},{"id":"da9486a0.146fd8","type":"debug","z":"a76391e.e9c7d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1570,"y":440,"wires":[]},{"id":"7f2483d4.da3e4c","type":"debug","z":"a76391e.e9c7d7","name":"1 out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1330,"y":340,"wires":[]},{"id":"77541d0e.debe7c","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":260,"wires":[["63515e37.fc6008"]]},{"id":"bb85114b.ab2ee","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":200,"wires":[["63515e37.fc6008"]]},{"id":"5ef7c0d5.7e5818","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/luz","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":640,"wires":[["177dd60.1314e2a"]]},{"id":"7a4efed2.b6c18","type":"inject","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/luz","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":600,"wires":[["177dd60.1314e2a"]]},{"id":"3424f495.b8fd84","type":"debug","z":"9271b3dc.6bcd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":260,"wires":[]},{"id":"e0113b37.08907","type":"http request","z":"9271b3dc.6bcd3","name":"GET ClimaTempo Previsão","method":"GET","ret":"obj","paytoqs":false,"url":"http://apiadvisor.climatempo.com.br/api/v1/forecast/locale/3477/days/15?token=6437f1eb0ce7916ac9dcf5338023d66d","tls":"","proxy":"","authType":"","x":560,"y":360,"wires":[["5a2fcebe.828658"]]},{"id":"5a2fcebe.828658","type":"debug","z":"9271b3dc.6bcd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":360,"wires":[]},{"id":"1b24a232.7b668e","type":"inject","z":"9271b3dc.6bcd3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":360,"wires":[["e0113b37.08907"]]},{"id":"84ebf1ac.83c748","type":"inject","z":"9271b3dc.6bcd3","name":"forecast","topic":"","payload":"{\"id\":3477,\"name\":\"São Paulo\",\"state\":\"SP\",\"country\":\"BR  \",\"meteogram\":\"http://apiadvisor.climatempo.com.br/api/v1/meteogram/locale/3477?token=6437f1eb0ce7916ac9dcf5338023d66d&hash=b5c8058d2f91953a1a6424a9e52aaa12\",\"data\":[{\"date\":\"2020-03-02\",\"date_br\":\"02/03/2020\",\"humidity\":{\"min\":56,\"max\":86,\"dawn\":{\"min\":83,\"max\":84},\"morning\":{\"min\":56,\"max\":82},\"afternoon\":{\"min\":56,\"max\":67},\"night\":{\"min\":69,\"max\":77}},\"rain\":{\"probability\":71,\"precipitation\":30},\"wind\":{\"velocity_min\":16,\"velocity_max\":27,\"velocity_avg\":22,\"gust_max\":47,\"direction_degrees\":128,\"direction\":\"ESE\",\"dawn\":{\"direction\":\"ESE\",\"direction_degrees\":128,\"gust_max\":47,\"velocity_max\":27,\"velocity_avg\":27},\"morning\":{\"direction\":\"ESE\",\"direction_degrees\":119,\"gust_max\":43,\"velocity_max\":25,\"velocity_avg\":22},\"afternoon\":{\"direction\":\"ESE\",\"direction_degrees\":126,\"gust_max\":26,\"velocity_max\":20,\"velocity_avg\":18},\"night\":{\"direction\":\"SE\",\"direction_degrees\":137,\"gust_max\":36,\"velocity_max\":25,\"velocity_avg\":23}},\"uv\":{\"max\":13.5},\"thermal_sensation\":{\"min\":17,\"max\":24},\"text_icon\":{\"icon\":{\"dawn\":\"2rn\",\"morning\":\"2r\",\"afternoon\":\"4r\",\"night\":\"4rn\",\"day\":\"4r\"},\"text\":{\"pt\":\"Sol com muitas nuvens e chuva\",\"en\":\"Sun and rain.\",\"es\":\"Sol con muchas nubes durante el día. Períodos de nublado, con lluvia a cualquier hora.\",\"phrase\":{\"reduced\":\"Sol com muitas nuvens. Pancadas de chuva à tarde e à noite.\",\"morning\":\"Sol com muitas nuvens\",\"afternoon\":\"Sol com muitas nuvens e chuva\",\"night\":\"Muitas nuvens e chuva\",\"dawn\":\"Muitas nuvens\"}}},\"temperature\":{\"min\":17,\"max\":24,\"dawn\":{\"min\":17,\"max\":18},\"morning\":{\"min\":17,\"max\":19},\"afternoon\":{\"min\":21,\"max\":24},\"night\":{\"min\":19,\"max\":24}},\"cloud_coverage\":{\"low\":59.2,\"mid\":0,\"high\":0,\"dawn\":{\"low\":90.8,\"mid\":0,\"high\":0},\"morning\":{\"low\":76.2,\"mid\":0,\"high\":0},\"afternoon\":{\"low\":34.8,\"mid\":0,\"high\":0},\"night\":{\"low\":34.8,\"mid\":0,\"high\":0}},\"sun\":{\"sunrise\":\"06:02:00\",\"sunset\":\"18:33:00\"}},{\"date\":\"2020-03-03\",\"date_br\":\"03/03/2020\",\"humidity\":{\"min\":52,\"max\":85,\"dawn\":{\"min\":78,\"max\":84},\"morning\":{\"min\":61,\"max\":85},\"afternoon\":{\"min\":52,\"max\":69},\"night\":{\"min\":72,\"max\":83}},\"rain\":{\"probability\":90,\"precipitation\":10},\"wind\":{\"velocity_min\":6,\"velocity_max\":22,\"velocity_avg\":15,\"gust_max\":34,\"direction_degrees\":145,\"direction\":\"SE\",\"dawn\":{\"direction\":\"ESE\",\"direction_degrees\":124,\"gust_max\":34,\"velocity_max\":21,\"velocity_avg\":18},\"morning\":{\"direction\":\"ESE\",\"direction_degrees\":122,\"gust_max\":26,\"velocity_max\":15,\"velocity_avg\":14},\"afternoon\":{\"direction\":\"ESE\",\"direction_degrees\":141,\"gust_max\":17,\"velocity_max\":12,\"velocity_avg\":9},\"night\":{\"direction\":\"S\",\"direction_degrees\":183,\"gust_max\":35,\"velocity_max\":22,\"velocity_avg\":21}},\"uv\":{\"max\":20.4},\"thermal_sensation\":{\"min\":17,\"max\":24},\"text_icon\":{\"icon\":{\"dawn\":\"4rn\",\"morning\":\"4r\",\"afternoon\":\"4r\",\"night\":\"4rn\",\"day\":\"4r\"},\"text\":{\"pt\":\"Sol com muitas nuvens e chuva\",\"en\":\"Sun and rain.\",\"es\":\"Sol con muchas nubes durante el día. Períodos de nublado, con lluvia a cualquier hora.\",\"phrase\":{\"reduced\":\"Sol com muitas nuvens durante o dia. Períodos de nublado, com chuva a qualquer hora.\",\"morning\":\"Sol com muitas nuvens e chuva\",\"afternoon\":\"Sol com muitas nuvens e chuva\",\"night\":\"Muitas nuvens e chuva\",\"dawn\":\"Muitas nuvens e chuva\"}}},\"temperature\":{\"min\":17,\"max\":24,\"dawn\":{\"min\":17,\"max\":18},\"morning\":{\"min\":17,\"max\":19},\"afternoon\":{\"min\":21,\"max\":24},\"night\":{\"min\":20,\"max\":22}},\"cloud_coverage\":{\"low\":38.1,\"mid\":0,\"high\":0,\"dawn\":{\"low\":31.2,\"mid\":0,\"high\":0},\"morning\":{\"low\":38.5,\"mid\":0,\"high\":0},\"afternoon\":{\"low\":36.7,\"mid\":0,\"high\":0},\"night\":{\"low\":46.2,\"mid\":0,\"high\":0}},\"sun\":{\"sunrise\":\"06:03:00\",\"sunset\":\"18:33:00\"}},{\"date\":\"2020-03-04\",\"date_br\":\"04/03/2020\",\"humidity\":{\"min\":56,\"max\":83,\"dawn\":{\"min\":82,\"max\":83},\"morning\":{\"min\":66,\"max\":83},\"afternoon\":{\"min\":56,\"max\":65},\"night\":{\"min\":71,\"max\":76}},\"rain\":{\"probability\":90,\"precipitation\":8},\"wind\":{\"velocity_min\":12,\"velocity_max\":24,\"velocity_avg\":17,\"gust_max\":38,\"direction_degrees\":177,\"direction\":\"SSE\",\"dawn\":{\"direction\":\"S\",\"direction_degrees\":183,\"gust_max\":38,\"velocity_max\":24,\"velocity_avg\":22},\"morning\":{\"direction\":\"SSE\",\"direction_degrees\":171,\"gust_max\":29,\"velocity_max\":18,\"velocity_avg\":16},\"afternoon\":{\"direction\":\"SSE\",\"direction_degrees\":177,\"gust_max\":18,\"velocity_max\":16,\"velocity_avg\":13},\"night\":{\"direction\":\"SSE\",\"direction_degrees\":176,\"gust_max\":28,\"velocity_max\":21,\"velocity_avg\":19}},\"uv\":{\"max\":6.8},\"thermal_sensation\":{\"min\":17,\"max\":23},\"text_icon\":{\"icon\":{\"dawn\":\"2rn\",\"morning\":\"2r\",\"afternoon\":\"4r\",\"night\":\"4rn\",\"day\":\"4r\"},\"text\":{\"pt\":\"Sol com muitas nuvens e chuva\",\"en\":\"Sun and rain.\",\"es\":\"Sol con muchas nubes durante el día. Períodos de nublado, con lluvia a cualquier hora.\",\"phrase\":{\"reduced\":\"Sol com muitas nuvens. Pancadas de chuva à tarde e à noite.\",\"morning\":\"Sol com muitas nuvens\",\"afternoon\":\"Sol com muitas nuvens e chuva\",\"night\":\"Muitas nuvens e chuva\",\"dawn\":\"Muitas nuvens\"}}},\"temperature\":{\"min\":17,\"max\":23,\"dawn\":{\"min\":17,\"max\":18},\"morning\":{\"min\":17,\"max\":19},\"afternoon\":{\"min\":20,\"max\":23},\"night\":{\"min\":19,\"max\":21}},\"cloud_coverage\":{\"low\":37.7,\"mid\":0,\"high\":0,\"dawn\":{\"low\":48,\"mid\":0,\"high\":0},\"morning\":{\"low\":27.5,\"mid\":0,\"high\":0},\"afternoon\":{\"low\":42.3,\"mid\":0,\"high\":0},\"night\":{\"low\":33,\"mid\":0,\"high\":0}},\"sun\":{\"sunrise\":\"06:03:00\",\"sunset\":\"18:32:00\"}},{\"date\":\"2020-03-05\",\"date_br\":\"05/03/2020\",\"humidity\":{\"min\":54,\"max\":79,\"dawn\":{\"min\":77,\"max\":79},\"morning\":{\"min\":61,\"max\":79},\"afternoon\":{\"min\":54,\"max\":57},\"night\":{\"min\":63,\"max\":74}},\"rain\":{\"probability\":90,\"precipitation\":7},\"wind\":{\"velocity_min\":13,\"velocity_max\":21,\"velocity_avg\":16,\"gust_max\":29,\"direction_degrees\":173,\"direction\":\"SSE\",\"dawn\":{\"direction\":\"SSE\",\"direction_degrees\":168,\"gust_max\":25,\"velocity_max\":17,\"velocity_avg\":15},\"morning\":{\"direction\":\"SSE\",\"direction_degrees\":168,\"gust_max\":25,\"velocity_max\":16,\"velocity_avg\":15},\"afternoon\":{\"direction\":\"SSE\",\"direction_degrees\":176,\"gust_max\":22,\"velocity_max\":18,\"velocity_avg\":15},\"night\":{\"direction\":\"SSE\",\"direction_degrees\":178,\"gust_max\":29,\"velocity_max\":21,\"velocity_avg\":20}},\"uv\":{\"max\":11.1},\"thermal_sensation\":{\"min\":16,\"max\":24},\"text_icon\":{\"icon\":{\"dawn\":\"2rn\",\"morning\":\"2r\",\"afternoon\":\"4r\",\"night\":\"4rn\",\"day\":\"4r\"},\"text\":{\"pt\":\"Sol com muitas nuvens e chuva\",\"en\":\"Sun and rain.\",\"es\":\"Sol con muchas nubes durante el día. Períodos de nublado, con lluvia a cualquier hora.\",\"phrase\":{\"reduced\":\"Sol com muitas nuvens. Pancadas de chuva à tarde e à noite.\",\"morning\":\"Sol com muitas nuvens\",\"afternoon\":\"Sol com muitas nuvens e chuva\",\"night\":\"Muitas nuvens e chuva\",\"dawn\":\"Muitas nuvens\"}}},\"temperature\":{\"min\":16,\"max\":24,\"dawn\":{\"min\":17,\"max\":18},\"morning\":{\"min\":16,\"max\":18},\"afternoon\":{\"min\":20,\"max\":24},\"night\":{\"min\":19,\"max\":24}},\"cloud_coverage\":{\"low\":28,\"mid\":0,\"high\":0,\"dawn\":{\"low\":20.2,\"mid\":0,\"high\":0},\"morning\":{\"low\":40.5,\"mid\":0,\"high\":0},\"afternoon\":{\"low\":42.3,\"mid\":0,\"high\":0},\"night\":{\"low\":9.2,\"mid\":0,\"high\":0}},\"sun\":{\"sunrise\":\"06:04:00\",\"sunset\":\"18:31:00\"}},{\"date\":\"2020-03-06\",\"date_br\":\"06/03/2020\",\"humidity\":{\"min\":44,\"max\":76,\"dawn\":{\"min\":72,\"max\":75},\"morning\":{\"min\":47,\"max\":76},\"afternoon\":{\"min\":44,\"max\":51},\"night\":{\"min\":57,\"max\":71}},\"rain\":{\"probability\":0,\"precipitation\":1},\"wind\":{\"velocity_min\":14,\"velocity_max\":21,\"velocity_avg\":17,\"gust_max\":30,\"direction_degrees\":152,\"direction\":\"SE\",\"dawn\":{\"direction\":\"SSE\",\"direction_degrees\":162,\"gust_max\":30,\"velocity_max\":19,\"velocity_avg\":18},\"morning\":{\"direction\":\"SE\",\"direction_degrees\":150,\"gust_max\":26,\"velocity_max\":17,\"velocity_avg\":16},\"afternoon\":{\"direction\":\"SE\",\"direction_degrees\":143,\"gust_max\":24,\"velocity_max\":16,\"velocity_avg\":15},\"night\":{\"direction\":\"SE\",\"direction_degrees\":150,\"gust_max\":29,\"velocity_max\":21,\"velocity_avg\":19}},\"uv\":{\"max\":11.1},\"thermal_sensation\":{\"min\":16,\"max\":24},\"text_icon\":{\"icon\":{\"dawn\":\"2rn\",\"morning\":\"2r\",\"afternoon\":\"2r\",\"night\":\"3n\",\"day\":\"2r\"},\"text\":{\"pt\":\"Sol com muitas nuvens\",\"en\":\"Mostly cloudy.\",\"es\":\"Sol con muchas nubes.\",\"phrase\":{\"reduced\":\"Sol com muitas nuvens durante o dia e períodos de céu nublado. Noite nublada com possibilidade de garoa. \",\"morning\":\"Sol com muitas nuvens\",\"afternoon\":\"Sol com muitas nuvens\",\"night\":\"Nublado com possibilidade de chuviscos\",\"dawn\":\"Muitas nuvens\"}}},\"temperature\":{\"min\":16,\"max\":24,\"dawn\":{\"min\":18,\"max\":24},\"morning\":{\"min\":17,\"max\":18},\"afternoon\":{\"min\":18,\"max\":22},\"night\":{\"min\":16,\"max\":18}},\"cloud_coverage\":{\"low\":2.8,\"mid\":0,\"high\":0,\"dawn\":{\"low\":11,\"mid\":0,\"high\":0},\"morning\":{\"low\":0,\"mid\":0,\"high\":0},\"afternoon\":{\"low\":0,\"mid\":0,\"high\":0},\"night\":{\"low\":0,\"mid\":0,\"high\":0}},\"sun\":{\"sunrise\":\"06:04:00\",\"sunset\":\"18:30:00\"}},{\"date\":\"2020-03-07\",\"date_br\":\"07/03/2020\",\"humidity\":{\"min\":39,\"max\":78,\"dawn\":{\"min\":72,\"max\":77},\"morning\":{\"min\":52,\"max\":78},\"afternoon\":{\"min\":39,\"max\":52},\"night\":{\"min\":58,\"max\":71}},\"rain\":{\"probability\":90,\"precipitation\":8},\"wind\":{\"velocity_min\":8,\"velocity_max\":21,\"velocity_avg\":15,\"gust_max\":29,\"direction_degrees\":129,\"direction\":\"ESE\",\"dawn\":{\"direction\":\"SE\",\"direction_degrees\":134,\"gust_max\":28,\"velocity_max\":18,\"velocity_avg\":17},\"morning\":{\"direction\":\"ESE\",\"direction_degrees\":113,\"gust_max\":26,\"velocity_max\":16,\"velocity_avg\":15},\"afternoon\":{\"direction\":\"ESE\",\"direction_degrees\":119,\"gust_max\":21,\"velocity_max\":15,\"velocity_avg\":11},\"night\":{\"direction\":\"SE\",\"direction_degrees\":143,\"gust_max\":29,\"velocity_max\":21,\"velocity_avg\":18}},\"uv\":{\"max\":10.9},\"thermal_sensation\":{\"min\":15,\"max\":27},\"text_icon\":{\"icon\":{\"dawn\":\"2rn\",\"morning\":\"2r\",\"afternoon\":\"4t\",\"night\":\"4tn\",\"day\":\"4t\"},\"text\":{\"pt\":\"Sol, pancadas de chuva e trovoadas.\",\"en\":\"Sun, rainfalls and thunderstorms\",\"es\":\"Sol, lluvia y tormentas\",\"phrase\":{\"reduced\":\"Sol com muitas nuvens. Pancadas de chuva à tarde e à noite.\",\"morning\":\"Sol com muitas nuvens\",\"afternoon\":\"Sol, pancadas de chuva e trovoadas.\",\"night\":\"Muitas nuvens, chuva e raios\",\"dawn\":\"Muitas nuvens\"}}},\"temperature\":{\"min\":15,\"max\":26,\"dawn\":{\"min\":16,\"max\":18},\"morning\":{\"min\":15,\"max\":18},\"afternoon\":{\"min\":20,\"max\":26},\"night\":{\"min\":18,\"max\":25}},\"cloud_coverage\":{\"low\":0.9,\"mid\":0,\"high\":0,\"dawn\":{\"low\":0,\"mid\":0,\"high\":0},\"morning\":{\"low\":3.7,\"mid\":0,\"high\":0},\"afternoon\":{\"low\":0,\"mid\":0,\"high\":0},\"night\":{\"low\":0,\"mid\":0,\"high\":0}},\"sun\":{\"sunrise\":\"06:05:00\",\"sunset\":\"18:29:00\"}},{\"date\":\"2020-03-08\",\"date_br\":\"08/03/2020\",\"humidity\":{\"min\":38,\"max\":77,\"dawn\":{\"min\":73,\"max\":77},\"morning\":{\"min\":51,\"max\":77},\"afternoon\":{\"min\":38,\"max\":59},\"night\":{\"min\":63,\"max\":72}},\"rain\":{\"probability\":0,\"precipitation\":0},\"wind\":{\"velocity_min\":9,\"velocity_max\":22,\"velocity_avg\":15,\"gust_max\":31,\"direction_degrees\":111,\"direction\":\"E\",\"dawn\":{\"direction\":\"ESE\",\"direction_degrees\":120,\"gust_max\":27,\"velocity_max\":17,\"velocity_avg\":16},\"morning\":{\"direction\":\"E\",\"direction_degrees\":96,\"gust_max\":25,\"velocity_max\":16,\"velocity_avg\":15},\"afternoon\":{\"direction\":\"E\",\"direction_degrees\":96,\"gust_max\":20,\"velocity_max\":14,\"velocity_avg\":11},\"night\":{\"direction\":\"ESE\",\"direction_degrees\":125,\"gust_max\":31,\"velocity_max\":22,\"velocity_avg\":19}},\"uv\":{\"max\":13.4},\"thermal_sensation\":{\"min\":18,\"max\":27},\"text_icon\":{\"icon\":{\"dawn\":\"1n\",\"morning\":\"1\",\"afternoon\":\"1\",\"night\":\"1n\",\"day\":\"1\"},\"text\":{\"pt\":\"Sol\",\"en\":\"Sunny\",\"es\":\"Sol durante todo el día sin nubes en el cielo. Noche despejada y sin nubes.\",\"phrase\":{\"reduced\":\"Sol o dia todo sem nuvens no céu. Noite de tempo aberto ainda sem nuvens.\",\"morning\":\"Sol\",\"afternoon\":\"Sol\",\"night\":\"Tempo aberto\",\"dawn\":\"Tempo aberto\"}}},\"temperature\":{\"min\":18,\"max\":26,\"dawn\":{\"min\":18,\"max\":19},\"morning\":{\"min\":18,\"max\":19},\"afternoon\":{\"min\":21,\"max\":26},\"night\":{\"min\":20,\"max\":25}},\"cloud_coverage\":{\"low\":1.8,\"mid\":0,\"high\":0,\"dawn\":{\"low\":0,\"mid\":0,\"high\":0},\"morning\":{\"low\":0,\"mid\":0,\"high\":0},\"afternoon\":{\"low\":0,\"mid\":0,\"high\":0},\"night\":{\"low\":7.3,\"mid\":0,\"high\":0}},\"sun\":{\"sunrise\":\"06:05:00\",\"sunset\":\"18:28:00\"}}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":500,"wires":[["8d335ffe.501568","dd0aafdf.6aee98"]]},{"id":"8d335ffe.501568","type":"debug","z":"9271b3dc.6bcd3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":440,"wires":[]},{"id":"7479293d.7dc56","type":"ui_template","z":"9271b3dc.6bcd3","group":"8e7b88aa.51306","name":"HTML Temperatura","order":2,"width":"4","height":"7","format":"<table border=0  cellspacing=\"1\">\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n           <font size=\"3\">{{msg.payload.name}} - {{msg.payload.state}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td>\n            <img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data.icon}}.png width=\"55\" height=\"55\">\n        </td>\n        <th>\n            <font size=\"7\">{{msg.payload.data.temperature}}°</font>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>    \n        </th>\n    </tr>\n    <tr>\n        <td  align='center' COLSPAN=\"3\">\n            <font size=\"3\">{{msg.payload.data.condition}}</font>\n        </td>\n    </tr>\n</table>\n\n <hr width=\"50%\"> \n\n<p align ='Center'><font size=\"3\"><B>Amanhã</B></font></p>\n<p align ='Center'><font size=\"3\">{{msg.payload.data[1].text_icon.text.pt}}</font></p>\n\n<table align ='Center' >\n    <tr>\n    \t<td style = \"padding: 3px\" COLSPAN=\"2\"><font size=\"4\">&#127785;</font>{{msg.payload.data[1].rain.probability}}% </td>\n    \t<td style = \"padding: 3px\" COLSPAN=\"2\"><img src=\"http://www.climatempo.com.br/dist/images/gota-azul.png\" width=\"10\" height=\"10\">{{payload.data[1].rain.precipitation}}<font size=\"2\">mm</font></td>\n    </tr>\n    <tr>\n        <td style = \"padding: 3px\">Manha </td>\n        <td style = \"padding: 3px\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data[1].text_icon.icon.morning}}.png width=\"20\" height=\"20\"></td> \n         \n        <td style = \"padding: 3px\" align ='Center'>&darr;{{msg.payload.data[1].temperature.morning.min}}°</td>\n        <td style = \"padding: 3px\" align ='Center'>&uarr;{{msg.payload.data[1].temperature.morning.max}}°</td>\n\t</tr>\n    <tr>\n        <td style = \"padding: 3px\">Tarde</td>\n        <td style = \"padding: 3px\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data[1].text_icon.icon.afternoon}}.png width=\"20\" height=\"20\"></td> \n        <td style = \"padding: 3px\" align ='Center'>&darr;{{msg.payload.data[1].temperature.afternoon.min}}°</td>\n        <td style = \"padding: 3px\" align ='Center'>&uarr;{{msg.payload.data[1].temperature.afternoon.max}}°</td>\n    </tr>\n\t<tr>\n        <td style = \"padding: 3px\">Noite</td>\n        <td style = \"padding: 3px\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data[1].text_icon.icon.night}}.png width=\"20\" height=\"20\"></td> \n        <td style = \"padding: 3px\" align ='Center'>&darr;{{msg.payload.data[1].temperature.night.min}}°</td>\n        <td style = \"padding: 3px\" align ='Center'>&uarr;{{msg.payload.data[1].temperature.night.max}}°</td>\n    </tr>\n\n</table>\n\n<p align='Center'><font size=\"2\">Update {{msg.payload.update}}</font></p>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":830,"y":460,"wires":[[]]},{"id":"98f1714.84d979","type":"ui_template","z":"9271b3dc.6bcd3","group":"a095bd78.a8514","name":"HTML Temperatura","order":16,"width":"6","height":"3","format":"<center>\n<table border=0 cellspacing=\"1\">\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n           <font size=\"3\">{{msg.payload.name}} - {{msg.payload.state}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td>\n            <img style=\"display: block; margin-left: auto; margin-right: auto;\" src=/{{msg.payload.data.icon}}.png width=\"55\" height=\"55\">\n        </td>\n        <th>\n            <font size=\"7\">{{msg.payload.data.temperature}}°</font>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>    \n        </th>\n        <!---\n        <th align='bottom'>\n            <font size=\"3\">{{msg.payload.data.humidity}}%</font>\n        </th>  -->\n    </tr>\n    <tr>\n        <td  align='center' COLSPAN=\"3\">\n            <font size=\"3\">{{msg.payload.data.condition}}</font>\n        </td>\n    </tr>\n    <tr>\n        <td align='center' COLSPAN=\"3\">\n            <font size=\"2\">Update {{msg.payload.update}}</font>\n        </td>\n    </tr>\n</table>\n</center>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":830,"y":500,"wires":[[]]},{"id":"dd0aafdf.6aee98","type":"function","z":"9271b3dc.6bcd3","name":"","func":"//if (msg.payload.data.temperature === undefined){\n//    node.warn(\"msg.payload = undefined\")\n//}else{\n//    node.warn(\"msg.payload = \" + msg.payload.data.temperature)  /\n//}//\n\nif (msg.payload.data.temperature === undefined){\n} else {\n    var payload = {\n        \"name\": msg.payload.name,\n        \"state\": msg.payload.state,\n        \"data\": {\n            \"temperature\": msg.payload.data.temperature,\n            \"humidity\": msg.payload.data.humidity,\n            \"condition\": msg.payload.data.condition,\n            \"icon\": msg.payload.data.icon\n        }\n    }\n}\n\n\n\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["575df117.789b18","7479293d.7dc56"]]},{"id":"575df117.789b18","type":"debug","z":"9271b3dc.6bcd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":540,"wires":[]},{"id":"53ac29c6.c70b18","type":"inject","z":"9271b3dc.6bcd3","name":"atual","topic":"","payload":"{\"id\":3477,\"name\":\"São Paulo\",\"state\":\"SP\",\"country\":\"BR  \",\"data\":{\"temperature\":21,\"wind_direction\":\"S\",\"wind_velocity\":20,\"humidity\":78,\"condition\":\"Muitas nuvens\",\"pressure\":1018,\"icon\":\"2\",\"sensation\":21,\"date\":\"2020-03-03 14:29:54\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":440,"wires":[["dd0aafdf.6aee98"]]},{"id":"22bd6b2f.0c0054","type":"inject","z":"9271b3dc.6bcd3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":560,"wires":[["7479293d.7dc56"]]}]