lib/flows/Botao_Luz.json
[{"id":"397c41b1.6500ae","type":"ui_button","z":"a76391e.e9c7d7","name":"","group":"429684d4.0d8494","order":0,"width":"2","height":"1","passthru":false,"label":"Luz","color":"","bgcolor":"","icon":"wb_incandescent","payload":"","payloadType":"str","topic":"","x":592.22216796875,"y":1068.3331604003906,"wires":[["80a37375.b82eb8"]]},{"id":"6338dbb9.66a234","type":"ui_text","z":"a76391e.e9c7d7","group":"429684d4.0d8494","order":0,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":760.0555419921875,"y":1201.610595703125,"wires":[]},{"id":"80a37375.b82eb8","type":"function","z":"a76391e.e9c7d7","name":"Func Botão","func":"var topic = \"ape/teste/luz1\"        // alterar locationid/deviceid/mqttAtuadorId\nvar topPublic = topic+\"/change\"     //não altera  \n\n\nif(msg.topic=== topic){\n    \n    if(msg.payload === \"on\"){\n        flow.set(\"var_botao\", \"off\");\n    } else if (msg.payload === \"off\"){\n        flow.set(\"var_botao\", \"on\");\n    }\n} else {\n\tmsg.payload = flow.get(\"var_botao\")\n\tmsg.topic = topPublic;\n\treturn msg;\n}","outputs":1,"noerr":0,"x":748.4026489257812,"y":1124.8887634277344,"wires":[["88f279ea.35c948"]]},{"id":"412b100f.6bf61","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste/luz1","qos":"1","broker":"25167bbc.e1295c","x":191.74996948242188,"y":1120.3887481689453,"wires":[["80a37375.b82eb8","6eb51cc7.5410ec","53f3c8ea.0730a8"]]},{"id":"88f279ea.35c948","type":"mqtt out","z":"a76391e.e9c7d7","name":"","topic":"","qos":"","retain":"","broker":"25167bbc.e1295c","x":898.999755859375,"y":1124.8610534667969,"wires":[]},{"id":"4e227f2b.371768","type":"change","z":"a76391e.e9c7d7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"disconnect","fromt":"str","to":"Disconectado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610.4483642578125,"y":1247.694091796875,"wires":[["6338dbb9.66a234"]]},{"id":"6eb51cc7.5410ec","type":"function","z":"a76391e.e9c7d7","name":"Enable/Disable","func":"if(msg.payload === \"disconnect\")\n{\n    msg.enabled = false;\n} else {\n     msg.enabled = true;\n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410.6944580078125,"y":1066.2499694824219,"wires":[["397c41b1.6500ae","53f3c8ea.0730a8"]]},{"id":"a702fd85.9137c","type":"mqtt in","z":"a76391e.e9c7d7","name":"","topic":"ape/teste","qos":"1","broker":"25167bbc.e1295c","x":193.80543518066406,"y":1063.0276489257812,"wires":[["6eb51cc7.5410ec"]]},{"id":"56f6d61d.0a0c58","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"\n            locationId/deviceId/mqttAtuadorID\nvar topic = \"ape/teste/luz1\"\n\n\n","x":746.25,"y":1091.2498168945312,"wires":[]},{"id":"f580b344.3297e","type":"comment","z":"a76391e.e9c7d7","name":"Alterar group","info":"Alterar group dashboard\n","x":758.333251953125,"y":1169.3333740234375,"wires":[]},{"id":"d2f6c6b9.109b8","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid/mqttAtuadorId/change\n\nape/teste/luz1/change","x":597.82763671875,"y":1034.0054626464844,"wires":[]},{"id":"f9fee973.ca782","type":"comment","z":"a76391e.e9c7d7","name":"Alterar topic","info":"locationid/deviceid\nape/teste\n\nlocationid/deviceid/mqttAtuadorId\nape/teste/luz1","x":187.0498809814453,"y":1025.4500122070312,"wires":[]},{"id":"53f3c8ea.0730a8","type":"switch","z":"a76391e.e9c7d7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disconnect","vt":"str"},{"t":"neq","v":"disconnect","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":467.833251953125,"y":1192.0552978515625,"wires":[["6338dbb9.66a234"],["4e227f2b.371768"]]},{"id":"429684d4.0d8494","type":"ui_group","z":"","name":"Teste","tab":"a6128e88.77045","order":3,"disp":true,"width":"4","collapse":false},{"id":"25167bbc.e1295c","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a6128e88.77045","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]